@model Pokedex.Models.RegisterViewModel
@{
    Layout = "_Layout";
}

<h2>Sign Up</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        <div class="form-group row">
            @Html.LabelFor(x => x.Username, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Username, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Username)
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.Password, new { @class = "col-md-2" })
            @Html.PasswordFor(x => x.Password, new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.PasswordConfirm, new { @class = "col-md-2" })
            @Html.PasswordFor(x => x.PasswordConfirm, new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.PasswordConfirm)
        </div>

        @Html.ValidationSummary()

        <p>
            <button type="submit" class="btn btn-primary" role="button">Sign Up</button>
        </p>
    }
    
</div>