@model Pokedex.Models.AlternateFormsFormViewModel

<h2>Update Alternate Form's Form</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {      
        @Html.AntiForgeryToken()
          
        @Html.HiddenFor(x => x.PokemonFormDetail.Id)
        @Html.HiddenFor(x => x.PokemonFormDetail.OriginalPokemonId)
        @Html.HiddenFor(x => x.PokemonFormDetail.AltFormPokemonId)

        @Html.ValidationSummary()

        <div class="form-group row">
            @Html.LabelFor(x => x.PokemonFormDetail.FormId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.PokemonFormDetail.FormId, new SelectList(Model.AllForms, "Id", "Name"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.PokemonFormDetail.FormId)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Save</button>
        </p>
    }

</div>