@model Pokedex.DataAccess.Models.Pokemon

<h2>Update @Model.Name's Official Image</h2>

<div class="form-horizontal">

    @using (Html.BeginForm(FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        @Html.HiddenFor(x => x.IsComplete)
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Name)
        @Html.HiddenFor(x => x.PokedexNumber)
        @Html.HiddenFor(x => x.ClassificationId)
        @Html.HiddenFor(x => x.GameId)
        @Html.HiddenFor(x => x.Height)
        @Html.HiddenFor(x => x.Weight)
        @Html.HiddenFor(x => x.EggCycleId)
        @Html.HiddenFor(x => x.GenderRatioId)
        @Html.HiddenFor(x => x.ExperienceGrowthId)

        <div class="form-group row">
            <label for="PictureFile" class="col-md-2">Upload With File</label>
            <div class="col-md-8 addPokemonImage">
                <input type="file" accept="image/png" id="PictureFile" name="fileUpload" />
            </div>
        </div>

        <p>Or</p>

        <div class="form-group row">
            <label for="PictureUrl" class="col-md-2">Upload With URL</label>
            <div class="col-md-8 addPokemonImage">
                <input type="text" accept="image/png" id="PictureUrl" name="urlUpload" />
            </div>
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Update</button>
        </p>
    }

</div>