@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.Models.BasePokemonViewModel
@{
    Layout = "_layout";
}

<h2>Update @Model.Pokemon.Name</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        @Html.HiddenFor(x => x.Pokemon.IsComplete)
        @Html.HiddenFor(x => x.Pokemon.Id)

        <div class="form-group row">
            @Html.LabelFor(x => x.Pokemon.Name, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Pokemon.Name, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Pokemon.Name)
        </div>
        
        <div class="form-group row">
            @Html.LabelFor(x => x.Pokemon.Pronunciation, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Pokemon.Pronunciation, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Pokemon.Pronunciation)
        </div>
        
        <div class="form-group row">
            @Html.LabelFor(x => x.Pokemon.PokedexNumber, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Pokemon.PokedexNumber, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Pokemon.PokedexNumber)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.Pokemon.ClassificationId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.Pokemon.ClassificationId, new SelectList(Model.AllClassifications, "Id", "Name"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.Pokemon.ClassificationId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.Pokemon.GameId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.Pokemon.GameId, new SelectList(Model.AllGames, "Id", "Name"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.Pokemon.GameId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.Pokemon.Height, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Pokemon.Height, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Pokemon.Height)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.Pokemon.Weight, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Pokemon.Weight, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Pokemon.Weight)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.Pokemon.EggCycleId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.Pokemon.EggCycleId, new SelectList(Model.AllEggCycles, "Id", "CycleWithSteps"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.Pokemon.EggCycleId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.Pokemon.GenderRatioId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.Pokemon.GenderRatioId, new SelectList(Model.AllGenderRatios, "Id", "GenderRatioString"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.Pokemon.GenderRatioId)
        </div>
        
        <div class="form-group row">
            @Html.LabelFor(x => x.Pokemon.ExperienceGrowthId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.Pokemon.ExperienceGrowthId, new SelectList(Model.AllExperienceGrowths, "Id", "Name"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.Pokemon.ExperienceGrowthId)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Update</button>
        </p>
    }

</div>