@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.DataAccess.Models.PokeballCatchModifierDetail
@{
    Layout = "_layout";
}

<h2>Update Pokéball Catch Modifier</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {      
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.PokeballId)

        @Html.ValidationSummary()

        <div class="form-group row">
            @Html.LabelFor(x => x.Effect, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Effect, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Effect)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.CatchModifier, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.CatchModifier, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.CatchModifier)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Save</button>
        </p>
    }

</div>