@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.DataAccess.Models.Pokemon
@{
    Layout = "_layout";
}

<h2>Update @Model.Name</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        @Html.HiddenFor(x => x.IsArchived)
        @Html.HiddenFor(x => x.IsComplete)
        @Html.HiddenFor(x => x.Name)
        @Html.HiddenFor(x => x.GenerationId)
        @Html.HiddenFor(x => x.Height)
        @Html.HiddenFor(x => x.Weight)
        @Html.HiddenFor(x => x.ExpYield)
        @Html.HiddenFor(x => x.EggCycleId)
        @Html.HiddenFor(x => x.GenderRatioId)
        @Html.HiddenFor(x => x.ClassificationId)
        @Html.HiddenFor(x => x.ExperienceGrowthId)
        @Html.HiddenFor(x => x.CaptureRateId)
        @Html.HiddenFor(x => x.BaseHappinessId)

        <div class="form-group">
            @Html.LabelFor(x => x.Id, "New Pokedex Number")
            @Html.EditorFor(x => x.Id, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Id)
        </div>
            

        <p>
            <button type="submit" class="btn btn-primary" role="button">Update</button>
        </p>
    }

</div>