@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.Models.BasePokemonViewModel
@{
    Layout = "_layout";
}

<h2>Update Pokemon</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        @Html.HiddenFor(x => x.IsArchived)
        @Html.HiddenFor(x => x.IsComplete)
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Pokemon.IsArchived)
        @Html.HiddenFor(x => x.Pokemon.IsComplete)
        @Html.HiddenFor(x => x.Pokemon.Id)
        
        <div class="form-group">
            @Html.LabelFor(x => x.Pokemon.Name)
            @Html.EditorFor(x => x.Pokemon.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.Pokemon.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Pokemon.Height)
            @Html.EditorFor(x => x.Pokemon.Height, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.Pokemon.Height)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Pokemon.Weight)
            @Html.EditorFor(x => x.Pokemon.Weight, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.Pokemon.Weight)
        </div>   

        <div class="form-group">
            @Html.LabelFor(x => x.Pokemon.ExpYield)
            @Html.EditorFor(x => x.Pokemon.ExpYield, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.Pokemon.ExpYield)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Pokemon.EggCycleId)
            @Html.DropDownListFor(x => x.Pokemon.EggCycleId, new SelectList(Model.AllEggCycles, "Id", "CycleCount"), new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Pokemon.EggCycleId)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Pokemon.GenderRatioId)
            @Html.DropDownListFor(x => x.Pokemon.GenderRatioId, new SelectList(Model.AllGenderRatios, "Id", "GenderRatioString"), new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Pokemon.GenderRatioId)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Pokemon.ClassificationId)
            @Html.DropDownListFor(x => x.Pokemon.ClassificationId, new SelectList(Model.AllClassifications, "Id", "Name"), new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Pokemon.ClassificationId)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Pokemon.GenerationId)
            @Html.DropDownListFor(x => x.Pokemon.GenerationId, new SelectList(Model.AllGenerations, "Id", "Games"), new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Pokemon.GenerationId)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Pokemon.ExperienceGrowthId)
            @Html.DropDownListFor(x => x.Pokemon.ExperienceGrowthId, new SelectList(Model.AllExperienceGrowths, "Id", "Name"), new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Pokemon.ExperienceGrowthId)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Pokemon.CaptureRateId)
            @Html.DropDownListFor(x => x.Pokemon.CaptureRateId, new SelectList(Model.AllCaptureRates, "Id", "CatchRate"), new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Pokemon.CaptureRateId)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Pokemon.BaseHappinessId)
            @Html.DropDownListFor(x => x.Pokemon.BaseHappinessId, new SelectList(Model.AllBaseHappinesses, "Id", "Happiness"), new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Pokemon.BaseHappinessId)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Update</button>
        </p>
    }

</div>