@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.Models.EditTypeChartViewModel
@{
    Layout = "_layout";
    string typeName = Model.Types.Find(x => x.Id == Model.TypeId).Name;
}

@section scripts
{
    <script src="/js/editTypeChart.js"></script>
}

@section styles
{
    <link href="/css/typeChart.css" rel="stylesheet" type="text/css" />
    <style>
        .typeChart li {
            list-style: none;
        }
    </style>
}

<h2>Update @(typeName)'s Type Chart</h2>

<div class="flexDiv">
    <div class="resistance typeChart col-md-5">
        <p>Resist To</p>
        <ul>
            @foreach (var t in Model.Types.OrderBy(x => x.Name))
            {
                var typeChart = @Model.TypeChart.Find(x => x.AttackId == t.Id);
                <li>
                    <input id="resistance@(t.Name)" type="checkbox" value="@t.Id" @(typeChart != null && typeChart.Effective == 0.5m ? "checked=checked" : "") />
                    <label for="resistance@(t.Name)" class="generatorOptionTitle"><span class="type-icon type-@t.Name.ToLower() type-cell">@t.Name</span></label>
                </li>
            }
        </ul>
    </div>
    <div class="weakness typeChart col-md-5">
        <p>Weak To</p>
        <ul>
            @foreach (var t in Model.Types.OrderBy(x => x.Name))
            {
                var typeChart = @Model.TypeChart.Find(x => x.AttackId == t.Id);
                <li>
                    <input id="weakness@(t.Name)" type="checkbox" value="@t.Id" @(typeChart != null && typeChart.Effective == 2m ? "checked=checked" : "") />
                    <label for="weakness@(t.Name)" class="generatorOptionTitle"><span class="type-icon type-@t.Name.ToLower() type-cell">@t.Name</span></label>
                </li>
            }
        </ul>
    </div>
    <div class="immunity typeChart col-md-5">
        <p>Immune To</p>
        <ul>
            @foreach (var t in Model.Types.OrderBy(x => x.Name))
            {
                var typeChart = @Model.TypeChart.Find(x => x.AttackId == t.Id);
                <li>
                    <input id="immunity@(t.Name)" type="checkbox" value="@t.Id" @(typeChart != null && typeChart.Effective == 0m ? "checked=checked" : "") />
                    <label for="immunity@(t.Name)" class="generatorOptionTitle"><span class="type-icon type-@t.Name.ToLower() type-cell">@t.Name</span></label>
                </li>
            }
        </ul>
    </div>
</div>
<p>
    <button onclick="updateTypeChart(@Model.TypeId)" class="btn btn-primary" role="button">Save</button>
</p>