@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.DataAccess.Models.User
@{
    Layout = "_layout";
}

<h2>Update @Model.Username</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.PasswordHash)
        @Html.HiddenFor(x => x.Username)
        
        @Html.ValidationSummary()

        <div class="form-group row">
            @Html.LabelFor(x => x.IsAdmin, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.IsAdmin, new { htmlAttributes = new { @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.IsAdmin)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.IsOwner, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.IsOwner, new { htmlAttributes = new { @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.IsOwner)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Save</button>
        </p>
    }

</div>