@model Pokedex.Models.AdminPokemonViewModel;
@{
    bool everythingAdded = Model.DropdownViewModel.AllPokemon.AllTypings.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId) && Model.DropdownViewModel.AllPokemon.AllAbilities.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId) && Model.DropdownViewModel.AllPokemon.AllEggGroups.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId) && Model.DropdownViewModel.AllPokemon.AllPokemonCaptureRates.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId) && Model.DropdownViewModel.AllPokemon.AllBaseStats.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId) && Model.DropdownViewModel.AllPokemon.AllEVYields.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId);
}

<div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Edit</button>
    <ul class="dropdown-menu dropdown-menu-right">
        @if (this.User.IsInRole("Owner") && !Model.Pokemon.IsComplete)
        {
            @if (!everythingAdded)
            {
                <span class="adminMenuTitle">Add To Pokémon</span>
            }
            else
            {
                <span class="adminMenuTitle">Review Pokémon</span>
                <li><a class="dropdown-item" href="@(this.Url.Action("ReviewPokemon", "Owner", new { pokemonId = Model.Pokemon.Id }))">Review Info</a></li>
                <hr class="adminOptionSeparator">
            }
        }
        else if (this.User.IsInRole("Owner") && !everythingAdded)
        {
            <span class="adminMenuTitle">Add To Pokémon This Gen</span>
        }
        @if (this.User.IsInRole("Owner") && !Model.DropdownViewModel.AllPokemon.AllPokemonBaseHappinesses.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("BaseHappinesses", "Add", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Add Base Happiness</a></li>
        }
        @if (this.User.IsInRole("Owner") && !Model.DropdownViewModel.AllPokemon.AllTypings.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("Typing", "Add", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Add Typing</a></li>
        }
        @if (this.User.IsInRole("Owner") && !Model.DropdownViewModel.AllPokemon.AllAbilities.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("Abilities", "Add", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Add Abilities</a></li>
        }
        @if (this.User.IsInRole("Owner") && !Model.DropdownViewModel.AllPokemon.AllEggGroups.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("EggGroups", "Add", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Add Egg Groups</a></li>
        }
        @if (this.User.IsInRole("Owner") && !Model.DropdownViewModel.AllPokemon.AllPokemonCaptureRates.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("CaptureRates", "Add", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Add Capture Rate</a></li>
        }
        @if (this.User.IsInRole("Owner") && !Model.DropdownViewModel.AllPokemon.AllBaseStats.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("BaseStats", "Add", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Add Base Stats</a></li>
        }
        @if (this.User.IsInRole("Owner") && !Model.DropdownViewModel.AllPokemon.AllEVYields.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("EVYields", "Add", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Add EV Yields</a></li>
        }
        @if (this.User.IsInRole("Owner") && !everythingAdded)
        {
            <hr class="adminOptionSeparator">
        }
        <span class="adminMenuTitle">Edit Pokémon</span>
        <li><a class="dropdown-item" href="@(this.Url.Action("Pokemon", "Edit", new { id = Model.Pokemon.Id }))">Edit Pokémon</a></li>
        @if (Model.Pokemon.Name.IndexOf(" (") > -1)
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("AltFormsForm", "Edit", new { pokemonId = Model.Pokemon.Id }))">Edit Form</a></li>
        }
        @if (Model.DropdownViewModel.AllPokemon.AllPokemonBaseHappinesses.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("BaseHappinesses", "Edit", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Edit Base Happiness</a></li>
        }
        @if (Model.DropdownViewModel.AllPokemon.AllTypings.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("Typing", "Edit", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Edit Typing</a></li>
        }
        @if (Model.DropdownViewModel.AllPokemon.AllAbilities.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("Abilities", "Edit", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Edit Abilities</a></li>
        }
        @if (Model.DropdownViewModel.AllPokemon.AllEggGroups.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("EggGroups", "Edit", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Edit Egg Groups</a></li>
        }
        @if (Model.DropdownViewModel.AllPokemon.AllPokemonCaptureRates.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("CaptureRates", "Edit", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Edit Capture Rate</a></li>
        }
        @if (Model.DropdownViewModel.AllPokemon.AllBaseStats.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("BaseStats", "Edit", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Edit Base Stats</a></li>
        }
        @if (Model.DropdownViewModel.AllPokemon.AllEVYields.Exists(x => x.PokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("EVYields", "Edit", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Edit EV Yields</a></li>
        }
        @if (this.User.IsInRole("Owner") && (!Model.DropdownViewModel.AllPokemon.AllEvolutions.Exists(x => x.EvolutionPokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId) || (Model.Pokemon.Name.IndexOf(" (") < 0 && Model.DropdownViewModel.AllPokemon.AllEggGroups.Exists(x => x.PokemonId == Model.Pokemon.Id))))
        {
            <hr class="adminOptionSeparator">
            <span class="adminMenuTitle">Add Relations</span>
        }
        @if (this.User.IsInRole("Owner") && !Model.DropdownViewModel.AllPokemon.AllEvolutions.Exists(x => x.EvolutionPokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("Evolution", "Add", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Add Pre-Evolution</a></li>
        }
        @if (this.User.IsInRole("Owner") && Model.Pokemon.Name.IndexOf(" (") < 0 && Model.DropdownViewModel.AllPokemon.AllEggGroups.Exists(x => x.PokemonId == Model.Pokemon.Id))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("AltForm", "Add", new { pokemonId = Model.Pokemon.Id }))">Add Alternate Form</a></li>
        }
        @if (Model.DropdownViewModel.AllPokemon.AllEvolutions.Exists(x => x.EvolutionPokemonId == Model.Pokemon.Id) || (Model.DropdownViewModel.AllPokemon.AllAltForms.Exists(x => x.OriginalPokemonId == Model.Pokemon.Id) && Model.Pokemon.Name.IndexOf(" (") < 0))
        {
            <hr class="adminOptionSeparator">
            <span class="adminMenuTitle">Edit Relations</span>
        }
        @if (Model.DropdownViewModel.AllPokemon.AllEvolutions.Exists(x => x.EvolutionPokemonId == Model.Pokemon.Id && x.GenerationId == Model.GenerationId))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("Evolution", "Edit", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Edit Pre-Evolution</a></li>
        }
        @if (Model.DropdownViewModel.AllPokemon.AllAltForms.Exists(x => x.OriginalPokemonId == Model.Pokemon.Id) && Model.Pokemon.Name.IndexOf(" (") < 0)
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("AltForms", "Edit", new { pokemonId = Model.Pokemon.Id }))">Edit Alternate Forms</a></li>
        }
        <hr class="adminOptionSeparator">
        <span class="adminMenuTitle">Other</span>
        <li><a target="_blank" class="dropdown-item" href="@(this.Url.Action("PokemonImage", "Edit", new { id = Model.Pokemon.Id }))">Update Home Render</a></li>
        <li><a target="_blank" class="dropdown-item" href="@(this.Url.Action("ShinyPokemonImage", "Edit", new { id = Model.Pokemon.Id }))">Update Shiny Home Render</a></li>
        <li><a class="dropdown-item" href="@(this.Url.Action("PokemonGameDetails", "Edit", new { pokemonId = Model.Pokemon.Id }))">Update Games Available In</a></li>
        @if (this.User.IsInRole("Owner") && Model.DropdownViewModel.AllPokemon.AllAbilities.Exists(x => x.PokemonId == Model.Pokemon.Id && x.SpecialEventAbilityId == null))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("SpecialEventAbility", "Add", new { pokemonId = Model.Pokemon.Id, generationId = Model.GenerationId }))">Add Special Event Ability</a></li>
        }
        @if (this.User.IsInRole("Owner") && !Model.DropdownViewModel.AllPokemon.AllLegendaryDetails.Exists(x => x.PokemonId == Model.Pokemon.Id))
        {
            <li><a class="dropdown-item" href="@(this.Url.Action("PokemonLegendaryDetails", "Add", new { pokemonId = Model.Pokemon.Id }))">Set As Legendary</a></li>
        }
    </ul>
</div>