@model Pokedex.Models.GenerationTableViewModel;

@foreach (var p in Model.PokemonNoTypeList)
{
    if (p.IsComplete)
    {
        <div class="shadowed @p.Name">
            @if (p.Name.IndexOf(" (") > -1)
            {
                <a href="@this.Url.Action("PokemonWithId", "Home", new { pokemonName = p.Name.Substring(0, p.Name.IndexOf(" (")).Replace(": ", "_").Replace(' ', '_').ToLower(), pokemonId = @p.Id, generationId = @Model.Generation.Id })">
                    <img class="pokemonListPicture" title="@p.Name" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialPokemonImageUrl, @p.Id, ".png"))">
                </a>
            }
            else
            {
                <a href="@this.Url.Action("PokemonWithId", "Home", new { pokemonName = p.Name.Replace(": ", "_").Replace(' ', '_').ToLower(), pokemonId = @p.Id, generationId = @Model.Generation.Id })">
                    <img class="pokemonListPicture" title="@p.Name" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialPokemonImageUrl, @p.Id, ".png"))">
                </a>
            }
            <div class="description">
                <span class="pokemonName">#@p.PokedexNumber.ToString().PadLeft(4, '0') @p.Name</span>
            </div>
        </div>
    }
    else if (this.User.IsInRole("Owner"))
    {
        <div class="shadowed incomplete @p.Name">
            <img class="pokemonListPicture" title="@p.Name" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialPokemonImageUrl, @p.Id, ".png"))">
            <div class="description">
                <span class="pokemonName">#@p.PokedexNumber.ToString().PadLeft(4, '0') @p.Name</span>
            </div>
        </div>
    }
}