@model List<Pokedex.DataAccess.Models.PageStat>;

@if (@Model.First().VisitDate.Date == @Model.Last().VisitDate.Date)
{
    <h2>Stats for @Model.First().VisitDate.ToString("MMMM dd, yyyy")</h2>
}
else
{ 
    <h2>Stats for @Model.First().VisitDate.ToString("MMMM yyyy")</h2>
}

<table class="table">
    <tbody>
        <tr>
            <th scope="col">Page Name</th>
            <th scope="col">Visits</th>
        </tr>
        @foreach(var p in Model.OrderBy(x => x.Name).Select(x => x.Name).Distinct())
        {
            <tr>
                <td>@p</td>
                <td>@Model.Where(x => x.Name == p).Count()</td>
            </tr>
        }
    </tbody>
</table>