@model Pokedex.Models.ShinyHuntsViewModel;

@if (@Model.EdittedGames.Count() == 1)
{
    <h5 class="pokemonCount">Total Shinies Found in @Model.AllShinyHunts.First().Game.Name: @Model.AllShinyHunts.Where(x => x.IsCaptured).Count()</h5>
}
<div class="grid-container">
    @foreach (var s in Model.AllShinyHunts.Where(x => x.IsCaptured))
    {
        <div class="Hunt@(s.Id) HuntGame@(s.GameId) shadowed @s.Pokemon.Name">
            <div class="pokemonDetails">
                <div class="pokemonImages">
                    <div class="bonusImages">
                        @if (s.HasShinyCharm)
                        {
                            <img loading="lazy" class="shinyCharm pokemonListPicture" title="Shiny Charm Used"
                                src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GeneralImageUrl, "shinyCharm.png"))">
                        }
                        @if (s.Mark != null)
                        {
                            <img loading="lazy" class="pokemonMark pokemonListPicture" title="@s.Mark.Name Mark"
                                src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialMarkImageUrl, @s.Mark.Id, ".png"))">
                        }
                        @if (s.IsAlpha)
                        {
                            <img loading="lazy" class="pokemonAlpha pokemonListPicture" title="Alpha"
                                src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialMarkImageUrl, "alpha.png"))">
                        }
                        @if (s.Pokeball != null)
                        {
                            <img loading="lazy" class="pokeball pokemonListPicture" title="@s.Pokeball.Name"
                                src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialPokeballImageUrl, @s.Pokeball.Id, ".png"))">
                        }
                        @if (s.Gender == "Male" || s.Gender == "Female")
                        {
                            <img loading="lazy" class="gender pokemonListPicture" title="@s.Gender"
                                src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GeneralImageUrl, @s.Gender.ToLower(), ".png"))">
                        }
                        @if (s.ExcludeFromShinyDex)
                        {
                            <img loading="lazy" class="excludeFromShinyDex pokemonListPicture"
                                title="Excluded from the Shiny Dex Progress page"
                                src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GeneralImageUrl, "noPokedex.png"))">
                        }
                        @if (s.Sweet != null)
                        {
                            <img loading="lazy" class="pokemonSweet pokemonListPicture" title="@s.Sweet.Name Sweet"
                                src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialSweetImageUrl, @s.Sweet.Id, ".png"))">
                        }
                    </div>
                    <a href="@this.Url.Action("PokemonWithOnlyId", "Home", new { pokemonId = @s.Pokemon.Id, generationId = @s.Game.GenerationId })" target="_blank">
                        @if (s.Pokemon.HasGenderDifference && !string.IsNullOrEmpty(s.Gender))
                        {
                            <img loading="lazy" class="pokemonListPicture pokemonShinyHuntPokemon"
                                title="Pokémon: @s.Pokemon.Name@((s.Nickname != null) ? string.Concat(" (", s.Nickname, ")") : "")"
                                alt="@s.Pokemon.Name Shiny Image"
                                src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GenderDifferenceShinyGridImageUrl, s.Pokemon.Id, "-", s.Gender.ToLower()[0], ".png"))"
                                onerror="this.src = '@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.ShinyGridImageUrl, s.Pokemon.Id, ".png"))'; this.onerror = null;" />
                        }
                        else
                        {
                            <img loading="lazy" class="pokemonListPicture pokemonShinyHuntPokemon"
                                title="Pokémon: @s.Pokemon.Name@((s.Nickname != null) ? string.Concat(" (", s.Nickname, ")") : "")"
                                alt="@s.Pokemon.Name Shiny Image"
                                src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.ShinyGridImageUrl, s.Pokemon.Id, ".png"))"
                                onerror="this.src = '@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GridImageUrl, s.Pokemon.Id, ".png"))'; this.onerror = null;" />
                        }
                    </a>
                </div>
                <div class="description">
                    <p>
                        <b>@s.Pokemon.Name</b>
                        @if (s.Nickname != null)
                        {
                            @string.Concat(" (", s.Nickname, ")")
                        }
                    </p>
                    <p class="gameHuntedIn"><b>Game: </b>@s.Game.Name</p>
                    <p><b>Hunting Method: </b>@s.HuntingMethod.Name</p>
                    @if (@s.CurrentPhaseEncounters > 0)
                    {
                        @if (@s.CurrentPhaseEncounters > 0 && @s.CurrentPhaseEncounters != @s.TotalEncounters)
                        {
                            if (@s.HuntingMethodId == 4 || @s.HuntingMethodId == 5)
                            {
                                <p><b>Last Phase Eggs: </b>@s.CurrentPhaseEncounters</p>
                                <p><b>Total Eggs: </b>@s.TotalEncounters</p>
                            }
                            else
                            {
                                <p><b>Last Phase Encounters: </b>@s.CurrentPhaseEncounters</p>
                                <p><b>Total Encounters: </b>@s.TotalEncounters</p>
                            }
                        }
                        else
                        {
                            if (@s.HuntingMethodId == 4 || @s.HuntingMethodId == 5)
                            {
                                <p><b>Total Eggs: </b>@s.CurrentPhaseEncounters</p>
                            }
                            else
                            {
                                <p><b>Total Encounters: </b>@s.CurrentPhaseEncounters</p>
                            }
                        }
                    }
                    @if (@Model.AllShinyHunts.Where(x => x.PhaseOfHuntId == s.Id).Count() > 0)
                    {
                        <p><b>Total Phases: </b>@(Model.AllShinyHunts.Where(x => x.PhaseOfHuntId == s.Id).Count() + 1)</p>
                    }
                    <p><b>Date of Encounter: </b>@s.DateOfCapture.ToString("MMMM d, yyyy")</p>
                    @if (@s.SparklingPowerLevel > 0)
                    {
                        <p><b>Sparkling Power Level: </b>@s.SparklingPowerLevel</p>
                    }
                    @if (@s.PhaseOfHunt != null)
                    {
                        <p><b>Found While Hunting: </b>@s.PhaseOfHunt.Pokemon.Name</p>
                    }
                </div>
            </div>
            @if (!Model.IsShared || @Model.AllShinyHunts.Where(x => x.PhaseOfHuntId == s.Id).Count() > 0)
            {
                <div class="huntCapturedButtons">
                    @if (@Model.AllShinyHunts.Where(x => x.PhaseOfHuntId == s.Id).Count() > 0)
                    {
                        @if (@Model.IsShared)
                        {
                            <a target="_blank" class="btn orangeButton phasesButton"
                                href="@this.Url.Action("ShareableShinyHuntPhases", "ShinyHunt", new { username = @s.User.Username.ToLower(), shinyHuntId = @s.Id })"
                                role="button">View Prior Phases</a>
                        }
                        else
                        {
                            <a target="_blank" class="btn orangeButton phasesButton"
                                href="@this.Url.Action("ShinyHuntPhases", "ShinyHunt", new { shinyHuntId = @s.Id })" role="button">View
                                Prior Phases</a>
                            <hr class="buttonSeparator">
                        }
                    }
                    @if (!@Model.IsShared)
                    {
                        <a class="btn orangeButton"
                            href="@this.Url.Action("EditCompleteShinyHunt", "ShinyHunt", new { shinyHuntId = @s.Id })"
                            role="button">Modify Shiny</a>
                        <button class="btn btn-danger abandonHunt" onclick="abandonHunt(@s.Id, '@s.Pokemon.Name')">Delete
                            Hunt</button>
                    }
                </div>
            }
        </div>
    }
</div>