@model Pokedex.Models.GenerationTableViewModel;

@foreach(var p in Model.PokemonList)
{
    <div class="@p.Pokemon.Name">
        <img class="pokemonlistPicture" title="@p.Pokemon.Name.Replace('_', ' ')", src="@Url.Content(@Model.AppConfig.WebUrl + "/images/pokemon/" + @p.PokemonId + ".png")">
        <div class="description">
            <span class="pokemonName">#@p.Pokemon.PokedexNumber.PadLeft(3, '0') @p.Pokemon.Name.Replace('_', ' ')</span>
            <div class="typing">
                <div class="pokemon-type type-icon type-@p.PrimaryType.Name.ToLower()">@p.PrimaryType.Name</div>
                @if(p.SecondaryType != null)
                {
                    <div class="pokemon-type type-icon type-@p.SecondaryType.Name.ToLower()">@p.SecondaryType.Name</div>
                }
            </div>
        </div>
    </div>
}