@model Pokedex.Models.EggGroupEvaluatorViewModel;

<div class="shadowed dayCarePokemon">
    @if (Model.AllPokemon.Where(x => x.IsAltForm).Any(x => x.Id == @Model.SearchedPokemon.Id))
    {
        <a href="@this.Url.Action("PokemonWithId", "Home", new { pokemonName = @Model.SearchedPokemon.Name.Replace(": ", "_").Replace(' ', '_').ToLower(), pokemonId = @Model.SearchedPokemon.Id, generationId = Model.GenerationId } )">
            <img loading="lazy" class="pokemonListPicture eggGroupImage" src="@string.Concat(Model.AppConfig.WebUrl, Model.AppConfig.OfficialPokemonImageUrl, Model.SearchedPokemon.Id, ".png")" title="@Model.SearchedPokemon.Name">
        </a>
    }
    else
    {
        <a href="@this.Url.Action("Pokemon", "Home", new { name = @Model.SearchedPokemon.Name.Replace(": ", "_").Replace(' ', '_').ToLower() } )">
            <img loading="lazy" class="pokemonListPicture eggGroupImage" src="@string.Concat(Model.AppConfig.WebUrl, Model.AppConfig.OfficialPokemonImageUrl, Model.SearchedPokemon.Id, ".png")" title="@Model.SearchedPokemon.Name">
        </a>
    }
    <div class="eggGroups">
        @foreach (var e in Model.PokemonEggGroups)
        {
            <div class="egg-group-icon egg-group-@(e.Name.ToLower().Replace(' ', '-'))">@e.Name</div>
        }
    </div>
</div>

<h2>Pokémon @(Model.SearchedPokemon.IsAltForm ? Model.SearchedPokemon.NameWithForm : Model.SearchedPokemon.Name) Can Breed With In @Model.SearchedGame.Name</h2>
<div class="grid-container pokemonList">
    @for(var i = 0; i < Model.AllPokemonWithEggGroups.Count(); i++)
    {
        <div class="shadowed @Model.AllPokemonWithEggGroups[i].Pokemon.Name">
            <a href="@this.Url.Action("PokemonWithId", "Home", new { pokemonName = @Model.AllOriginalPokemon[i].Name.Replace(": ", "_").Replace(' ', '_').ToLower(), pokemonId = @Model.AllOriginalPokemon[i].Id, generationId = Model.GenerationId } )">
                <img loading="lazy" class="pokemonListPicture" title="@Model.AllPokemonWithEggGroups[i].Pokemon.Name" src="@string.Concat(Model.AppConfig.WebUrl, Model.AppConfig.GridImageUrl, Model.AllPokemonWithEggGroups[i].PokemonId, ".png")">
            </a>
            <div>
                <a class="pokemonName" href="@this.Url.Action("PokemonWithId", "Home", new { pokemonName = @Model.AllOriginalPokemon[i].Name.Replace(": ", "_").Replace(' ', '_').ToLower(), pokemonId = @Model.AllOriginalPokemon[i].Id, generationId = Model.GenerationId } )">@('#')@Model.AllPokemon[i].PokedexNumber.ToString().PadLeft(4, '0') @(Model.AllPokemon[i].IsAltForm ? Model.AllPokemon[i].NameWithForm : Model.AllPokemon[i].Name)</a>
            </div>    
        </div>
    }
</div>