@model Pokedex.Models.GenerationTableViewModel;
@{
    string pokemonImageUrl;
}

@if (Model.PokemonList.Where(x => !x.Pokemon.IsComplete).Count() > 0)
{
    <h4>Please be aware that the information for Pokémon with a red background are not complete due to not all the information being available. Some information may change as more is revealed.</h4>
}

<div class="grid-container">
    @foreach (var p in Model.PokemonList)
    {
        pokemonImageUrl = string.Concat(Model.AppConfig.WebUrl, Model.AppConfig.OfficialPokemonImageUrl, @p.PokemonId, ".png");
        <div class="shadowed @p.Pokemon.Name@(p.Pokemon.IsComplete ? "" : " incomplete")">
            <a href="@this.Url.Action("Pokemon", "Home", new { name = p.Pokemon.Name.Replace(": ", "_").Replace(' ', '_').ToLower() })">
            <div class="pokemonImages">
                <img class="pokemonListPicture" title="@p.Pokemon.Name" src="@Url.Content(@pokemonImageUrl)">
            </div>
            </a>
            <div class="description">
                <a class="pokemonName" href="@this.Url.Action("Pokemon", "Home", new { name = p.Pokemon.Name.Replace(": ", "_").Replace(' ', '_').ToLower() })">#@p.Pokemon.PokedexNumber.ToString().PadLeft(4, '0') @p.Pokemon.Name</a>
                <div class="pokemonTyping">
                    @if (p.PrimaryType.Name == "None")
                    {
                        <div class="pokemon-type type-icon type-none">@("???")</div>
                    }
                    else
                    {
                        <img class="pokemon-type type-icon" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.TypeImageUrl, @p.PrimaryType.Name.ToLower(), ".png"))">
                        @if (p.SecondaryType != null)
                        {
                            <img class="pokemon-type type-icon" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.TypeImageUrl, @p.SecondaryType.Name.ToLower(), ".png"))">
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>