@using Pokedex.DataAccess.Models;
@model Pokedex.Models.AbilityEvaluatorPageViewModel;
@{
    List<PokemonAbilityDetail> ability = Model.AllPokemonWithAbility;
}

<h2>Description</h2>
<h4 class="abilityDescription">@Model.Ability.Description</h4>
<br>
<div class="pokemonList">
    <h2>Pokémon With Ability</h2>
    <div class="grid-container">
        @for(var i = 0; i < ability.Count(); i++)
        {
            <div class="shadowed @ability[i].Pokemon.Name@(ability[i].Pokemon.IsComplete ? "" : " incomplete")">
                <a href="@this.Url.Action("PokemonWithId", "Home", new { pokemonName = ability[i].Pokemon.Name.Replace(": ", "_").Replace(' ', '_').ToLower(), pokemonId = Model.AllPokemon[i].Id, generationId = Model.GenerationId })">
                    <img class="pokemonListPicture" loading="lazy" title="@Model.AllPokemon[i].Name" src=@string.Concat(Model.AppConfig.WebUrl, Model.AppConfig.GridImageUrl, ability[i].PokemonId, ".png")>
                </a>
                <div>
                    <a class="pokemonName" href="@this.Url.Action("PokemonWithId", "Home", new { pokemonName = ability[i].Pokemon.Name.Replace(": ", "_").Replace(' ', '_').ToLower(), pokemonId = Model.AllPokemon[i].Id, generationId = Model.GenerationId })">@('#')@Model.AllPokemon[i].PokedexNumber.ToString().PadLeft(4, '0') @(Model.AllPokemon[i].IsAltForm ? Model.AllPokemon[i].NameWithForm : Model.AllPokemon[i].Name)</a>
                        @if(ability[i].PrimaryAbilityId == Model.Ability.Id)
                        {
                            <p class="abilityClassifier primaryAbility">
                                @("Primary Ability")
                            </p>
                        }
                        else if (ability[i].SecondaryAbilityId == Model.Ability.Id)
                        {
                            <p class="abilityClassifier secondaryAbility">
                                @("Secondary Ability")
                            </p>
                        }
                        else if (ability[i].HiddenAbilityId == Model.Ability.Id)
                        {
                            <p class="abilityClassifier hiddenAbility">
                                @("Hidden Ability")
                            </p>
                        }
                </div>
            </div>
        }
    </div>
</div>
<div class="noPokemon">
    <h2>No Pokémon have this ability in this generation.</h2>
</div>