@model Pokedex.Models.ShinyHuntsViewModel;

<div class="Hunt@(Model.ShinyHunt.Id) HuntGame@(Model.ShinyHunt.GameId) shadowed @Model.ShinyHunt.Pokemon.Name">
    <div class="pokemonDetails">
        <div class="pokemonImages">
            <div class="bonusImages">
                @if (Model.ShinyHunt.HasShinyCharm)
                {
                    <img loading="lazy" class="shinyCharm pokemonListPicture" title="Shiny Charm Used" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GeneralImageUrl, "shinyCharm.png"))">
                }
                @if (Model.ShinyHunt.Mark != null)
                {
                    <img loading="lazy" class="pokemonMark pokemonListPicture" title="@Model.ShinyHunt.Mark.Name Mark" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialMarkImageUrl, @Model.ShinyHunt.Mark.Id, ".png"))">
                }
                @if (Model.ShinyHunt.IsAlpha)
                {
                    <img loading="lazy" class="pokemonAlpha pokemonListPicture" title="Alpha" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialMarkImageUrl, "alpha.png"))">
                }
                @if (Model.ShinyHunt.Pokeball != null)
                {
                    <img loading="lazy" class="pokeball pokemonListPicture" title="@Model.ShinyHunt.Pokeball.Name" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialPokeballImageUrl, @Model.ShinyHunt.Pokeball.Id, ".png"))">
                }
                @if (Model.ShinyHunt.Gender == "Male" || Model.ShinyHunt.Gender == "Female")
                {
                    <img loading="lazy" class="gender pokemonListPicture" title="@Model.ShinyHunt.Gender" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GeneralImageUrl, @Model.ShinyHunt.Gender.ToLower(), ".png"))">
                }
                @if (Model.ShinyHunt.DirectHOMETransfer)
                {
                    <img loading="lazy" class="directHOMETransfer pokemonListPicture" title="Transferred Directly Into Pokémon HOME" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GeneralImageUrl, "directHOMETransfer.png"))">
                }
                @if (Model.ShinyHunt.Sweet != null)
                {
                    <img loading="lazy" class="pokemonSweet pokemonListPicture" title="@Model.ShinyHunt.Sweet.Name Sweet" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialSweetImageUrl, @Model.ShinyHunt.Sweet.Id, ".png"))">
                }
            </div>
            <a href="@this.Url.Action("PokemonWithOnlyId", "Home", new { pokemonId = @Model.ShinyHunt.Pokemon.Id, generationId = @Model.ShinyHunt.Game.GenerationId })" target="_blank">
                @if (Model.ShinyHunt.Pokemon.HasGenderDifference)
                {
                    <img loading="lazy" class="pokemonListPicture pokemonShinyHuntPokemon" title="Pokémon: @Model.ShinyHunt.Pokemon.Name@((Model.ShinyHunt.Nickname != null) ? string.Concat(" (", Model.ShinyHunt.Nickname, ")") : "")" alt="@Model.ShinyHunt.Pokemon.Name Shiny Image" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GenderDifferenceShinyGridImageUrl, Model.ShinyHunt.Pokemon.Id, "-", Model.ShinyHunt.Gender.ToLower()[0], ".png"))" onerror = "this.src = '@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.ShinyGridImageUrl, Model.ShinyHunt.Pokemon.Id, ".png"))'; this.onerror = null;" />
                }
                else
                {
                    <img loading="lazy" class="pokemonListPicture pokemonShinyHuntPokemon" title="Pokémon: @Model.ShinyHunt.Pokemon.Name@((Model.ShinyHunt.Nickname != null) ? string.Concat(" (", Model.ShinyHunt.Nickname, ")") : "")" alt="@Model.ShinyHunt.Pokemon.Name Shiny Image" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.ShinyGridImageUrl, Model.ShinyHunt.Pokemon.Id, ".png"))" onerror = "this.src = '@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GridImageUrl, Model.ShinyHunt.Pokemon.Id, ".png"))'; this.onerror = null;" />
                }
            </a>
        </div>
        <div class="description">
            <p>
                <b>@Model.ShinyHunt.Pokemon.Name</b>
                @if (Model.ShinyHunt.Nickname != null)
                {
                    @string.Concat(" (", Model.ShinyHunt.Nickname, ")")
                }
            </p>
            <p class="gameHuntedIn"><b>Game: </b>@Model.ShinyHunt.Game.Name</p>
            <p><b>Hunting Method: </b>@Model.ShinyHunt.HuntingMethod.Name</p>
            @if (@Model.ShinyHunt.TotalEncounters > 0)
            {
                @if (@Model.ShinyHunt.CurrentPhaseEncounters > 0 && @Model.ShinyHunt.CurrentPhaseEncounters != @Model.ShinyHunt.TotalEncounters)
                {
                    if (@Model.ShinyHunt.HuntingMethodId == 4 || @Model.ShinyHunt.HuntingMethodId == 5)
                    {
                        <p><b>Last Phase Eggs: </b>@Model.ShinyHunt.CurrentPhaseEncounters</p>
                    }
                    else
                    {
                        <p><b>Last Phase Encounters: </b>@Model.ShinyHunt.CurrentPhaseEncounters</p>
                    }
                }
                if (@Model.ShinyHunt.HuntingMethodId == 4 || @Model.ShinyHunt.HuntingMethodId == 5 )
                {
                    <p><b>Total Eggs: </b>@Model.ShinyHunt.TotalEncounters</p>
                }
                else
                {
                    <p><b>Total Encounters: </b>@Model.ShinyHunt.TotalEncounters</p>
                }
            }
            @if (@Model.ShinyHunt.Phases > 1)
            {
                <p><b>Total Phases: </b>@Model.ShinyHunt.Phases</p>
            }
            <p><b>Date of Capture: </b>@Model.ShinyHunt.DateOfCapture.ToString("MMMM d, yyyy")</p>
            @if (@Model.ShinyHunt.SparklingPowerLevel > 0)
            {
                <p><b>Sparkling Power Level: </b>@Model.ShinyHunt.SparklingPowerLevel</p>
            }
            @if (@Model.ShinyHunt.PhaseOfHunt != null)
            {
                <p><b>Found While Hunting: </b>@Model.ShinyHunt.PhaseOfHunt.Pokemon.Name</p>
            }
        </div>
    </div>
    @if (!Model.IsShared)
    {
        <div class="huntCapturedButtons">
            <a class="btn orangeButton" href="@this.Url.Action("EditCompleteShinyHunt", "ShinyHunt", new { shinyHuntId = @Model.ShinyHunt.Id })" role="button">Modify Shiny</a>
            <button class="btn btn-danger abandonHunt" onclick="abandonHunt(@Model.ShinyHunt.Id, '@Model.ShinyHunt.Pokemon.Name')">Delete Hunt</button>
        </div>
    }
</div>