@model Pokedex.Models.GenerationTableViewModel;
@{
    string pokemonImageUrl;
}

@if (Model.PokemonList.Where(x => !x.Pokemon.IsComplete).Count() > 0)
{
    <h4>Please be aware that the information for Pokémon with a red background are not complete due to not all the information being available. Some information may change as more is revealed.</h4>
}

<div class="grid-container">
    @foreach (var p in Model.PokemonList)
    {
        pokemonImageUrl = string.Concat(Model.AppConfig.WebUrl, Model.AppConfig.OfficialPokemonImageUrl, @p.PokemonId, ".png");
        <div class="shadowed @p.Pokemon.Name@(p.Pokemon.IsComplete ? "" : " incomplete")">
            <a href="@this.Url.Action("Pokemon", "Home", new { name = p.Pokemon.Name.Replace(": ", "_").Replace(' ', '_').ToLower() })">
            <div class="pokemonImages">
                <div class="front">
                    <img class="pokemonListPicture" title="@p.Pokemon.Name" src="@Url.Content(@pokemonImageUrl)">
                </div>
                <div class="back">
                    <img class="pokemonListPicture" title="@p.Pokemon.Name" src="@Url.Content(@pokemonImageUrl.Replace("2d", "3d"))">
                </div>
            </div>
            </a>
            <div class="description">
                <a class="pokemonName" href="@this.Url.Action("Pokemon", "Home", new { name = p.Pokemon.Name.Replace(": ", "_").Replace(' ', '_').ToLower() })">#@p.Pokemon.PokedexNumber.ToString().PadLeft(3, '0') @p.Pokemon.Name</a>
                <div class="typing">
                    <div class="pokemon-type type-icon type-@p.PrimaryType.Name.ToLower()">
                        @if (p.PrimaryType.Name == "None")
                        {
                            @("???")
                        }
                        else
                        {
                            @p.PrimaryType.Name
                        }
                    </div>
                    @if (p.SecondaryType != null)
                    {
                        <div class="pokemon-type type-icon type-@p.SecondaryType.Name.ToLower()">@p.SecondaryType.Name</div>
                    }
                </div>
            </div>
        </div>
    }
</div>