@model Pokedex.Models.AdminGenerationTableViewModel;
@{
    Pokedex.Models.AdminPokemonViewModel adminPokemon = new Pokedex.Models.AdminPokemonViewModel()
    {
        DropdownViewModel = Model.DropdownViewModel,
    };
}

@foreach(var p in Model.PokemonList)
{
    adminPokemon.Pokemon = p;
    <div class="@p.Name @(p.IsComplete ? "" : "incomplete")">
        @if(p.IsComplete)
        {
            <a href="@Url.Action("Pokemon", "Home", new { name = p.Name.Replace(": ", "_").Replace(' ', '_').ToLower() })">
                <img class="pokemonlistPicture" title="@p.Name.Replace('_', ' ')", src="@Url.Content(@Model.AppConfig.WebUrl + "/images/pokemon/" + @p.Id + ".png")">
            </a>
        }
        else
        {
            <img class="pokemonlistPicture" title="@p.Name.Replace('_', ' ')", src="@Url.Content(@Model.AppConfig.WebUrl + "/images/pokemon/" + @p.Id + ".png")">
        }
        <div class="description">
            @if(p.IsComplete)
            {
                <a class="pokemonName" href="@Url.Action("Pokemon", "Home", new { name = p.Name.Replace(": ", "_").Replace(' ', '_').ToLower() })">#@p.PokedexNumber.PadLeft(3, '0') @p.Name.Replace(' ', '_')</a>
            }
            else
            {
                <span class="pokemonName">#@p.PokedexNumber.PadLeft(3, '0') @p.Name.Replace(' ', '_')</span>
            }
            <br>
            @await Html.PartialAsync("_AdminPokemonDropdown", adminPokemon)
        </div>
    </div>
}