@model Pokedex.Models.AdminGenerationTableViewModel;
@{
    Pokedex.Models.AdminPokemonViewModel adminPokemon = new Pokedex.Models.AdminPokemonViewModel()
    {
        DropdownViewModel = Model.DropdownViewModel,
    };

    bool everythingAdded;
}

@foreach (var p in Model.PokemonList)
{
    string pokemonName = p.Name;
    if (Model.AltFormList.Find(x => x.Id == p.Id) != null)
    {
        pokemonName = Model.AltFormList.Find(x => x.Id == p.Id).Name;
    }

    adminPokemon.Pokemon = p;
    adminPokemon.GenerationId = p.Game.GenerationId;
    everythingAdded = Model.DropdownViewModel.AllPokemon.AllTypings.Exists(x => x.PokemonId == p.Id) && Model.DropdownViewModel.AllPokemon.AllPokemonCaptureRates.Exists(x => x.PokemonId == p.Id) && Model.DropdownViewModel.AllPokemon.AllAbilities.Exists(x => x.PokemonId == p.Id) && Model.DropdownViewModel.AllPokemon.AllEggGroups.Exists(x => x.PokemonId == p.Id) && Model.DropdownViewModel.AllPokemon.AllBaseStats.Exists(x => x.PokemonId == p.Id) && Model.DropdownViewModel.AllPokemon.AllEVYields.Exists(x => x.PokemonId == p.Id);
    <div class="shadowed @p.Name@(p.IsComplete ? "" : everythingAdded ? " review" : " incomplete")">
        @if (!p.IsComplete && everythingAdded)
        {
            <a href="@(this.Url.Action("ReviewPokemon", "Owner", new { pokemonId = p.Id }))">
                <img class="pokemonListPicture" title="@p.Name" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialPokemonImageUrl, @p.Id, ".png"))">
            </a>
        }
        else
        {
            <a href="@this.Url.Action("Pokemon", "Home", new { name = p.Name.Replace(": ", "_").Replace(' ', '_').ToLower() })">
                <img class="pokemonListPicture" title="@p.Name" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialPokemonImageUrl, @p.Id, ".png"))">
            </a>
        }
        <div class="description">
            <a class="pokemonName" href="@this.Url.Action("Pokemon", "Home", new { name = p.Name.Replace(": ", "_").Replace(' ', '_').ToLower() })">#@p.PokedexNumber.ToString().PadLeft(3, '0') @pokemonName.Replace(' ', '_')</a>
            <br>
            @await Html.PartialAsync("_AdminPokemonDropdown", adminPokemon)
        </div>
    </div>
}