<html>
<head>
    <title>Dew's Pokedex</title>
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    @RenderSection("styles", required: false)
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="fixed-nav navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="@Url.Action("Index", "Home")">Pokedex</a>
      <button class="navbar-toggler collapse-button" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          @await Html.PartialAsync("_LoginPartial")
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="pokedexDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pokedex</a>
            <div class="dropdown-menu" aria-labelledby="pokedexDropdown">
              <a class="dropdown-item" href="@Url.Action("AllPokemon", "Home")">Pokemon</a>
              <a class="dropdown-item" href="@Url.Action("TypeChart", "Home")">Type Chart</a>
              <a class="dropdown-item" href="@Url.Action("TeamGenerator", "Home")">Team Generator</a>
            </div>
          </li>
        </ul>
        @await Html.PartialAsync("_SearchBarPartial")
      </div>
    </nav>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer class="footer">
        <hr>
        <div class="container text-center">
            <span>Dew's Pokdex</span>
        </div>
    </footer>

    <script src="/lib/js/jquery-3.3.1.min.js"></script>
    <script src="/lib/js/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>