@{
  string defaultTitle = "Pokémon Database";
  string defaultDescription = "Welcome to the Pokémon Database!";
  string defaultImage = "https://pokemondatabase.azurewebsites.net/images/general/defaultIcon.png";
	ViewBag.Title = string.IsNullOrEmpty(ViewBag.Title as string) ? defaultTitle : string.Concat(ViewBag.Title, " | ", defaultTitle);
  ViewBag.Description = string.IsNullOrEmpty(ViewBag.Description as string) ? defaultDescription : ViewBag.Description;
  ViewBag.Image = string.IsNullOrEmpty(ViewBag.Image as string) ? defaultImage : ViewBag.Image;
}

<html>
<head>
    <title class="pageTitle">@ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    @RenderSection("styles", required: false)
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:title" content="@ViewBag.Title">
    <meta name="og:type" content="website">
    <meta name="og:image" content="@ViewBag.Image">
    <meta name="og:description" content="@ViewBag.Description">
    <meta name="twitter:title" content="@ViewBag.Title">
    <meta name="twitter:type" content="website">
    <meta name="twitter:image" content="@ViewBag.Image">
    <meta name="twitter:description" content="@ViewBag.Description">
</head>
<body>
    <nav class="fixed-nav navbar navbar-expand-custom navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="@this.Url.Action("Index", "Home")">Pokémon Database</a>
      <button class="navbar-toggler collapse-button" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          @await Html.PartialAsync("_LoginPartial")
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="pokedexDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pokedex</a>
            <div class="dropdown-menu" aria-labelledby="pokedexDropdown">
              <a class="dropdown-item" href="@this.Url.Action("AllPokemon", "Home")">Pokémon</a>
              <a class="dropdown-item" href="@this.Url.Action("AbilityEvaluator", "Home")">Ability Evaluator</a>
              <a class="dropdown-item" href="@this.Url.Action("DayCareEvaluator", "Home")">Day Care Evaluator</a>
              <a class="dropdown-item" href="@this.Url.Action("GameAvailability", "Home")">Game Availability</a>
              <a class="dropdown-item" href="@this.Url.Action("TeamRandomizer", "Home")">Team Randomizer</a>
              <a class="dropdown-item" href="@this.Url.Action("TypeChart", "Home")">Type Chart</a>
              <a class="dropdown-item" href="@this.Url.Action("TypingEvaluator", "Home")">Typing Evaluator</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="@this.Url.Action("Comment", "Home")">Leave Comment</a>
          </li>
        </ul>
        @await Html.PartialAsync("_SearchBarPartial")
      </div>
    </nav>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script>
      $(".navbar-toggler").on('click', function () {
          if ($('.fixed-nav').hasClass('nav-scroll')) {
              $('.fixed-nav').removeClass('nav-scroll');
          }
          else {
              $('.fixed-nav').addClass('nav-scroll');
          }
      });
    </script>

    @if (this.User.Identity.IsAuthenticated)
    {
      <script>
        $(document).ready(function () {
            $.ajax({
                url: '/check-unread-messages/',
                method: 'POST'
            })
                .done(function (data) {
                    console.log("Checked for unread messages");
                    if (data != 0)
                    {
                        $('.dropdown-item.messages').html($('.dropdown-item.messages').text() + ' <b>New!</b>');
                        $('#userDropdown').html($('#userDropdown').text() + ' <span class="newMessageCount">' + data + '</span>')
                        console.log("Unread messages");
                        alert("You have some unread messages! Click the \"View Messages\" option under Account to view it!")
                    }
                    else
                    {
                      console.log("No new unread messages");
                    }
                })
                .fail(function (jqXHR) {
                    if (jqXHR.statusText != "error") {
                        alert(jqXHR.statusText);
                    }
                });

            $.ajax({
                url: '/update-last-visit/',
                method: 'POST'
            })
                .done(function (data) {
                    console.log("Updated last visit time");
                })
                .fail(function (jqXHR) {
                    if (jqXHR.statusText != "error") {
                        alert(jqXHR.statusText);
                    }
                });
        })
      </script>
    }

    @RenderSection("scripts", required: false)
</body>
</html>