@{
  string defaultTitle = "Pokemon Database";
	ViewBag.Title = string.IsNullOrEmpty(ViewBag.Title as string) ? defaultTitle :  ViewBag.Title + " | " + defaultTitle;
}

<html>
<head>
    <title class="pageTitle">@ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    @RenderSection("styles", required: false)
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="fixed-nav navbar navbar-expand-custom navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="@Url.Action("Index", "Home")">Pokemon Database</a>
      <button class="navbar-toggler collapse-button" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          @await Html.PartialAsync("_LoginPartial")
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="pokedexDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pokedex</a>
            <div class="dropdown-menu" aria-labelledby="pokedexDropdown">
              <a class="dropdown-item" href="@Url.Action("AllPokemon", "Home")">Pokemon</a>
              <a class="dropdown-item" href="@Url.Action("TeamRandomizer", "Home")">Team Randomizer</a>
              <a class="dropdown-item" href="@Url.Action("TypeChart", "Home")">Type Chart</a>
              <a class="dropdown-item" href="@Url.Action("TypingEvaluator", "Home")">Typing Evaluator</a>
              <a class="dropdown-item" href="@Url.Action("EggGroupEvaluator", "Home")">Egg Group Evaluator</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link"" href="@Url.Action("Comment", "Home")">Leave Comment</a>
          </li>
        </ul>
        @await Html.PartialAsync("_SearchBarPartial")
      </div>
    </nav>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/js/navbarFix.js"></script>
    @if(User.Identity.IsAuthenticated)
    {
      <script src="/js/checkUnreadMessages.js"></script>
    }

    @RenderSection("scripts", required: false)
</body>
</html>