@{
    string dropdownWidth, dropdownHeight, columnWidth;
    if (this.User.IsInRole("Admin") || this.User.IsInRole("Owner"))
    {
        dropdownWidth = "37rem";
        dropdownHeight = "21.5rem";
        columnWidth = "33.3%";
    }
    else
    {
        dropdownWidth = "13rem";
        dropdownHeight = "13.5rem";
        columnWidth = "100%";
    }
}

@if (this.User.Identity.IsAuthenticated)
{
    <li class="nav-item dropdown accountDropdown">
        <a class="nav-link dropdown-toggle" href="" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
        <div class="dropdown-menu" style="width: @dropdownWidth; height: @dropdownHeight" aria-labelledby="userDropdown">
            <div class="column" style="width: @columnWidth">
                <span class="accountOptionHeader">General Options</span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="@this.Url.Action("PokemonTeams", "User")">Pokémon Teams</a>
                @if (this.User.IsInRole("Owner"))
                {
                    <div class="dropdown-divider"></div>
                    <span class="accountOptionHeader">Owner Options</span>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@this.Url.Action("Users", "Owner")">Users</a>
                    <a class="dropdown-item" href="@this.Url.Action("Comments", "Owner")">Comments</a>
                    <a class="dropdown-item" href="@this.Url.Action("ReviewedPokemon", "Owner")">Reviewed Pokémon</a>
                }
                <div class="dropdown-divider"></div>
                <span class="accountOptionHeader">Account Options</span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item messages" href="@this.Url.Action("ViewMessages", "User")">View Messages</a>
                <a class="dropdown-item" href="@this.Url.Action("EditPassword", "User")">Change Password</a>
                <a class="dropdown-item" href="@this.Url.Action("Logout", "Account")">Logout</a>
            </div>
            @if (this.User.IsInRole("Admin") || this.User.IsInRole("Owner"))
            {
                <span class="accountOptionHeader">Admin Options</span>
                <div class="dropdown-divider"></div>
                <div class="column" style="width: 30%">
                    <a class="dropdown-item" href="@this.Url.Action("Abilities", "Admin")">Abilities</a>
                    <a class="dropdown-item" href="@this.Url.Action("BaseHappinesses", "Admin")">Base Happiness</a>
                    <a class="dropdown-item" href="@this.Url.Action("BattleItems", "Admin")">Battle Items</a>
                    <a class="dropdown-item" href="@this.Url.Action("CaptureRates", "Admin")">Capture Rates</a>
                    <a class="dropdown-item" href="@this.Url.Action("Classifications", "Admin")">Classifications</a>
                    <a class="dropdown-item" href="@this.Url.Action("CommentCategories", "Admin")">Comment Categories</a>
                    <a class="dropdown-item" href="@this.Url.Action("CommentPages", "Admin")">Comment Pages</a>
                    <a class="dropdown-item" href="@this.Url.Action("EggCycles", "Admin")">Egg Cycles</a>
                    <a class="dropdown-item" href="@this.Url.Action("EggGroups", "Admin")">Egg Groups</a>
                    <a class="dropdown-item" href="@this.Url.Action("ExperienceGrowths", "Admin")">Experience Growths</a>
                    <a class="dropdown-item" href="@this.Url.Action("EvolutionMethods", "Admin")">Evolution Methods</a>
                </div>
                <div class="column" style="width: 36.7%">
                    <a class="dropdown-item" href="@this.Url.Action("FormItems", "Admin")">Form Items</a>
                    <a class="dropdown-item" href="@this.Url.Action("Forms", "Admin")">Forms</a>
                    <a class="dropdown-item" href="@this.Url.Action("Games", "Admin")">Games</a>
                    <a class="dropdown-item" href="@this.Url.Action("GenderRatios", "Admin")">Gender Ratios</a>
                    <a class="dropdown-item" href="@this.Url.Action("Generations", "Admin")">Generations</a>
                    <a class="dropdown-item" href="@this.Url.Action("LegendaryTypes", "Admin")">Legendary Types</a>
                    <a class="dropdown-item" href="@this.Url.Action("Natures", "Admin")">Natures</a>
                    <a class="dropdown-item" href="@this.Url.Action("Pokemon", "Admin")">Pokémon</a>
                    <a class="dropdown-item" href="@this.Url.Action("Pokeballs", "Admin")">Pokéballs</a>
                    <a class="dropdown-item" href="@this.Url.Action("Statuses", "Admin")">Statuses</a>
                    <a class="dropdown-item" href="@this.Url.Action("Types", "Admin")">Types</a>
                </div>
            }
        </div>
    </li>
}
else
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="loginDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
        <div class="dropdown-menu" aria-labelledby="loginDropdown">
            <a class="dropdown-item" href="@this.Url.Action("Login", "Account")">Login</a>
            <a class="dropdown-item" href="@this.Url.Action("Register", "Account")">Sign Up</a>
        </div>
    </li>
}