@using Microsoft.AspNetCore.Identity

@if(User.Identity.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
        <div class="dropdown-menu" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="@Url.Action("ShinyHuntingCounter", "User")">Shiny Hunting Counter</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="@Url.Action("EditPassword", "User")">Change Password</a>
            <a class="dropdown-item" href="@Url.Action("Logout", "Account")">Logout</a>
        </div>
    </li>
    @if(User.IsInRole("Admin") || User.IsInRole("Owner"))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="adminDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
            <div class="dropdown-menu" aria-labelledby="adminDropdown">
                @if(User.IsInRole("Owner"))
                {
                    <a class="dropdown-item" href="@Url.Action("Users", "Owner")">Users</a>
                    <a class="dropdown-item" href="@Url.Action("Suggestions", "Owner")">Suggestions</a>
                    <div class="dropdown-divider"></div>
                }
                <a class="dropdown-item" href="@Url.Action("Abilities", "Admin")">Abilities</a>
                <a class="dropdown-item" href="@Url.Action("Classifications", "Admin")">Classifications</a>
                <a class="dropdown-item" href="@Url.Action("EggGroups", "Admin")">Egg Groups</a>
                <a class="dropdown-item" href="@Url.Action("Forms", "Admin")">Forms</a>
                <a class="dropdown-item" href="@Url.Action("Generations", "Admin")">Generations</a>
                <a class="dropdown-item" href="@Url.Action("LegendaryTypes", "Admin")">Legendary Types</a>
                <a class="dropdown-item" href="@Url.Action("Pokemon", "Admin")">Pokemon</a>
                <a class="dropdown-item" href="@Url.Action("ShinyHuntingTechniques", "Admin")">Shiny Hunting Techniques</a>
                <a class="dropdown-item" href="@Url.Action("ShinyHunts", "Admin")">Shiny Hunts</a>
                <a class="dropdown-item" href="@Url.Action("Types", "Admin")">Types</a>
            </div>
        </li>
    }
}
else
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="loginDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
        <div class="dropdown-menu" aria-labelledby="loginDropdown">
            <a class="dropdown-item" href="@Url.Action("Login", "Account")">Login</a>
            <a class="dropdown-item" href="@Url.Action("Register", "Account")">Sign Up</a>
        </div>
    </li>
}