@model List<Pokedex.DataAccess.Models.Comment>;

@if (Model.Where(x => x.IsAutomatedError && !x.IsCompleted).Count() > 0)
{
    <a class="btn btn-primary" href="@this.Url.Action("CompleteAutomatedErrors", "Owner")">Complete All Automated Errors</a>
}

@if (@Model.Where(x => !x.IsCompleted).ToList().Count() > 0)
{
    <table class="table">
        <tr>
            <th class="col-md-9" scope="col">Comment</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach (var item in Model.Where(x => !x.IsCompleted))
        {
            <tr>
                <td>
                    @("New Comment")
                    @if (item.Commentor != null)
                    {
                        @(string.Concat(" by ", @item.Commentor.Username))
                    }
                    <br>
                    <br>
                    @item.Name
                </td>
                <td>
                    <a class="btn btn-primary" href="@this.Url.Action("CompleteComment", "Owner", new { id = @item.Id })">Complete Comment</a>
                    @if (item.CommentorId != null && item.CommentorId != 1)
                    {
                        <br>
                        <br>
                        <a class="btn btn-primary" href="@this.Url.Action("SendMessage", "Owner", new { commentId = @item.Id })">Send Message</a>
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="noUsers">There are no comments at all!</div>
}