@model IEnumerable<Pokedex.DataAccess.Models.Comment>;
@{
    Layout = "_Layout";
    List<string> commentTypes = new List<string>() { "Bug", "Critique", "Feature", "Other" };
    string GrabCommentCount(string pageName)
    {
        string commentTotalString = string.Empty;
        if(Model.Where(x => !x.IsCompleted && x.CommentType == pageName).ToList().Count() > 0)
        {
            commentTotalString = string.Concat(" (", Model.Where(x => !x.IsCompleted && x.CommentType == pageName).ToList().Count().ToString(), " Comment");
            if(Model.Where(x => !x.IsCompleted && x.CommentType == pageName).ToList().Count() > 1)
            {
                commentTotalString = string.Concat(commentTotalString, "s");
            }
            commentTotalString = string.Concat(commentTotalString, ")");
        }

        return commentTotalString;
    }
}

@section styles
{
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="/js/pageLookup.js"></script>
}

<div class="pageButtons">
    @foreach(var type in commentTypes)
    {
        <button class="@(type.ToLower())" onclick="lookupPage('@(type.ToLower())')">@(type)s<br>@(GrabCommentCount(@type))</button>
    }
</div>
@foreach(var type in commentTypes)
{
    <div class="page" id="@(type.ToLower())">
        @if(@Model.Where(x => !x.IsCompleted && x.CommentType == @type).ToList().Count() > 0)
        {
            <table class="table">
                <tr>
                    <th class="col-md-9" scope="col">Comment</th>
                    <th scope="col">Actions</th>
                </tr>
                @foreach(var item in Model.Where(x => !x.IsCompleted && x.CommentType == @type))
                {
                    <tr>
                        <td>
                            @item.CommentType
                            @if(@item.CommentedPage != null)
                            {
                                 @(string.Concat(" for ", @item.CommentedPage))
                            }
                            @if(@item.PokemonName != null)
                            {
                                @(" (")<a href="@Url.Action("Pokemon", "Home", new { Name = item.PokemonName.Replace(": ", "_").Replace(' ', '_').ToLower() })">@item.PokemonName</a>@(")")
                            }

                            @if(item.Commentor != null)
                            {
                                @(string.Concat(" by ", @item.Commentor.Username))
                            }
                            <br>
                            <br>
                            @item.Name
                        </td>

                        <td>
                            <a class="btn btn-primary" href="@Url.Action("CompleteComment", "Owner", new { id = @item.Id })">Complete Comment</a>
                        @if(item.CommentorId != null && item.CommentorId != 1)
                        {
                            <br>
                            <br>
                                <a class="btn btn-primary" href="@Url.Action("SendMessage", "Owner", new { commentId = @item.Id })">Send Message</a>
                        }
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="noUsers">There are no comments at all!</div>
        }
    </div>
}