@model Pokedex.Models.ExperienceGrowthViewModel;

<div class="eggCycleCount">
    @if (this.User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@this.Url.Action("ExperienceGrowth", "Add")" role="button">Add Experience Growths</a>
        </p>
    }
    <table class="table">
        <tr>
            <th scope="col">Experience Growth</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach (var item in Model.AllExperienceGrowths.OrderBy(x => x.ExpPointTotal).ToList())
        {
            <tr>
                <td>
                    @item.Name @(string.Concat("(", @String.Format("{0:n0}", item.ExpPointTotal), ")"))
                </td>
                <td>
                    <a href="@(this.Url.Action("ExperienceGrowth", "Edit", new { id = item.Id }))">Edit</a>
                    @if (!(Model.AllPokemon.Exists(x => x.ExperienceGrowthId == item.Id)))
                    {
                        @('|')
                        <a href="@(this.Url.Action("ExperienceGrowth", "Delete", new { id = item.Id }))">Delete</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>