@model Pokedex.Models.AdminGameViewModel;

<div class="gameTable">
    @if (this.User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@this.Url.Action("Game", "Add")" role="button">Add Game</a>
        </p>
    }
    <table class="table">
        <tr>
            <th scope="col">Games</th>
            <th scope="col">Release Date</th>
            <th scope="col">Generation</th>
            <th scope="col">Is Breeding Possible</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach (var item in Model.AllGames)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.ReleaseDate.ToString("MMMM dd, yyyy")</td>
                <td>@item.Generation.GenerationName</td>
                <td>@(item.IsBreedingPossible ? "X" : "")</td>
                <td>
                    <a href="@(this.Url.Action("Game", "Edit", new { id = item.Id }))">Edit</a>
                    @("|")
                    <a href="@(this.Url.Action("PokeballGameAvailability", "Edit", new { id = item.Id }))">Edit Pokeballs</a>
                    @if (item.GenerationId >= 8 && item.Id != 35 && item.Id != 36 && item.Id != 37)
                    {
                        @("|")
                        <a href="@(this.Url.Action("MarkGameAvailability", "Edit", new { id = item.Id }))">Edit Marks</a>
                    }
                    @if (!Model.AllPokemon.Exists(x => x.Game.Id == item.Id))
                    {
                        @("|")
                        <a href="@(this.Url.Action("Game", "Delete", new { id = item.Id }))">Delete</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>