@model Pokedex.Models.AdminGameViewModel;

<div class="gameTable">
    @if (this.User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@this.Url.Action("Game", "Add")" role="button">Add Game</a>
        </p>
    }
    <table class="table">
        <tr>
            <th scope="col">Games</th>
            <th scope="col">Release Date</th>
            <th scope="col">Generation</th>
            @if (Model.AllGameRegionDetails.Count > 0)
            {
                <th scope="col">Games Available</th>
            }
            <th scope="col">Actions</th>
        </tr>
        @foreach (var item in Model.AllGames)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.ReleaseDate.ToString("MMMM dd, yyyy")</td>
                <td>@item.Generation.GenerationName</td>
                @if (Model.AllGameRegionDetails.Find(x => x.GameId == item.Id) != null)
                {
                    <td>@string.Join(", ", Model.AllGameRegionDetails.Where(x => x.GameId == item.Id).Select(x => x.Region.Name))</td>
                }
                else
                {
                    <td></td>
                }
                <td>
                    <a href="@(this.Url.Action("Game", "Edit", new { id = item.Id }))">Edit</a>
                    @("|")
                    <a href="@(this.Url.Action("GameStarter", "Edit", new { id = item.Id }))">Edit Starters</a>
                    @if (item.GenerationId >= 8)
                    {
                        @("|")
                        <a href="@(this.Url.Action("MarkGameAvailability", "Edit", new { id = item.Id }))">Edit Marks</a>
                    }
                    @if (!Model.AllPokemon.Exists(x => x.Game.Id == item.Id))
                    {
                        @("|")
                        <a href="@(this.Url.Action("Game", "Delete", new { id = item.Id }))">Delete</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>