@model Pokedex.Models.GenderRatiosViewModel;

<div class="eggCycleCount">
    @if (this.User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@this.Url.Action("GenderRatio", "Add")" role="button">Add Gender Ratio</a>
        </p>
    }
    <table class="table">
        <tr>
            <th scope="col">Gender Ratio</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach (var item in Model.AllGenderRatios)
        {
            <tr>
                <td>
                    @item.MaleRatio / @item.FemaleRatio
                </td>
                <td>
                    <a href="@(this.Url.Action("GenderRatio", "Edit", new { id = item.Id }))">Edit</a>
                    @if (!(Model.AllPokemon.Exists(x => x.GenderRatioId == item.Id)))
                    {
                        @('|')
                        <a href="@(this.Url.Action("GenderRatio", "Delete", new { id = item.Id }))">Delete</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>