@model IEnumerable<Pokedex.DataAccess.Models.Mark>;

<div class="natureTable">
    @if (this.User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@this.Url.Action("Mark", "Add")" role="button">Add Mark</a>
        </p>
    }
    <table class="table">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Generation of Introduction</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name (@item.NameAddition)
                </td>
                <td>
                    Generation @item.GenerationId
                </td>
                <td>
                    <a href="@(this.Url.Action("Mark", "Edit", new { id = item.Id }))">Edit</a>
                    @if (this.User.IsInRole("Owner"))
                    {
                        @('|')
                        <a href="@(this.Url.Action("MarkImage", "Edit", new { id = item.Id }))">Update Image</a>
                        @('|')
                        <a href="@(this.Url.Action("Mark", "Delete", new { id = item.Id }))">Delete</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>