@model Pokedex.Models.RegionViewModel;

<div class="gameTable">
    @if (this.User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@this.Url.Action("Region", "Add")" role="button">Add Region</a>
        </p>
    }
    <table class="table">
        <tr>
            <th scope="col">Region</th>
            <th scope="col">Generation</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach (var item in Model.AllRegions)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Generation.GenerationName</td>
                <td>
                    <a href="@(this.Url.Action("Region", "Edit", new { id = item.Id }))">Edit</a>
                    @("|")
                    <a href="@(this.Url.Action("Region", "Delete", new { id = item.Id }))">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>