@model IEnumerable<Pokedex.DataAccess.Models.User>;
@{
    Layout = "_Layout";
}

<div class="userTable">
    @if(Model.ToList().Count() > 0)
    {
        <table class="table">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Actions</th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Username@(item.IsOwner ? " (Owner)" : item.IsAdmin ? " (Admin)" : "")</td>
                    <td>
                        <a href="@Url.Action("User", "Edit", new { id = item.Id })">Edit</a>
                        @("|")
                        <a href="@Url.Action("ShinyHuntingCounter", "Owner", new { id = item.Id })">View @(item.Username + "'")s Shiny Hunts</a>
                        @("|")
                        <a href="@Url.Action("PokemonTeams", "Owner", new { id = item.Id })">View @(item.Username + "'")s Pokemon Teams</a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="noUsers">There are no users at all!</div>
    }
</div>