@model Pokedex.Models.UserViewModel;
@{
    Layout = "_Layout";
}

<div class="userTable">
    @if(Model.UserList.ToList().Count() > 0)
    {
        <table class="table">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Last Visit</th>
                <th scope="col">Actions</th>
            </tr>
            @foreach(var item in Model.UserList)
            {
                <tr>
                    <td>@item.Username@(item.IsOwner ? " (Owner)" : item.IsAdmin ? " (Admin)" : "")</td>
                    <td>@item.LastVisit.ToString("MMMM dd yyyy h:mm tt")</td>
                    <td>
                        <a href="@Url.Action("User", "Edit", new { id = item.Id })">Edit</a>
                        @if(Model.UsersWithShinyHunts.Find(x => x.Id == item.Id) != null)
                        {
                            @("|")
                            <a href="@Url.Action("ShinyHuntingCounter", "Owner", new { id = item.Id })">View Shiny Hunts</a>
                        }
                        @if(Model.UsersWithPokemonTeams.Find(x => x.Id == item.Id) != null)
                        {
                            @("|")
                            <a href="@Url.Action("PokemonTeams", "Owner", new { id = item.Id })">View Pokémon Teams</a>
                        }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="noUsers">There are no users at all!</div>
    }
</div>