@model IEnumerable<Pokedex.DataAccess.Models.User>;
@{
    Layout = "_Layout";
}

<div class="userTable">
    @if(Model.ToList().Count() > 0)
    {
        <table class="table">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Actions</th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Username@(item.IsOwner ? " (Owner)" : item.IsArchived ? " (Archived)" : item.IsAdmin ? " (Admin)" : "")</td>
                    <td>
                        <a href="@Url.Action("User", "Edit", new { id = item.Id })">Edit</a>
                        |
                        @if(item.IsArchived == false)
                        {
                            <a href="@Url.Action("User", "Archive", new { id = item.Id })">Archive</a>
                        }
                        else
                        {
                            <a href="@Url.Action("User", "Unarchive", new { id = item.Id })">Unarchive</a>
                        }
                        @if(!item.IsOwner)
                        {
                            @("|")
                            <a href="@Url.Action("User", "Delete", new { id = item.Id })">Delete</a>
                        }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="noUsers">There are no users at all!</div>
    }
</div>