@model Pokedex.Models.UserViewModel;
@{
    Layout = "_Layout";
}

<a class="btn btn-primary" href="@this.Url.Action("SendMessageNoComment", "Owner")">Send Message</a>

<div class="userTable">
    @if (Model.UserList.ToList().Count() > 0)
    {
        <table class="table">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Last Visit</th>
                <th scope="col">Actions</th>
            </tr>
            @foreach (var item in Model.UserList)
            {
                <tr>
                    <td>@item.Username@(item.IsOwner ? " (Owner)" : item.IsAdmin ? " (Admin)" : "")</td>
                    <td>@TimeZoneInfo.ConvertTimeFromUtc(item.LastVisit, TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time")).ToString("MMMM dd yyyy h:mm tt")</td>
                    <td>
                        @if (item.Id != 1)
                        {
                            <a href="@this.Url.Action("User", "Edit", new { id = item.Id })">Edit</a>
                        }
                        else
                        {
                            @("No Actions Available")
                        }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="noUsers">There are no users at all!</div>
    }
</div>