@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.Models.PokemonTeamViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Delete Team";
}

<h2>Delete Team "@Model.PokemonTeamName"</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.HiddenFor(x => x.Id)

        <div class="pokemonList shadowed">
            @if (@Model.FirstPokemon != null)
            {
                <img class="lightshadowed pokemonTeamPokemon" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.PokemonImageUrl, @Model.FirstPokemon.PokemonId, ".png"))" />
            }

            @if (@Model.SecondPokemon != null)
            {
                <img class="lightshadowed pokemonTeamPokemon" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.PokemonImageUrl, @Model.SecondPokemon.PokemonId, ".png"))" />
            }
            
            @if (@Model.ThirdPokemon != null)
            {
                <img class="lightshadowed pokemonTeamPokemon" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.PokemonImageUrl, @Model.ThirdPokemon.PokemonId, ".png"))" />
            }
            
            @if (@Model.FourthPokemon != null)
            {
                <img class="lightshadowed pokemonTeamPokemon" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.PokemonImageUrl, @Model.FourthPokemon.PokemonId, ".png"))" />
            }
            
            @if (@Model.FifthPokemon != null)
            {
                <img class="lightshadowed pokemonTeamPokemon" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.PokemonImageUrl, @Model.FifthPokemon.PokemonId, ".png"))" />
            }
            
            @if (@Model.SixthPokemon != null)
            {
                <img class="lightshadowed pokemonTeamPokemon" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.PokemonImageUrl, @Model.SixthPokemon.PokemonId, ".png"))" />
            }
        </div>

        <br>

        <p>
            <button type="submit" class="btn btn-danger" role="button">Delete</button>
        </p>
    }

</div>