@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.Models.PokemonTeamViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Delete Team";
}

<h2>Delete Team "@Model.PokemonTeamName"</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.HiddenFor(x => x.Id)

        <div class="pokemonList">
            @if(@Model.FirstPokemon != null)
            {
                <img class="lightshadowed pokemonTeamPokemon" title="@Model.FirstPokemon.Pokemon.Name" src="@Url.Content(@Model.AppConfig.WebUrl+ @Model.AppConfig.SpriteImageUrl + @Model.FirstPokemon.Pokemon.Id + ".png")" />
            }

            @if(@Model.SecondPokemon != null)
            {
                <img class="lightshadowed pokemonTeamPokemon" title="@Model.SecondPokemon.Pokemon.Name" src="@Url.Content(@Model.AppConfig.WebUrl+ @Model.AppConfig.SpriteImageUrl + @Model.SecondPokemon.Pokemon.Id + ".png")" />
            }
            
            @if(@Model.ThirdPokemon != null)
            {
                <img class="lightshadowed pokemonTeamPokemon" title="@Model.ThirdPokemon.Pokemon.Name" src="@Url.Content(@Model.AppConfig.WebUrl+ @Model.AppConfig.SpriteImageUrl + @Model.ThirdPokemon.Pokemon.Id + ".png")" />
            }
            
            @if(@Model.FourthPokemon != null)
            {
                <img class="lightshadowed pokemonTeamPokemon" title="@Model.FourthPokemon.Pokemon.Name" src="@Url.Content(@Model.AppConfig.WebUrl+ @Model.AppConfig.SpriteImageUrl + @Model.FourthPokemon.Pokemon.Id + ".png")" />
            }
            
            @if(@Model.FifthPokemon != null)
            {
                <img class="lightshadowed pokemonTeamPokemon" title="@Model.FifthPokemon.Pokemon.Name" src="@Url.Content(@Model.AppConfig.WebUrl+ @Model.AppConfig.SpriteImageUrl + @Model.FifthPokemon.Pokemon.Id + ".png")" />
            }
            
            @if(@Model.SixthPokemon != null)
            {
                <img class="lightshadowed pokemonTeamPokemon" title="@Model.SixthPokemon.Pokemon.Name" src="@Url.Content(@Model.AppConfig.WebUrl+ @Model.AppConfig.SpriteImageUrl + @Model.SixthPokemon.Pokemon.Id + ".png")" />
            }
        </div>

        <br>

        <p>
            <button type="submit" class="btn btn-danger" role="button">Delete</button>
        </p>
    }

</div>