@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.Models.UpdateTeamPokemonViewModel
@{
    Layout = "_layout";
    ViewBag.Title = "Edit Pokemon";
}

@section styles
{
    <style>
        .slider {
            padding: 0;
        }
    </style>
}

@section scripts
{
    <script src="/js/updatePokemonTeamDetail.js"></script>
    <script>
        $(function() {
            $('#levelVal').text(@Model.PokemonTeamDetail.Level);
            $('#happinessVal').text(@Model.PokemonTeamDetail.Happiness);
            $('.levelSlider').val(@Model.PokemonTeamDetail.Level);
            $('.happinessSlider').val(@Model.PokemonTeamDetail.Happiness);
        });

        $('.levelSlider').on('input', function() {
            $('#levelVal').text($(this).val());
        });
        
        $('.happinessSlider').on('input', function() {
            $('#happinessVal').text($(this).val());
        });
    </script>
}

<h2>Update Pokemon</h2>

<div class="form-horizontal">

    @using (Html.BeginForm(FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        @Html.HiddenFor(x => x.PokemonTeamDetail.Id);
        @Html.HiddenFor(x => x.PokemonTeamDetail.PokemonTeamEVId);
        @Html.HiddenFor(x => x.PokemonTeamDetail.PokemonTeamIVId);
        @Html.HiddenFor(x => x.PokemonTeamDetail.PokemonTeamMovesetId);
        @Html.HiddenFor(x => x.GenerationId);

        <div class="form-group row">
            @Html.LabelFor(x => x.PokemonTeamDetail.PokemonId, "Pokemon", new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.PokemonTeamDetail.PokemonId, new SelectList(Model.AllPokemon, "Id", "Name"), "", new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.PokemonTeamDetail.PokemonId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.PokemonTeamDetail.Nickname, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.PokemonTeamDetail.Nickname, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" }})
            @Html.ValidationMessageFor(x => x.PokemonTeamDetail.Nickname)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.PokemonTeamDetail.Gender, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.PokemonTeamDetail.Gender, new SelectList(Model.Genders), "", new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.PokemonTeamDetail.Gender)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.PokemonTeamDetail.IsShiny, "Is Pokemon Shiny", new { @class = "col-md-2" })
            @Html.CheckBoxFor(x => x.PokemonTeamDetail.IsShiny, new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.PokemonTeamDetail.IsShiny)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.PokemonTeamDetail.AbilityId, "Ability", new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.PokemonTeamDetail.AbilityId, new SelectList(Model.AllAbilities, "Id", "Name"), string.Empty, new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.PokemonTeamDetail.AbilityId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.PokemonTeamDetail.NatureId, "Nature", new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.PokemonTeamDetail.NatureId, new SelectList(Model.AllNatures, "Id", "Name"), "", new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.PokemonTeamDetail.NatureId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.PokemonTeamDetail.BattleItemId, "Held Item", new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.PokemonTeamDetail.BattleItemId, new SelectList(Model.AllBattleItems, "Id", "Name"), string.Empty, new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.PokemonTeamDetail.BattleItemId)
        </div>

        <div class="form-group row">
            <label class="col-md-2" for="Level">Level: <span id="levelVal"></span></label>
            <input class="levelSlider slider col-md-8" data-val-required="The Level field is required." id="Level" name="PokemonTeamDetail.Level" type="range" min="1" max="100" value="100">
            @Html.ValidationMessageFor(x => x.PokemonTeamDetail.Level)
        </div>

        <div class="form-group row">
            <label class="col-md-2" for="Happiness">Happiness: <span id="happinessVal"></span></label>
            <input class="happinessSlider slider col-md-8" data-val-required="The Happiness field is required." id="Happiness" name="PokemonTeamDetail.Happiness" type="range" min="0" max="255" value="255">
            @Html.ValidationMessageFor(x => x.PokemonTeamDetail.Happiness)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Update</button>
        </p>
    }

</div>