@model PokemonDatabase.Models.PokemonViewModel
@{
    Layout = "_Layout";
}

<div class="pokemonName">
    <b>
        @if (Model.pokemon.Id.IndexOf('-') > -1)
        {
            @("#")@Model.pokemon.Id.Substring(0, Model.pokemon.Id.IndexOf('-'))
        }
        else
        {
            @("#")@Model.pokemon.Id
        }

        @Model.pokemon.Name
    </b>
</div>
<div class="classification">
    <b>Classification: </b> @Model.pokemon.Classification.Name
</div>
<div class="height">
    <b>Height (In Meters):</b> @Model.pokemon.Height.ToString("0.####")
</div>
<div class="weight">
    <b>Weight (In Kilograms):</b> @Model.pokemon.Weight.ToString("0.####")
</div>
<div class="catchRate">
    <b>Catch Rate:</b> @Model.pokemon.CaptureRate.CatchRate (@Model.pokemon.CaptureRate.ChanceOfCapture.ToString("0.####")%)
</div>
<div class="experienceGrowth">
    <b>Experience Growth:</b> @Model.pokemon.ExperienceGrowth.Name (@Model.pokemon.ExperienceGrowth.ExpPointTotal XP)
</div>
<div class="experienceYield">
    <b>Experience Yield:</b> @Model.pokemon.ExpYield
</div>
<div class="eggCycles">
    <b>Egg Cycles:</b> @Model.pokemon.EggCycle.CycleCount
</div>
<div class="baseHappiness">
    <b>Base Happiness:</b> @Model.pokemon.BaseHappiness.Happiness
</div>
<div class="genderRatios">
    <b>Gender Ratio:</b>
    @if (Model.pokemon.GenderRatio.MaleRatio == 0 && Model.pokemon.GenderRatio.FemaleRatio == 0)
    {
        @("Genderless");
    }
    else
    {
        if (Model.pokemon.GenderRatio.FemaleRatio == 0)
        {
            @Model.pokemon.GenderRatio.MaleRatio@("% Male");
        }
        else if (Model.pokemon.GenderRatio.MaleRatio == 0)
        {
            @Model.pokemon.GenderRatio.FemaleRatio@("% Female");
        }
        else
        {
            @Model.pokemon.GenderRatio.MaleRatio@("% Male / ")@Model.pokemon.GenderRatio.FemaleRatio@("% Female");
        }
    }
</div>
<div class="gamesOfOrigin">
    <b>
        @if (Model.pokemon.Generation.Games.IndexOf('/') > -1)
        {
            @("Games of Origin: ");
        }
        else
        {
            @("Game of Origin: ");
        }
    </b>

    @Model.pokemon.Generation.Games
</div>
<div class="typing"><b>Typing:</b> 
    @for(int i = 0; i < Model.types.Count; i++)
    {
        if (i > 0)
        {
            @(" / ");
        }

        @Model.types[i].Name
    }
</div>
<div class="abilities"><b>Abilities:</b> 
    @for(int i = 0; i < Model.abilities.Count; i++)
    {
        if (i > 0)
        {
            @(" / ");
        }

        @Model.abilities[i].Name

        if (i + 1 == Model.abilities.Count && i != 0)
        {
            @(" (Hidden)");
        }
    }
</div>
<div class="eggGroups"><b>Egg Groups:</b> 
    @for(int i = 0; i < Model.eggGroups.Count; i++)
    {
        if (i > 0)
        {
            @(" / ");
        }

        @Model.eggGroups[i].Name
    }
</div>
<div class="baseStats">
    <h4>Base Stats (@Model.baseStats.StatTotal Total)</h4>
    <table class="baseStatTable">
        <tr>
            <th scope="col">Health</th>
            <th scope="col">Attack</th>
            <th scope="col">Defense</th>
            <th scope="col">Special Attack</th>
            <th scope="col">Special Defense</th>
            <th scope="col">Speed</th>
        </tr>
        <tr>
            <td>@Model.baseStats.Health</td>
            <td>@Model.baseStats.Attack</td>
            <td>@Model.baseStats.Defense</td>
            <td>@Model.baseStats.SpecialAttack</td>
            <td>@Model.baseStats.SpecialDefense</td>
            <td>@Model.baseStats.Speed</td>
        </tr>
    </table>
</div>
<div class="evYield">
    <h4>EV Yield (@Model.evYields.EVTotal Total)</h4>
    <table class="evYieldTable">
        <tr>
            @if (Model.evYields.Health != 0)
            {
                <th scope="col">Health</th>
            }
            @if (Model.evYields.Attack != 0)
            {
                <th scope="col">Attack</th>
            }
            @if (Model.evYields.Defense != 0)
            {
                <th scope="col">Defense</th>
            }
            @if (Model.evYields.SpecialAttack != 0)
            {
                <th scope="col">Special Attack</th>
            }
            @if (Model.evYields.SpecialDefense != 0)
            {
                <th scope="col">Special Defense</th>
            }
            @if (Model.evYields.Speed != 0)
            {
                <th scope="col">Speed</th>
            }
        </tr>
        <tr>
            @if (Model.evYields.Health != 0)
            {
                <td>@Model.evYields.Health</td>
            }
            @if (Model.evYields.Attack != 0)
            {
                <td>@Model.evYields.Attack</td>
            }
            @if (Model.evYields.Defense != 0)
            {
                <td>@Model.evYields.Defense</td>
            }
            @if (Model.evYields.SpecialAttack != 0)
            {
                <td>@Model.evYields.SpecialAttack</td>
            }
            @if (Model.evYields.SpecialDefense != 0)
            {
                <td>@Model.evYields.SpecialDefense</td>
            }
            @if (Model.evYields.Speed != 0)
            {
                <td>@Model.evYields.Speed</td>
            }
        </tr>
    </table>
</div>
<div class="effectivenessChart">
    @if (Model.effectiveness.strongAgainst.Count > 0)
    {
        <table class="strongAgainstTable">
            <tr>
                <th>Resistances</th>
            </tr>
            @foreach(string s in Model.effectiveness.strongAgainst)
            {
                <tr>
                    <td>@s</td>
                </tr>
            }
        </table>
    }
    @if (Model.effectiveness.weakAgainst.Count > 0)
    {
        <table class="weakAgainstTable">
            <tr>
                <th>Weaknesses</th>
            </tr>
            @foreach(string w in Model.effectiveness.weakAgainst)
            {
                <tr>
                    <td>@w</td>
                </tr>
            }
        </table>
    }
    @if (Model.effectiveness.immuneTo.Count > 0)
    {
        <table class="immuneToTable">
            <tr>
                <th>Immunities</th>
            </tr>
            @foreach(string i in Model.effectiveness.immuneTo)
            {
                <tr>
                    <td>@i</td>
                </tr>
            }
        </table>
    }
</div>
@if (Model.preEvolution != null)
{
    <div class="preEvolution">
        <table class="preEvolutionTable">
            <tr>
                <th>Pre-Evolution</th>
                <th>Evolved By</th>
            </tr>
            <tr>
                <td><a href="@Model.preEvolution.PreevolutionPokemon.Name.Replace(' ', '_')">@Model.preEvolution.PreevolutionPokemon.Name</a></td>
                <td>
                    @Model.preEvolution.EvolutionMethod.Name
                    @if (@Model.preEvolution.EvolutionDetails != null)
                    {
                        @(" (" + @Model.preEvolution.EvolutionDetails + ")");
                    }
                </td>
            </tr>
        </table>
    </div>
}
@if (Model.evolutions.Count > 0)
{
    <div class="evolutions">
        <table class="evolutionTable">
            <tr>
                <th>Evolution</th>
                <th>Evolves By</th>
            </tr>
            @foreach(var evolution in Model.evolutions)
            {
                <tr>
                    <td><a href="@evolution.EvolutionPokemon.Name.Replace(' ', '_')">@evolution.EvolutionPokemon.Name</a></td>
                    <td>
                        @evolution.EvolutionMethod.Name
                        @if (@evolution.EvolutionDetails != null)
                        {
                            @(" (" + @evolution.EvolutionDetails + ")");
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
}
@if (Model.forms.Count > 0)
{
    <div class="forms">
        <table class="formTable">
            <tr>
                <th>Alternate Forms</th>
            </tr>
            @foreach(var form in Model.forms)
            {
                <tr>
                    <td><a href="@form.AltFormPokemon.Name.Replace(' ', '_')">@form.Form.Name</a></td>
                </tr>
            }
        </table>
    </div>
}
@if (Model.originalForm != null)
{
    <div class="originalForm">
        <table class="originalFormTable">
            <tr>
                <th>Original Form</th>
            </tr>
            <tr>
                <td>
                    <a href="@Model.originalForm.OriginalPokemon.Name.Replace(' ', '_')">@Model.originalForm.OriginalPokemon.Name</a>
                </td>
            </tr>
        </table>
    </div>
}