@model PokemonDatabase.Models.PokemonViewModel
@{
    Layout = "_Layout";
}

<div class="pokemonName">
    <b>#@Model.pokemon.Id @Model.pokemon.Name</b>
</div>
<div class="classification">
    @Model.pokemon.Classification.Name
</div>
<div class="typing">Typing: 
    @for(int i = 0; i < Model.types.Count; i++)
    {
        if (i > 0)
        {
            @(" / ");
        }

        @Model.types[i].Name
    }
</div>
<div class="abilities">Abilities: 
    @for(int i = 0; i < Model.abilities.Count; i++)
    {
        if (i > 0)
        {
            @(" / ");
        }

        @Model.abilities[i].Name

        if (i + 1 == Model.abilities.Count && i != 0)
        {
            @(" (Hidden)");
        }
    }
</div>
<div class="baseStats">
    <h4>Base Stats (@Model.baseStats.StatTotal Total)</h4>
    <table class="baseStatTable">
        <tr>
            <th scope="col">Health</th>
            <th scope="col">Attack</th>
            <th scope="col">Defense</th>
            <th scope="col">Special Attack</th>
            <th scope="col">Special Defense</th>
            <th scope="col">Speed</th>
        </tr>
        <tr>
            <td>@Model.baseStats.Health</td>
            <td>@Model.baseStats.Attack</td>
            <td>@Model.baseStats.Defense</td>
            <td>@Model.baseStats.SpecialAttack</td>
            <td>@Model.baseStats.SpecialDefense</td>
            <td>@Model.baseStats.Speed</td>
        </tr>
    </table>
</div>
<div class="evYield">
    <h4>EV Yield (@Model.evYields.EVTotal Total)</h4>
    <table class="evYieldTable">
        <tr>
            @if (Model.evYields.Health != 0)
            {
                <th scope="col">Health</th>
            }
            @if (Model.evYields.Attack != 0)
            {
                <th scope="col">Attack</th>
            }
            @if (Model.evYields.Defense != 0)
            {
                <th scope="col">Defense</th>
            }
            @if (Model.evYields.SpecialAttack != 0)
            {
                <th scope="col">Special Attack</th>
            }
            @if (Model.evYields.SpecialDefense != 0)
            {
                <th scope="col">Special Defense</th>
            }
            @if (Model.evYields.Speed != 0)
            {
                <th scope="col">Speed</th>
            }
        </tr>
        <tr>
            @if(Model.evYields.Health != 0)
            {
                <td>@Model.evYields.Health</td>
            }
            @if(Model.evYields.Attack != 0)
            {
                <td>@Model.evYields.Attack</td>
            }
            @if(Model.evYields.Defense != 0)
            {
                <td>@Model.evYields.Defense</td>
            }
            @if(Model.evYields.SpecialAttack != 0)
            {
                <td>@Model.evYields.SpecialAttack</td>
            }
            @if(Model.evYields.SpecialDefense != 0)
            {
                <td>@Model.evYields.SpecialDefense</td>
            }
            @if(Model.evYields.Speed != 0)
            {
                <td>@Model.evYields.Speed</td>
            }
        </tr>
    </table>
</div>
@if(Model.preEvolution != null)
{
    <div class="preEvolution">
        <table class="preEvolutionTable">
            <tr>
                <td>Pre-Evolution</td>
                <td>Evolved By</td>
            </tr>
            <tr>
                <td><a href="@Model.preEvolution.PreevolutionPokemon.Name.Replace(' ', '_')">@Model.preEvolution.PreevolutionPokemon.Name</a></td>
                <td>
                    @Model.preEvolution.EvolutionMethod.Name
                    @if(@Model.preEvolution.EvolutionDetails != null)
                    {
                        @(" (" + @Model.preEvolution.EvolutionDetails + ")");
                    }
                </td>
            </tr>
        </table>
    </div>
}
@if(Model.evolutions.Count > 0)
{
    <div class="evolutions">
        <table class="evolutionTable">
            <tr>
                <td>Evolution</td>
                <td>Evolves By</td>
            </tr>
            @foreach(var evolution in Model.evolutions)
            {
                <tr>
                    <td><a href="@evolution.EvolutionPokemon.Name.Replace(' ', '_')">@evolution.EvolutionPokemon.Name</a></td>
                    <td>
                        @evolution.EvolutionMethod.Name
                        @if(@evolution.EvolutionDetails != null)
                        {
                            @(" (" + @evolution.EvolutionDetails + ")");
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
}
@if(Model.forms.Count > 0)
{
    <div class="forms">
        <table class="formTable">
            <tr>
                <td>Alternate Forms</td>
            </tr>
            @foreach(var form in Model.forms)
            {
                <tr>
                    <td><a href="@form.AltFormPokemon.Name.Replace(' ', '_')">@form.Form.Name</a></td>
                </tr>
            }
        </table>
    </div>
}
@if(Model.originalForm != null)
{
    <div class="originalForm">
        <table class="originalFormTable">
            <tr>
                <td>Original Form</td>
            </tr>
            <tr>
                <td>
                    <a href="@Model.originalForm.OriginalPokemon.Name.Replace(' ', '_')">@Model.originalForm.OriginalPokemon.Name</a>
                </td>
            </tr>
        </table>
    </div>
}