@model IEnumerable<PokemonDatabase.DataAccess.Models.Pokemon>
@{
    Layout = "_Layout";
}

<link href="/css/TabContent.css" rel="stylesheet" type="text/css" />
<link href="/css/typechart.css" rel="stylesheet" type="text/css" />
<script src="/js/TabContent.js"></script>
<div class="teamGenerator">
    <div class="Table3x2">
        <table  class="teamGeneratorTable">
            <tr>
                @for(var i = 0; i < 3; i++)
                {
                    <td class="generatorPicture"><a href="@Url.Action("Pokemon", "Home", new { Name = @Model.ElementAt(i).Name.Replace(' ', '_').ToLower()})" target="_blank"><img width="327" title="@Model.ElementAt(i).Name (Click to learn more)" src="@Url.Content("/images/pokemon/" + @Model.ElementAt(i).Name.Replace(":".ToString(), string.Empty) + ".png")" /></a></td>
                }
            </tr>
            <tr>
                @for(var i = 3; i < 6; i++)
                {
                    <td class="generatorPicture"><a href="@Url.Action("Pokemon", "Home", new { Name = @Model.ElementAt(i).Name.Replace(' ', '_').ToLower()})" target="_blank"><img width="327" title="@Model.ElementAt(i).Name (Click to learn more)" src="@Url.Content("/images/pokemon/" + @Model.ElementAt(i).Name.Replace(":".ToString(), string.Empty) + ".png")" /></a></td>
                }
            </tr>
        </table>
    </div>
    <div class="Table2x3">
        <table  class="teamGeneratorTable">
            <tr>
                @for(var i = 0; i < 2; i++)
                {
                    <td class="generatorPicture"><a href="@Url.Action("Pokemon", "Home", new { Name = @Model.ElementAt(i).Name.Replace(' ', '_').ToLower()})" target="_blank"><img width="327" title="@Model.ElementAt(i).Name (Click to learn more)" src="@Url.Content("/images/pokemon/" + @Model.ElementAt(i).Name.Replace(":".ToString(), string.Empty) + ".png")" /></a></td>
                }
            </tr>
            <tr>
                @for(var i = 2; i < 4; i++)
                {
                    <td class="generatorPicture"><a href="@Url.Action("Pokemon", "Home", new { Name = @Model.ElementAt(i).Name.Replace(' ', '_').ToLower()})" target="_blank"><img width="327" title="@Model.ElementAt(i).Name (Click to learn more)" src="@Url.Content("/images/pokemon/" + @Model.ElementAt(i).Name.Replace(":".ToString(), string.Empty) + ".png")" /></a></td>
                }
            </tr>
            <tr>
                @for(var i = 4; i < 6; i++)
                {
                    <td class="generatorPicture"><a href="@Url.Action("Pokemon", "Home", new { Name = @Model.ElementAt(i).Name.Replace(' ', '_').ToLower()})" target="_blank"><img width="327" title="@Model.ElementAt(i).Name (Click to learn more)" src="@Url.Content("/images/pokemon/" + @Model.ElementAt(i).Name.Replace(":".ToString(), string.Empty) + ".png")" /></a></td>
                }
            </tr>
        </table>
    </div>
</div>