@model Pokedex.Models.ShinyHuntsViewModel;
@using System;
@{
    ViewBag.Title = "Shiny Hunt Phases";
    ViewBag.Description = "Keep track of all of you current and successful shiny hunts!";
}

@section styles
{
    <link href="~/css/shinyHunts.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/pageLookup.css" rel="stylesheet" asp-append-version="true" />
}

@section scripts
{
    <script src="~/js/shinyHunts.js" asp-append-version="true"></script>
}

<h2>Phases for @Model.ShinyHunt.Pokemon.Name @(!string.IsNullOrEmpty(Model.ShinyHunt.Nickname) ? string.Concat("(", Model.ShinyHunt.Nickname, ")") : string.Empty)</h2>

<div class="grid-container">
    @for (var i = 0; i < Model.AllShinyHunts.Count(); i++)
    {
        <div class="Hunt@(Model.AllShinyHunts[i].Id) HuntGame@(Model.AllShinyHunts[i].GameId) shadowed @Model.AllShinyHunts[i].Pokemon.Name">
            <div class="pokemonDetails">
                <div class="pokemonImages">
                    <div class="bonusImages">
                        @if (Model.AllShinyHunts[i].HasShinyCharm)
                        {
                            <img loading="lazy" class="shinyCharm pokemonListPicture" title="Shiny Charm Used" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GeneralImageUrl, "shinyCharm.png"))">
                        }
                        @if (Model.AllShinyHunts[i].Mark != null)
                        {
                            <img loading="lazy" class="pokemonMark pokemonListPicture" title="@Model.AllShinyHunts[i].Mark.Name Mark" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialMarkImageUrl, @Model.AllShinyHunts[i].Mark.Id, ".png"))">
                        }
                        @if (Model.AllShinyHunts[i].IsAlpha)
                        {
                            <img loading="lazy" class="pokemonAlpha pokemonListPicture" title="Alpha" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialMarkImageUrl, "alpha.png"))">
                        }
                        @if (Model.AllShinyHunts[i].Pokeball != null)
                        {
                            <img loading="lazy" class="pokeball pokemonListPicture" title="@Model.AllShinyHunts[i].Pokeball.Name" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialPokeballImageUrl, @Model.AllShinyHunts[i].Pokeball.Id, ".png"))">
                        }
                        @if (!Model.AllShinyHunts[i].IsCaptured)
                        {
                            <img loading="lazy" class="flee pokemonListPicture" title="Fled" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GeneralImageUrl, "flee.png"))">
                        }
                        @if (Model.AllShinyHunts[i].Gender == "Male" || Model.AllShinyHunts[i].Gender == "Female")
                        {
                            <img loading="lazy" class="gender pokemonListPicture" title="@Model.AllShinyHunts[i].Gender" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GeneralImageUrl, @Model.AllShinyHunts[i].Gender.ToLower(), ".png"))">
                        }
                        @if (Model.AllShinyHunts[i].Sweet != null)
                        {
                            <img loading="lazy" class="pokemonSweet pokemonListPicture" title="@Model.AllShinyHunts[i].Sweet.Name Sweet" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialSweetImageUrl, @Model.AllShinyHunts[i].Sweet.Id, ".png"))">
                        }
                    </div>
                    <a href="@this.Url.Action("PokemonWithOnlyId", "Home", new { pokemonId = @Model.AllShinyHunts[i].Pokemon.Id, generationId = @Model.AllShinyHunts[i].Game.GenerationId })" target="_blank">
                        @if (Model.AllShinyHunts[i].Pokemon.HasGenderDifference && !string.IsNullOrEmpty(Model.AllShinyHunts[i].Gender))
                        {
                            <img loading="lazy" class="pokemonListPicture pokemonShinyHuntPokemon" title="Pokémon: @Model.AllShinyHunts[i].Pokemon.Name@((Model.AllShinyHunts[i].Nickname != null) ? string.Concat(" (", Model.AllShinyHunts[i].Nickname, ")") : "")" alt="@Model.AllShinyHunts[i].Pokemon.Name Shiny Image" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GenderDifferenceShinyGridImageUrl, Model.AllShinyHunts[i].Pokemon.Id, "-", Model.AllShinyHunts[i].Gender.ToLower()[0], ".png"))" onerror = "this.src = '@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.ShinyGridImageUrl, Model.AllShinyHunts[i].Pokemon.Id, ".png"))'; this.onerror = null;" />
                        }
                        else
                        {
                            <img loading="lazy" class="pokemonListPicture pokemonShinyHuntPokemon" title="Pokémon: @Model.AllShinyHunts[i].Pokemon.Name@((Model.AllShinyHunts[i].Nickname != null) ? string.Concat(" (", Model.AllShinyHunts[i].Nickname, ")") : "")" alt="@Model.AllShinyHunts[i].Pokemon.Name Shiny Image" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.ShinyGridImageUrl, Model.AllShinyHunts[i].Pokemon.Id, ".png"))" onerror = "this.src = '@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GridImageUrl, Model.AllShinyHunts[i].Pokemon.Id, ".png"))'; this.onerror = null;" />
                        }
                    </a>
                </div>
                <div class="description">
                    <p>
                        <b>@Model.AllShinyHunts[i].Pokemon.Name</b>
                        @if (Model.AllShinyHunts[i].Nickname != null)
                        {
                            @string.Concat(" (", Model.AllShinyHunts[i].Nickname, ")")
                        }
                    </p>
                    <p><b>Phase: </b>#@(i + 1)</p>
                    <p class="gameHuntedIn"><b>Game: </b>@Model.AllShinyHunts[i].Game.Name</p>
                    <p><b>Hunting Method: </b>@Model.AllShinyHunts[i].HuntingMethod.Name</p>
                    @if (@Model.AllShinyHunts[i].TotalEncounters > 0)
                    {
                        @if (@Model.AllShinyHunts[i].CurrentPhaseEncounters > 0 && @Model.AllShinyHunts[i].CurrentPhaseEncounters != @Model.AllShinyHunts[i].TotalEncounters)
                        {
                            if (@Model.AllShinyHunts[i].HuntingMethodId == 4 || @Model.AllShinyHunts[i].HuntingMethodId == 5)
                            {
                                <p><b>Last Phase Eggs: </b>@Model.AllShinyHunts[i].CurrentPhaseEncounters</p>
                            }
                            else
                            {
                                <p><b>Last Phase Encounters: </b>@Model.AllShinyHunts[i].CurrentPhaseEncounters</p>
                            }
                        }
                        if (@Model.AllShinyHunts[i].HuntingMethodId == 4 || @Model.AllShinyHunts[i].HuntingMethodId == 5 )
                        {
                            <p><b>Total Eggs: </b>@Model.AllShinyHunts[i].TotalEncounters</p>
                        }
                        else
                        {
                            <p><b>Total Encounters: </b>@Model.AllShinyHunts[i].TotalEncounters</p>
                        }
                    }
                    <p><b>Date of Encounter: </b>@Model.AllShinyHunts[i].DateOfCapture.ToString("MMMM d, yyyy")</p>
                    @if (@Model.AllShinyHunts[i].SparklingPowerLevel > 0)
                    {
                        <p><b>Sparkling Power Level: </b>@Model.AllShinyHunts[i].SparklingPowerLevel</p>
                    }
                    @if (@Model.AllShinyHunts[i].PhaseOfHunt != null)
                    {
                        <p><b>Found While Hunting: </b>@Model.AllShinyHunts[i].PhaseOfHunt.Pokemon.Name</p>
                    }
                </div>
            </div>
            @if (!Model.IsShared)
            {
                <div class="huntCapturedButtons">
                    <a class="btn orangeButton" href="@this.Url.Action("EditCompleteShinyHunt", "ShinyHunt", new { shinyHuntId = Model.AllShinyHunts[i].Id })" role="button">Modify Phase</a>
                    <button class="btn btn-danger abandonHunt" onclick="abandonHunt(@Model.AllShinyHunts[i].Id, '@Model.AllShinyHunts[i].Pokemon.Name')">Delete Phase</button>
                </div>
            }
        </div>
    }
</div>