@model Pokedex.Models.ShinyDexViewModel;
@using System.Net;
@{
    ViewBag.Title = "Shiny Dex Progress";
    string gameColors = string.Empty;
}

@section styles
{
    <link href="~/css/pageLookup.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/shinyDexProgress.css" rel="stylesheet" asp-append-version="true" />
}

@section scripts
{
    <script src="~/js/shinyHunts.js" asp-append-version="true"></script>
}

<p class="shinyHuntButtons">
    <button class="hideAltFormsButton btn btn-primary@(Model.CurrentUser.ShowShinyAltForms ? "" : " hide")" onclick="hideAltForms()">Hide Alternate Forms</button>
    @if (Model.AllPokemon.Count(x => x.IsAltForm) > 0)
    {
        <button class="showAltFormsButton btn btn-primary@(!@Model.CurrentUser.ShowShinyAltForms ? "" : " hide")" onclick="showAltForms()">Show Alternate Forms</button>
    }
    <button class="showCapturedButton btn btn-primary@(!Model.CurrentUser.HideCapturedShinyPokemon ? " hide" : "")"" onclick="showCaptured()">Show Captured Pokemon</button>
    @if (Model.AllPokemon.Count(x => x.IsCaptured) > 0)
    {
        <button class="hideCapturedButton btn btn-primary@(@Model.CurrentUser.HideCapturedShinyPokemon ? " hide" : "")" onclick="hideCaptured()">Hide Captured Pokemon</button>
    }
</p>

<h5 class="pokemonCount shiniesFoundPercentNoAlts@(!Model.CurrentUser.ShowShinyAltForms ? "" : " hide")">Total Shiny Dex Completion Percentage (@Model.AllPokemon.Count(x => !x.IsAltForm && x.IsCaptured)/@Model.AllPokemon.Count(x => !x.IsAltForm)): <span></span>@Math.Round(100 * (float)Model.AllPokemon.Count(x => !x.IsAltForm && x.IsCaptured) / Model.AllPokemon.Count(x => !x.IsAltForm), 2)%</h5>
<h5 class="pokemonCount shiniesFoundPercentWithAlts@(Model.CurrentUser.ShowShinyAltForms ? "" : " hide")">Total Shiny Dex Completion Percentage (@Model.AllPokemon.Count(x => x.IsCaptured)/@Model.AllPokemon.Count()): <span></span>@Math.Round(100 * (float)Model.AllPokemon.Count(x => x.IsCaptured) / Model.AllPokemon.Count(), 2)%</h5>
@foreach (var g in Model.AllGames.Select(x => x.GenerationId).Distinct().ToList())
{
    <div class="generation@(g) generationPercentage hide">
        <h5 class="pokemonCount shiniesFoundPercentNoAlts@(!Model.CurrentUser.ShowShinyAltForms ? "" : " hide")">Generation @(g) Shiny Dex Completion Percentage (@Model.AllPokemon.Where(x => x.Pokemon.Game.GenerationId == g).Count(x => !x.IsAltForm && x.IsCaptured)/@Model.AllPokemon.Where(x => x.Pokemon.Game.GenerationId == g).Count(x => !x.IsAltForm)): <span></span>@Math.Round(100 * (float)Model.AllPokemon.Where(x => x.Pokemon.Game.GenerationId == g).Count(x => !x.IsAltForm && x.IsCaptured) / Model.AllPokemon.Where(x => x.Pokemon.Game.GenerationId == g).Count(x => !x.IsAltForm), 2)%</h5>
        <h5 class="pokemonCount shiniesFoundPercentWithAlts@(Model.CurrentUser.ShowShinyAltForms ? "" : " hide")">Generation @(g) Shiny Dex Completion Percentage (@Model.AllPokemon.Where(x => x.Pokemon.Game.GenerationId == g).Count(x => x.IsCaptured)/@Model.AllPokemon.Where(x => x.Pokemon.Game.GenerationId == g).Count()): <span></span>@Math.Round(100 * (float)Model.AllPokemon.Where(x => x.Pokemon.Game.GenerationId == g).Count(x => x.IsCaptured) / Model.AllPokemon.Where(x => x.Pokemon.Game.GenerationId == g).Count(), 2)%</h5>
    </div>
}

<div class="generations">
    <button id="Generation0" onclick="lookupGeneration(0)">All Generations</button>
    @foreach (var id in Model.AllGames.OrderBy(x => x.ReleaseDate).ThenBy(x => x.Id).Select(x => x.GenerationId).Distinct().ToList())
    {
        if (id == 7)
        {
            gameColors = string.Concat(@Model.AllGames.OrderBy(x => x.ReleaseDate).ThenBy(x => x.Id).Where(x => x.GenerationId == id).ToList()[1].GameColor, " 50%, ", @Model.AllGames.OrderBy(x => x.ReleaseDate).ThenBy(x => x.Id).Where(x => x.GenerationId == id).ToList()[2].GameColor, " 50%)");
        }
        else
        {
            gameColors = string.Concat(@Model.AllGames.OrderBy(x => x.ReleaseDate).ThenBy(x => x.Id).Where(x => x.GenerationId == id).ToList()[0].GameColor, " 50%, ", @Model.AllGames.OrderBy(x => x.ReleaseDate).ThenBy(x => x.Id).Where(x => x.GenerationId == id).ToList()[1].GameColor, " 50%)");
        }

        <button style="@(Model.AllGames.First(x => x.GenerationId == id).GameColor != string.Empty ? string.Concat("background: linear-gradient(135deg, ", gameColors) : string.Empty)" id="Generation@(id)" onclick="lookupGeneration('@id')">Generation @id</button>
    }
</div>

@foreach (var g in Model.AllGames.Select(x => x.GenerationId).Distinct().ToList())
{
    <div class="page generation@(g) pokemonList completedHunts">
        <h5 class="generationHeaders"><b>Generation @(g)</b></h5>
        <div class="grid-container">
            @foreach (var p in Model.AllPokemon.Where(x => x.Pokemon.Game.GenerationId == g))
            {
                <div class="shadowed @p.Pokemon.Name@(!p.IsCaptured ? " uncaptured" : (@Model.CurrentUser.HideCapturedShinyPokemon ? " hide" : ""))@(p.IsAltForm ? (@Model.CurrentUser.ShowShinyAltForms ? " altForm" : " altForm hide") : "")">
                    <div class="pokemonImages">
                        <a href="@this.Url.Action("PokemonWithOnlyId", "Home", new { pokemonId = @p.Pokemon.Id, generationId = g })" target="_blank">
                            <img loading="lazy" class="pokemonListPicture pokemonShinyHuntPokemon" title="Pokémon: @p.Pokemon.Name" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.ShinyGridImageUrl, p.Pokemon.Id, ".png"))" />
                        </a>
                    </div>
                    <div class="description">
                        <p>#@p.Pokemon.PokedexNumber.ToString().PadLeft(4, '0') @p.Pokemon.Name</p>
                        <p class="captureTotal@(!p.IsCaptured ? " uncaptured" : "")"><b>Total Captured:</b> @Model.AllShinyHunts.Where(x => x.PokemonId == p.Pokemon.Id).Count()</p>
                    </div>
                </div>
            }
        </div>
    </div>
}