@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.Models.AlternateFormViewModel
@{
    Layout = "_layout";
}

<h2>Add Alternate Form For @Model.OriginalPokemon.Name</h2>

<div class="form-horizontal">

    @using (Html.BeginForm(FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        @Html.HiddenFor(x => x.OriginalPokemonId)

        <div class="form-group row">
            <label for="OfficialArtwork" class="col-md-2">Official Artwork File</label>
            <div class="col-md-3 addPokemonImage">
                <input style="width: 100%" type="file" accept="image/png" id="OfficialArtwork" name="officialUpload" />
            </div>
            <p>Or</p>
            <label for="OfficialArtworkUrl" class="col-md-2">Official Artwork URL</label>
            <div class="col-md-3 addPokemonImage">
                <input style="width: 100%" type="text" accept="image/png" id="OfficialArtworkUrl" name="officialUrlUpload" />
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.ClassificationId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.ClassificationId, new SelectList(Model.AllClassifications, "Id", "Name"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.ClassificationId)
        </div>
        
        <div class="form-group row">
            @Html.LabelFor(x => x.FormId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.FormId, new SelectList(Model.AllForms, "Id", "Name"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.FormId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.GameId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.GameId, new SelectList(Model.AllGames, "Id", "Name"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.GameId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.Height, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Height, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Height)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.Weight, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Weight, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Weight)
        </div>   

        <p>
            <button type="submit" class="btn btn-primary" role="button">Add</button>
        </p>
    }

</div>