@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.Models.BattleItemViewModel
@{
    Layout = "_layout";
}

<h2>Add Battle Item</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        <div class="form-group row">
            @Html.LabelFor(x => x.Name, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Name)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.GenerationId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.GenerationId, new SelectList(Model.AllGenerations, "Id", "Games"), "", new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.GenerationId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.OnlyInThisGeneration, new { @class = "col-md-2" })
            @Html.CheckBoxFor(x => x.OnlyInThisGeneration, new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.OnlyInThisGeneration)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.PokemonId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.PokemonId, new SelectList(Model.AllPokemon, "Id", "Name"), "", new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.PokemonId)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Add</button>
        </p>
    }

</div>