@model Pokedex.Models.PokemonEggGroupsViewModel

<h2>Add Egg Groups For @Model.Pokemon.Name</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        @Html.HiddenFor(x => x.PokemonId)

        <div class="form-group row">
            @Html.LabelFor(x => x.PrimaryEggGroupId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.PrimaryEggGroupId, new SelectList(Model.AllEggGroups, "Id", "Name"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.PrimaryEggGroupId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.SecondaryEggGroupId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.SecondaryEggGroupId, new SelectList(Model.AllEggGroups, "Id", "Name"), string.Empty, new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.SecondaryEggGroupId)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Add</button>
        </p>
    }

</div>