@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.Models.EvolutionViewModel
@{
    Layout = "_layout";
}

<h2>Add Evolution</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        @Html.HiddenFor(x => x.EvolutionPokemonId)

        <div class="form-group row">
            @Html.LabelFor(x => x.PreevolutionPokemonId, "Pre-Evolution Of " + @Model.EvolutionPokemon.Name, new { @class = "col-md-3" })
            @Html.DropDownListFor(x => x.PreevolutionPokemonId, new SelectList(Model.AllPokemon, "Id", "Name"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.PreevolutionPokemonId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.EvolutionMethodId, "Method of Evolution", new { @class = "col-md-3" })
            @Html.DropDownListFor(x => x.EvolutionMethodId, new SelectList(Model.AllEvolutionMethods, "Id", "Name"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.EvolutionMethodId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.EvolutionDetails, "Evolution Details (If Any)", new { @class = "col-md-3" })
            @Html.EditorFor(x => x.EvolutionDetails, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.EvolutionDetails)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Add</button>
            @if(!Model.EvolutionPokemon.IsComplete && User.IsInRole("Owner"))
            {
                <a class="btn btn-primary" href="@Url.Action("ReviewPokemon", "Owner", new { pokemonId = @Model.EvolutionPokemonId })">Skip</a>
            }
        </p>
    }

</div>