@model Pokedex.DataAccess.Models.GenderRatio

<h2>Add Gender Ratio</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        <div class="form-group row">
            @Html.LabelFor(x => x.MaleRatio, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.MaleRatio, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.MaleRatio)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.FemaleRatio, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.FemaleRatio, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.FemaleRatio)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Add</button>
        </p>
    }

</div>