@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.DataAccess.Models.Generation
@{
    Layout = "_layout";
}

<h2>Add Generation</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        <div class="form-group row">
            @Html.LabelFor(x => x.Id, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Id, new { htmlAttributes = new { @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Id)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.Games, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Games, new { htmlAttributes = new { @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Games)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.Abbreviation, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Abbreviation, new { htmlAttributes = new { @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Abbreviation)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.ReleaseDate, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.ReleaseDate, new { htmlAttributes = new { @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.ReleaseDate)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Add</button>
        </p>
    }

</div>