@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.Models.PokemonLocationSeasonDetailViewModel
@{
    Layout = "_layout";
}

<h2>Add Pokemon Availability Season Details</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        <div class="form-group row">
            @Html.LabelFor(x => x.SeasonId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.SeasonId, new SelectList(Model.AllSeasons, "Id", "Name"), "", new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.SeasonId)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Add</button>
            <a class="btn btn-primary" href="@(this.Url.Action("PokemonLocationTimeDetail", "Add", new { pokemonLocationDetailId = Model.PokemonLocationDetailId }))">Skip</a>
        </p>
    }

</div>