@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.DataAccess.Models.PokemonLocation
@{
    Layout = "_layout";
}

<h2>Add Pokemon Location</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        @Html.HiddenFor(x => x.PokemonId)
        @Html.HiddenFor(x => x.GameId)

        <div class="form-group row">
            @Html.LabelFor(x => x.HowToObtain, "How to Obtain", new { @class = "col-md-2" })
            @Html.EditorFor(x => x.HowToObtain, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.HowToObtain)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.Condition, "Conditions for Obtaining", new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Condition, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Condition)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.Rarity, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Rarity, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Rarity)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.MinLevel, "Minimum Level", new { @class = "col-md-2" })
            @Html.EditorFor(x => x.MinLevel, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.MinLevel)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.MaxLevel, "Max Level", new { @class = "col-md-2" })
            @Html.EditorFor(x => x.MaxLevel, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.MaxLevel)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Add</button>
        </p>
    }

</div>