@model Pokedex.Models.PokeballViewModel

<h2>Add Pokeball</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        <div class="form-group row">
            <label for="OfficialArtwork" class="col-md-2">Official Artwork File</label>
            <div class="col-md-3 addPokeballImage">
                <input style="width: 100%" type="file" accept="image/png" id="OfficialArtwork" name="officialUpload" />
            </div>
            <p>Or</p>
            <label for="OfficialArtworkUrl" class="col-md-2">Official Artwork URL</label>
            <div class="col-md-3 addPokeballImage">
                <input style="width: 100%" type="text" accept="image/png" id="OfficialArtworkUrl" name="officialUrlUpload" />
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.Name, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Name)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.GenerationId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.GenerationId, new SelectList(Model.AllGenerations, "Id", "GenerationName"), "", new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.GenerationId)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Add</button>
        </p>
    }

</div>