@model Pokedex.Models.BasePokemonViewModel

<h2>Add Pokémon</h2>

<div class="form-horizontal">

    @using (Html.BeginForm(FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        <div class="form-group row">
            <label for="OfficialArtwork" class="col-md-2">Official Artwork File</label>
            <div class="col-md-3 addPokemonImage">
                <input style="width: 100%" type="file" accept="image/png" id="OfficialArtwork" name="officialUpload" />
            </div>
            <p>Or</p>
            <label for="OfficialArtworkUrl" class="col-md-2">Official Artwork URL</label>
            <div class="col-md-3 addPokemonImage">
                <input style="width: 100%" type="text" accept="image/png" id="OfficialArtworkUrl" name="officialUrlUpload" />
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.PokedexNumber, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.PokedexNumber, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.PokedexNumber)
        </div>
        
        <div class="form-group row">
            @Html.LabelFor(x => x.Name, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        
        <div class="form-group row">
            @Html.LabelFor(x => x.IsStarter, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.IsStarter, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.IsStarter)
        </div>
        
        <div class="form-group row">
            @Html.LabelFor(x => x.IsShinyLocked, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.IsShinyLocked, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.IsShinyLocked)
        </div>
        
        <div class="form-group row">
            @Html.LabelFor(x => x.HasGenderDifference, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.HasGenderDifference, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.HasGenderDifference)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.ClassificationId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.ClassificationId, new SelectList(Model.AllClassifications, "Id", "Name"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.ClassificationId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.GameId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.GameId, new SelectList(Model.AllGames, "Id", "Name"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.GameId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.Height, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Height, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Height)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.Weight, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.Weight, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.Weight)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.EggCycleId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.EggCycleId, new SelectList(Model.AllEggCycles, "Id", "CycleWithSteps"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.EggCycleId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.GenderRatioId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.GenderRatioId, new SelectList(Model.AllGenderRatios, "Id", "GenderRatioString"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.GenderRatioId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.ExperienceGrowthId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.ExperienceGrowthId, new SelectList(Model.AllExperienceGrowths, "Id", "Name"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.ExperienceGrowthId)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Add</button>
        </p>
    }

</div>