@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.Models.SpecialEventAbilityViewModel
@{
    Layout = "_layout";
}

<h2>Add Special Event Ability</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        @Html.HiddenFor(x => x.PokemonId)

        <div class="form-group">
            @Html.LabelFor(x => x.AbilityId)
            @Html.DropDownListFor(x => x.AbilityId, new SelectList(Model.AllAbilities, "Id", "Name"), new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.AbilityId)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Add</button>
        </p>
    }

</div>