@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.Models.PokemonTypingViewModel
@{
    Layout = "_layout";
}

<h2>Add Typing For @Model.Pokemon.Name</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        @Html.HiddenFor(x => x.PokemonId)

        <div class="form-group row">
            @Html.LabelFor(x => x.PrimaryTypeId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.PrimaryTypeId, new SelectList(Model.AllTypes, "Id", "Name"), new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.PrimaryTypeId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.SecondaryTypeId, new { @class = "col-md-2" })
            @Html.DropDownListFor(x => x.SecondaryTypeId, new SelectList(Model.AllTypes, "Id", "Name"), string.Empty, new { @class = "form-control col-md-8" })
            @Html.ValidationMessageFor(x => x.SecondaryTypeId)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Add</button>
        </p>
    }

</div>