@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.Models.BeginShinyHuntViewModel
@{
    Layout = "_layout";
    ViewBag.Title = "Begin Shiny Hunt";
}

@section styles {
    <link href="/css/shinyHunt.css" rel="stylesheet" type="text/css" />
}

@section scripts {
    <script src="/js/beginShinyHunt.js"></script>
}

<h2>Begin Shiny Hunt</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        @Html.HiddenFor(x => x.UserId)

        <div class="form-group row">
            @Html.LabelFor(x => x.ShinyHuntingTechniqueId, "Hunt Technique Used:", new { @class = "shinyHuntLabel"})
            @Html.DropDownListFor(x => x.ShinyHuntingTechniqueId, new SelectList(Model.AllShinyHuntingTechniques, "Id", "Name"), new { @class = "form-control shinyHuntOption" })
            @Html.ValidationMessageFor(x => x.ShinyHuntingTechniqueId)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.GenerationId, "Game(s) Hunting In:", new { @class = "shinyHuntLabel"})
            @Html.DropDownListFor(x => x.GenerationId, new SelectList(Model.AllGenerations, "Id", "Games"), "", new { @class = "form-control generationDropDown shinyHuntOption" })
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.PokemonId, "Pokemon Being Hunted:", new { @class = "shinyHuntLabel"})
            @Html.DropDownListFor(x => x.PokemonId, new SelectList(Model.AllPokemon, "Id", "Name"), new { @class = "form-control pokemonDropDown shinyHuntOption" })
            @Html.ValidationMessageFor(x => x.PokemonId)
        </div>

        <div class="form-group row shinyCharmCheckBox hidden">
            @Html.LabelFor(x => x.HasShinyCharm, "Using Shiny Charm:", new { @class = "shinyHuntLabel"})
            @Html.CheckBoxFor(x => x.HasShinyCharm, new { @class = "form-control shinyHuntOption" })
            @Html.ValidationMessageFor(x => x.HasShinyCharm)
        </div>

        <p>
            <button type="submit" class="btn btn-primary shinyHuntButton" role="button">Add</button>
        </p>
    }

</div>