@model Pokedex.Models.ContinueHuntViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Continue Hunt";
}

@section styles
{
    <link href="/css/tabContent.css" rel="stylesheet" type="text/css" />
    <link href="/css/typeChart.css" rel="stylesheet" type="text/css" />
    <link href="/css/shinyHunt.css" rel="stylesheet" type="text/css" />
}

@section scripts 
{
    <script src="/js/editShinyHuntAttempts.js"></script>
}

@Html.HiddenFor(x => x.ShinyHunt.Id, new { id = "shinyHuntId" })

<div class="tab-list">
    <button class="tab active" onclick="openPage(event, '@Model.ShinyHunt.Pokemon.Name')">@Model.ShinyHunt.Pokemon.Name.Replace('_', ' ')</button>
</div>
<div class="tabcontent active">
    <div class="pokemonPicture shadowed">
        <img width="327" title="@Model.ShinyHunt.Pokemon.Name" src="@Url.Content(@Model.AppConfig.WebUrl + "/images/pokemon/" + @Model.ShinyHunt.Pokemon.Id + ".png")" />
    </div>
    <div class="input-lg-1"></div>
    <div class="pokemonData pokemonTables input-md-5 input-lg-4">
        <h2>Pokemon Data</h2>
        <table class="pokedexNumber">
            <tbody>
                <tr>
                    <th>Shiny Hunter</th>
                    <td>@Model.ShinyHunt.User.Username</td>
                </tr>
                <tr>
                    <th>Technique Being Used</th>
                    <td>@Model.ShinyHunt.ShinyHuntingTechnique.Name</td>
                </tr>
                <tr>
                    <th>
                        @if (Model.ShinyHunt.Generation.Games.IndexOf('/') > -1)
                        {
                            @("Games Hunting In");
                        }
                        else
                        {
                            @("Game Hunting In");
                        }
                    </th>
                    <td>
                        @Model.ShinyHunt.Generation.Games
                    </td>
                </tr>
                <tr>
                    <th>Using Shiny Charm</th>
                    <td>@(Model.ShinyHunt.HasShinyCharm ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <th>Attempts</th>
                    <td>
                        <button class="attemptCounter subtractAttemptCount btn btn-primary">-</button>
                        <input value="@Model.ShinyHunt.ShinyAttemptCount" class="attemptCount" onchange="this.style.width = ((this.value.length + 1) * 8) + 'px';" />
                        <button class="attemptCounter addAttemptCount btn btn-primary">+</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="margin-top: 20px;">
            <a class="btn btn-primary" href="@Url.Action("ShinyHuntingCounter", "User")" role="button">Pause Shiny Hunt</a>
            <a class="btn btn-success" href="@Url.Action("EndShinyHunt", "User")" role="button">Finish Shiny Hunt</a>
        </div>
    </div>
</div>