@model Pokedex.Models.ContinueHuntViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Continue Hunt";
}

@section styles
{
    <link href="/css/typeChart.css" rel="stylesheet" type="text/css" />
    <link href="/css/shinyHunt.css" rel="stylesheet" type="text/css" />
}

@section scripts 
{
    <script src="/js/editShinyHuntAttempts.js"></script>
}

@Html.HiddenFor(x => x.ShinyHunt.Id, new { id = "shinyHuntId" })

<div class="shinyHunt">
    <div class="pokemonPicture shadowed">
        <img title="@Model.ShinyHunt.Pokemon.Name" src="@Url.Content(@Model.AppConfig.PokemonImageUrl + @Model.ShinyHunt.Pokemon.Id + ".png")" />
    </div>
    <div class="pokemonData pokemonTables">
        <h2>Pokemon Data</h2>
        <table class="pokedexNumber">
            <tbody>
                <tr>
                    <th>Pokemon</th>
                    <td>@Model.ShinyHunt.Pokemon.Name</td>
                </tr>
                <tr>
                    <th>Shiny Hunter</th>
                    <td>@Model.ShinyHunt.User.Username</td>
                </tr>
                <tr>
                    <th>Technique Being Used</th>
                    <td>@Model.ShinyHunt.ShinyHuntingTechnique.Name</td>
                </tr>
                <tr>
                    <th>
                        @if (Model.ShinyHunt.Generation.Games.IndexOf('/') > -1)
                        {
                            @("Games Hunting In");
                        }
                        else
                        {
                            @("Game Hunting In");
                        }
                    </th>
                    <td>@Model.ShinyHunt.Generation.Games</td>
                </tr>
                @if (Model.ShinyHunt.Generation.ReleaseDate >= new DateTime(2012, 10, 7))
                {
                    <tr>
                        <th>Using Shiny Charm</th>
                        <td>@(Model.ShinyHunt.HasShinyCharm ? "Yes" : "No")</td>
                    </tr>
                }
                
                <tr>
                    <th>Attempts</th>
                    <td>
                        <button class="attemptCounter subtractAttemptCount btn btn-primary">-</button>
                        <input value="@Model.ShinyHunt.ShinyAttemptCount" class="attemptCount" onchange="this.style.width = ((this.value.length + 1) * 8) + 'px';" />
                        <button class="attemptCounter addAttemptCount btn btn-primary">+</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="shinyHuntButtons">
            <a class="btn btn-primary" href="@Url.Action("ShinyHuntingCounter", "User")" role="button">Pause Shiny Hunt</a>
            <a class="btn btn-success" href="@Url.Action("CompleteShinyHunt", "User", new { huntId = @Model.HuntIndex })" role="button">Shiny Found</a>
            <a class="btn btn-danger" href="@Url.Action("GiveUpShinyHunt", "User", new { huntId = @Model.HuntIndex })" role="button">Give Up</a>
        </div>
    </div>
</div>