@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.Models.NewPasswordViewModel
@{
    Layout = "_layout";
}

<h2>Update User</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.UserId)
        
        @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(x => x.OldPassword)
            @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.OldPassword)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.NewPassword)
            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.NewPassword)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.NewPasswordConfirm, "Confirm New Password")
            @Html.PasswordFor(x => x.NewPasswordConfirm, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.NewPasswordConfirm)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Save</button>
        </p>
    }

</div>