@model Pokedex.Models.PokemonTeamsViewModel;
@{
    Layout = "_Layout";
    ViewBag.Title = "Pokemon Teams";
    int teamCount = 0;
    int pokemonCount;
}

@section scripts
{
    <script src="/js/pokemonTeam.js"></script>
}

<p>
    <a class="btn btn-primary" href="@Url.Action("CreateTeam", "PokemonTeam")" role="button">Create New Team</a>
    <a class="btn btn-primary" href="@Url.Action("ImportTeams", "PokemonTeam")" role="button">Import Teams</a>
    <button class="pokemonTeamsButton btn btn-primary">Export All Teams</button>
</p>

<div>
    @if (Model.AllPokemonTeams.ToList().Count > 0)
    {
        <table class="table pokemonTeam">
            <tbody>
                <tr>
                    <th class="col-md-2" scope="col">Team Name</th>
                    <th class="col-md-2" scope="col">
                        Game@{
                            foreach(var team in Model.AllPokemonTeams)
                            {
                                if (team.Generation != null && team.Generation.Games.Contains('/'))
                                {
                                    @("(s)");
                                    break;
                                }
                            }
                        }
                    </th>
                    <th class="col-md-5" scope="col">Pokemon</th>
                    <th class="col-md-3" scope="col">Actions</th>
                </tr>
                @for(var i = 0; i < Model.AllPokemonTeams.Count; i++)
                {
                    teamCount++;
                    pokemonCount = 0;
                    <tr>
                        <td>@Model.AllPokemonTeams[i].PokemonTeamName</td>
                        <td>
                            @if(@Model.AllPokemonTeams[i].Generation != null)
                            {
                                @Model.AllPokemonTeams[i].Generation.Games
                            }
                            else
                            {
                                @("No Game Selected");
                            }
                        </td>
                        <td>
                            <table class="pokemonTeamPokemonTable">
                                <tbody>
                                    <tr>
                                        <td>
                                            @foreach(var p in @Model.AllPokemonTeams[i].GrabPokemonTeamDetails)
                                            {
                                                pokemonCount++;
                                                <div class="pokemonTeamGroup">
                                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                                        <img class="lightshadowed pokemonTeamPokemon" title="@p.Pokemon.Name.Replace('_', ' ')@((@p.Nickname != null) ? " (" + @p.Nickname + ")" : "")@((@p.BattleItemId != null) ? " (Holding " + @p.BattleItem.Name + ")" : "")" src="@Url.Content(@Model.AppConfig.WebUrl + "/images/pokemon/" + @p.Pokemon.Id + ".png")" />
                                                    </a>
                                                    <ul class="pokemonTeamDropdown dropdown-menu dropdown-menu-right">
                                                        <span class="adminMenuTitle">View</span>
                                                        <li><a class="dropdown-item" href="@(Url.Action("Pokemon", "Home", new { name = p.Pokemon.Name.Replace(' ', '_').ToLower() }))" target="_blank">View Pokemon</a></li>
                                                        <hr class="adminOptionSeparator">
                                                        <span class="adminMenuTitle">Update</span>
                                                        <li><a class="dropdown-item" href="@(Url.Action("EditPokemon", "PokemonTeam", new { pokemonTeamId = teamCount, pokemonTeamDetailId = pokemonCount }))">Update Pokemon</a></li>
                                                        <li><a class="dropdown-item" href="@(Url.Action("EditEV", "PokemonTeam", new { pokemonTeamId = teamCount, pokemonTeamDetailId = pokemonCount }))">Update EVs</a></li>
                                                        <li><a class="dropdown-item" href="@(Url.Action("EditIV", "PokemonTeam", new { pokemonTeamId = teamCount, pokemonTeamDetailId = pokemonCount }))">Update IVs</a></li>
                                                        <hr class="adminOptionSeparator">
                                                        <span class="adminMenuTitle">Delete</span>
                                                        <li><a class="dropdown-item" href="@(Url.Action("DeletePokemon", "PokemonTeam", new { pokemonTeamId = teamCount, pokemonTeamDetailId = pokemonCount }))">Delete Pokemon</a></li>
                                                    </ul>
                                                </div>
                                            }
                                            @if(@Model.AllPokemonTeams[i].GrabPokemonTeamDetails.Count < 6)
                                            {
                                                <a href="@Url.Action("CreatePokemon", "PokemonTeam", new { pokemonTeamId = teamCount })">
                                                    <img class="lightshadowed addButton" title="Add Pokemon" src="@Url.Content(@Model.AppConfig.WebUrl + "/images/general/addButton.png")" />
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <a class="teamButton btn btn-primary" title="Edit @Model.AllPokemonTeams[i].PokemonTeamName" href="@Url.Action("DeleteTeam", "PokemonTeam", new { pokemonTeamId = teamCount })">Delete Team</a>
                            @if(@Model.AllPokemonTeams[i].FirstPokemon != null)
                            {
                                <button id="@Model.AllPokemonTeams[i].Id" class="pokemonTeamButton teamButton btn btn-primary" title="Export @Model.AllPokemonTeams[i].PokemonTeamName">Export Team</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="noPokemonTeams">No teams have been created yet.</div>
    }
</div>