@model Pokedex.DataAccess.Models.Message

<h2>Reply to Message@(@Model.SenderId == 1 ? string.Concat(" from ", @Model.Receiver.Username) : string.Empty)</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        @Html.HiddenFor(x => x.SenderId)
        @Html.HiddenFor(x => x.ReceiverId)

        <div class="form-group row">
            @Html.LabelFor(x => x.MessageTitle, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.MessageTitle, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.MessageTitle)
        </div>

        <div class="form-group row">
            @Html.LabelFor(x => x.MessageContent, new { @class = "col-md-2" })
            @Html.EditorFor(x => x.MessageContent, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control col-md-8" } })
            @Html.ValidationMessageFor(x => x.MessageContent)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Reply</button>
        </p>
    }

</div>