@model Pokedex.Models.ShinyHuntsViewModel;
@using MoreLinq;
@using Pokedex.DataAccess.Models;
@using System.Collections.Generic;
@using System.Net;
@{
    Layout = "_Layout";
    ViewBag.Title = "Shiny Hunts";
}

@{
    List<Game> uncapturedGames = new List<Game>();
    List<Game> capturedGames = new List<Game>();
    uncapturedGames = @Model.EdittedGames.Where(x => Model.AllShinyHunts.Where(x => !x.IsCaptured).DistinctBy(x => x.Game).Any(y => y.GameId == x.Id)).OrderBy(x => x.ReleaseDate).ThenBy(x => x.Id).ToList();
    capturedGames = @Model.EdittedGames.Where(x => Model.AllShinyHunts.Where(x => x.IsCaptured).DistinctBy(x => x.Game).Any(y => y.GameId == x.Id)).OrderBy(x => x.ReleaseDate).ThenBy(x => x.Id).ToList();
}

@section styles
{
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
    <link href="/css/shinyHunts.css" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="/js/pageLookup.js"></script>
    <script src="/js/shinyHunts.js"></script>
}

<p class="shinyHuntButtons">
    <a class="btn btn-primary" href="@this.Url.Action("StartHunt", "ShinyHunt")" role="button">Start New Hunt</a>
    <button class="currentlyHuntingButton btn btn-primary hide" onclick="hideComplete()">Current Shiny Hunts</button>
    @if (Model.AllShinyHunts.Where(x => x.IsCaptured).ToList().Count > 0)
    {
        <button class="completedHuntsButton btn btn-primary" onclick="hideIncomplete()">Completed Shiny Hunts</button>
    }
</p>

<div class="pageButtons uncapturedGamesList">
    <button class="gameButton incompleteAllGames active" id="Game0" onload="lookupHuntsInGame(this, '0')" onclick="lookupHuntsInGame(this, '0')">All Games</button>
    @foreach (var g in uncapturedGames)
    {
        string gameColors = string.Concat(g.GameColor, " 50%, ");
        if (@Model.UnedittedGames.Where(x => x.ReleaseDate == g.ReleaseDate).Count() > 1 && g.Name != "Fire Red" && g.Name != "Leaf Green")
        {
            gameColors = string.Concat(gameColors, @Model.UnedittedGames.Where(x => x.ReleaseDate == g.ReleaseDate).ToList()[1].GameColor, " 50%)");
        }
        else
        {
            gameColors = string.Concat(gameColors, g.GameColor, " 50%)");
        }

        <button style="@(g.GameColor != string.Empty ? string.Concat("background: linear-gradient(135deg, ", gameColors) : string.Empty)" class="gameButton" id="Game@(g.Id)" onclick="lookupHuntsInGame(this, '@g.Id')">@g.Name</button>
    }
</div>

<div class="pageButtons capturedGamesList hide">
    <button class="gameButton completeAllGames active" id="Game0" onclick="lookupHuntsInGame(this, '0')">All Games</button>
    @foreach (var g in capturedGames)
    {
        string gameColors = string.Concat(g.GameColor, " 50%, ");
        if (@Model.UnedittedGames.Where(x => x.ReleaseDate == g.ReleaseDate).Count() > 1 && g.Name != "Fire Red" && g.Name != "Leaf Green")
        {
            gameColors = string.Concat(gameColors, @Model.UnedittedGames.Where(x => x.ReleaseDate == g.ReleaseDate).ToList()[1].GameColor, " 50%)");
        }
        else
        {
            gameColors = string.Concat(gameColors, g.GameColor, " 50%)");
        }

        <button style="@(g.GameColor != string.Empty ? string.Concat("background: linear-gradient(135deg, ", gameColors) : string.Empty)" class="gameButton" id="Game@(g.Id)" onclick="lookupHuntsInGame(this, '@g.Id')">@g.Name</button>
    }
</div>

@if (Model.AllShinyHunts.Where(x => !x.IsCaptured).ToList().Count > 0)
{
    <div class="page active generation pokemonList incompletedHunts">
        <div class="grid-container">
            @foreach (var s in Model.AllShinyHunts.Where(x => !x.IsCaptured).ToList())
            {
                <div class="Hunt@(s.Id) HuntGame@(s.GameId) shadowed @s.Pokemon.Name@(s.Pokemon.IsComplete ? "" : " incomplete")">
                    <div class="pokemonDetails">
                        @if (s.HasShinyCharm)
                        {
                            <img class="shinyCharm pokemonListPicture" title="Shiny Charm Used" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GeneralImageUrl, "shinyCharm.png"))">
                        }
                        <div class="pokemonImages">
                            <img onclick="incrementEncounter('@s.Id')" class="pokemonListPicture pokemonShinyHuntPokemon" title="Pokémon: @s.Pokemon.Name@((s.Nickname != null) ? string.Concat(" (", s.Nickname, ")") : "")" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.ShinyPokemonImageUrl, s.Pokemon.Id, ".png"))" />
                        </div>
                        <div class="description">
                            <p><b>@s.Pokemon.Name</b></p>
                            <p class="gameHuntedIn"><b>Game: </b>@s.Game.Name</p>
                            @if (@s.DuringCommunityDay)
                            {
                                <p><b>Hunting Method: </b>@s.HuntingMethod.Name (During Community Day)</p>
                            }
                            else
                            {
                                <p><b>Hunting Method: </b>@s.HuntingMethod.Name</p>
                            }
                            @if (@s.HuntingMethodId == 4 || @s.HuntingMethodId == 5 )
                            {
                                <p><b>Eggs: </b><span class="encounters">@s.CurrentPhaseEncounters</span></p>
                            }
                            else if (@s.HuntingMethodId == 15 )
                            {
                                <p><b>Runs: </b><span class="encounters">@s.CurrentPhaseEncounters</span></p>
                            }
                            else
                            {
                                <p><b>Encounters: </b><span class="encounters">@s.CurrentPhaseEncounters</span></p>
                            }
                            @if (@s.Phases > 1)
                            {
                                <p><b>Current Phase: </b>@s.Phases</p>
                            }
                        </div>
                    </div>
                    <div class="encounterButtons">
                        <button class="manualAdjust btn btn-primary" onclick="adjustEncountersManually('@s.Id')">Adjust Encounters</button>
                        <button class="encounterIncrease btn btn-primary" onclick="incrementEncounter('@s.Id')">Increase Encounters</button>
                    </div>
                    <hr class="buttonSeparator">
                    <div class="shinyFoundButtons">
                        <a class="shinyFound btn btn-success" href="@this.Url.Action("PhaseShinyFound", "ShinyHunt", new { shinyHuntId = @s.Id })" role="button">Phase Shiny Found</a>
                        <a class="shinyFound btn btn-success" href="@this.Url.Action("ShinyFound", "ShinyHunt", new { shinyHuntId = @s.Id })" role="button">Target Shiny Found</a>
                    </div>
                    <hr class="buttonSeparator">
                    <div class="huntUncapturedButtons">
                        <a class="editShinyButton btn" href="@this.Url.Action("EditIncompleteShinyHunt", "ShinyHunt", new { shinyHuntId = @s.Id })" role="button">Modify Shiny Hunt</a>
                        <a class="btn btn-danger abandonHunt" href="@(this.Url.Action("DeleteShinyHunt", "ShinyHunt", new { shinyHuntId = @s.Id }))">Delete Hunt</a>
                    </div>
                </div>
            }
        </div>
    </div>
}

@if (Model.AllShinyHunts.Where(x => x.IsCaptured).ToList().Count > 0)
{
    <div class="page generation pokemonList completedHunts hide">
        <h5 class="pokemonCount">Total Shinies Found: <span class="shiniesFoundCount"></span></h5>
        <div class="grid-container">
            @foreach (var s in Model.AllShinyHunts.Where(x => x.IsCaptured).OrderBy(x => x.Pokemon.PokedexNumber).ThenBy(x => x.PokemonId).ThenBy(x => x.DateOfCapture).ThenBy(x => x.Id).ToList())
            {
                <div class="Hunt@(s.Id) HuntGame@(s.GameId) shadowed @s.Pokemon.Name@(s.Pokemon.IsComplete ? "" : " incomplete")">
                    <div class="pokemonDetails">
                        <div class="bonusImages">
                            @if (s.HasShinyCharm)
                            {
                                <img class="shinyCharm pokemonListPicture" title="Shiny Charm Used" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GeneralImageUrl, "shinyCharm.png"))">
                            }
                            @if (s.Mark != null)
                            {
                                <img class="pokemonMark pokemonListPicture" title="@s.Mark.Name" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialMarkImageUrl, @s.Mark.Id, ".png"))">
                            }
                            @if (s.IsAlpha)
                            {
                                <img class="pokemonAlpha pokemonListPicture" title="Alpha" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialMarkImageUrl, "alpha.png"))">
                            }
                            @if (s.Pokeball != null)
                            {
                                <img class="pokeball pokemonListPicture" title="@s.Pokeball.Name" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.OfficialPokeballImageUrl, @s.Pokeball.Id, ".png"))">
                            }
                        </div>
                        <div class="pokemonImages">
                            <img class="pokemonListPicture pokemonShinyHuntPokemon" title="Pokémon: @s.Pokemon.Name@((s.Nickname != null) ? string.Concat(" (", s.Nickname, ")") : "")" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.ShinyPokemonImageUrl, s.Pokemon.Id, ".png"))" />
                        </div>
                        <div class="description">
                            <p>
                                <b>@s.Pokemon.Name</b>
                                @if (s.Nickname != null)
                                {
                                    @string.Concat(" (", s.Nickname, ")")
                                }
                            </p>
                            <p class="gameHuntedIn"><b>Game: </b>@s.Game.Name</p>
                            @if (@s.DuringCommunityDay)
                            {
                                <p><b>Hunting Method: </b>@s.HuntingMethod.Name (During Community Day)</p>
                            }
                            else
                            {
                                <p><b>Hunting Method: </b>@s.HuntingMethod.Name</p>
                            }
                            @if (@s.TotalEncounters > 0)
                            {
                                @if (@s.CurrentPhaseEncounters > 0 && @s.CurrentPhaseEncounters != @s.TotalEncounters)
                                {
                                    if (@s.HuntingMethodId == 4 || @s.HuntingMethodId == 5)
                                    {
                                        <p><b>Last Phase Eggs: </b>@s.CurrentPhaseEncounters</p>
                                    }
                                    else if (@s.HuntingMethodId == 15)
                                    {
                                        <p><b>Last Phase Runs: </b>@s.CurrentPhaseEncounters</p>
                                    }
                                    else
                                    {
                                        <p><b>Last Phase Encounters: </b>@s.CurrentPhaseEncounters</p>
                                    }
                                }

                                if (@s.HuntingMethodId == 4 || @s.HuntingMethodId == 5 )
                                {
                                    <p><b>Total Eggs: </b>@s.TotalEncounters</p>
                                }
                                else if (@s.HuntingMethodId == 15)
                                {
                                    <p><b>Total Runs: </b>@s.TotalEncounters</p>
                                }
                                else
                                {
                                    <p><b>Total Encounters: </b>@s.TotalEncounters</p>
                                }
                            }
                            @if (@s.Phases > 1)
                            {
                                <p><b>Total Phases: </b>@s.Phases</p>
                            }
                            <p><b>Date of Capture: </b>@s.DateOfCapture.ToString("MMMM d, yyyy")</p>
                            @if (@s.SparklingPowerLevel > 0)
                            {
                                <p><b>Sparkling Power Level: </b>@s.SparklingPowerLevel</p>
                            }
                            @if (@s.PhaseOfHunt != null)
                            {
                                <p><b>Found While Hunting: </b>@s.PhaseOfHunt.Pokemon.Name</p>
                            }
                        </div>
                    </div>
                    <div class="huntCapturedButtons">
                        <a class="editShinyButton btn" href="@this.Url.Action("EditCompleteShinyHunt", "ShinyHunt", new { shinyHuntId = @s.Id })" role="button">Modify Shiny</a>
                        <a class="btn btn-danger abandonHunt" href="@(this.Url.Action("DeleteShinyHunt", "ShinyHunt", new { shinyHuntId = @s.Id }))">Delete Hunt</a>
                    </div>
                </div>
            }
        </div>
    </div>
}

@if (Model.AllShinyHunts.Count() == 0)
{
    <div class="noShinyHunts">No hunts have been started yet.</div>
}