@model IEnumerable<Pokedex.DataAccess.Models.Message>;
@{
    Layout = "_Layout";
    int messageCount = 0;
}

@section scripts
{
    <script src="/js/markAsRead.js"></script>
}

<table class="table">
    <tr>
        <th class="col-md-9" scope="col">Message</th>
        <th scope="col">Actions</th>
    </tr>
    @foreach(var item in Model.OrderByDescending(x => x.Id))
    {
        messageCount++;
        <tr>
            <td>
                @if(item.IsRead == false)
                {
                    <b>@item.MessageTitle</b>
                }
                else
                {  
                    @item.MessageTitle
                }
                <br>
                <br>
                @item.MessageContent
            </td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("ReplyMessage", "User", new { messageId = messageCount })">Reply to Message</a>
                <br>
                <br>
                <a class="btn btn-primary" href="@Url.Action("DeleteMessage", "User", new { messageId = messageCount })">Delete Message</a>
            </td>
        </tr>
    }
</table>