@model Pokedex.Models.AbilityEvaluatorViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Ability Evaluator";
    
    var abilities = Model.AllAbilities.Prepend(new Pokedex.DataAccess.Models.Ability { Id = 0, Name = "No Ability Selected" });
}

@section styles
{
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
    <style>
        .generationList {
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .flexDiv {
            padding: 0 0 1rem;
            flex-wrap: wrap;
        }

        .flexDiv label {
          margin-bottom: 7.5px;
        }

        .abilityList, .abilityList>select, .generationList, .generationList>select {
          width: 12rem;
        }

        .abilityClassifier {
            margin: 0.5rem auto;
            background-color: #aa9;
            color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
            padding: 3px;
            max-width: 175px;
        }
    </style>
}

@section scripts
{
    <script src="/js/abilityEvaluator.js"></script>
}

<div>
    <div class="evaluator">
        <div class="flexDiv">
            <div class="generationList">
                @Html.Label("Generation")
                @Html.DropDownList("Generation List", new SelectList(@Model.AllGenerations, "Id", "GenerationName"), new { @class = "form-control generationSelectList" })
            </div>
            <div class="abilityList">
                @Html.Label("Ability")
                @Html.DropDownList("Ability", new SelectList(@abilities, "Id", "Name"), new { @class = "form-control abilitySelectList" })
            </div>
        </div>
    </div>
    <div style="display: none;" class="pokemonWithAbility"></div>
</div>