@model Pokedex.Models.CaptureCalculatorViewModel;
@{
    Layout = "_Layout";
    ViewBag.Title = "Capture Calculator";
}

@section styles
{
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
    <style>
        .flexDiv {
            padding: 5px 0px;
        }

        .calculatorButton {
            margin-left: 15px;
        }
    </style>
}

@section scripts
{
    <script src="/js/captureCalculator.js"></script>
}

<div>
    <div class="captureCalculator">
        <div class="flexDiv">
            <div class="pokemonList col-md-6">
                @Html.Label("Pokemon", "Pokémon")
                <select id="Pokemon" class="form-control" name="Pokemon">
                    @foreach(var p in @Model.AllPokemon)
                    {
                        <option id='@p.Game.GenerationId' value='@p.Id'>@p.Name</option>
                    }
                </select>
            </div>
            <div class="regionList col-md-6">
                @Html.Label("Generation")
                <select id="Generation" class="form-control" name="Generation">
                    @foreach(var p in @Model.AllGenerations)
                    {
                        <option value='@p.Id'>Generation @p.Id</option>
                    }
                </select>
            </div>
        </div>
        <div class="flexDiv">
            <div class="pokeballList col-md-6">
                @Html.Label("Pokeball", "Poké Ball")
                <select id="Pokeball" class="form-control" name="Pokeball">
                    @foreach(var p in @Model.AllPokeballs)
                    {
                        <option id='@p.GenerationId' value='@p.Id'>@p.Name</option>
                    }
                </select>
            </div>
            <div class="healthBar col-md-6">
                <label for="Health">Health: <span id="healthVal"></span></label>
                <div>
                    <input class="healthSlider slider col-md-12" data-val-required="The Health field is required." id="Health" name="Health" type="range" min="1" max="100" value="100">
                </div>
            </div>
        </div>
        <div class="flexDiv">
            <div class="statusList col-md-6">
                @Html.Label("Status")
                @Html.DropDownList("Status", new SelectList(@Model.AllStatuses, "Id", "Name"), "", new { @class = "form-control" })
            </div>
            <div class="encounterLevelBar col-md-6">
                <label for="EncounterLevel">Encounter Level: <span id="encounterLevelVal"></span></label>
                <div>
                    <input class="encounterLevelSlider slider col-md-12" data-val-required="The Level field is required." id="EncounterLevel" name="EncounterLevel" type="range" min="1" max="100" value="100">
                </div>
            </div>
            <div class="turnBar col-md-6">
                <label for="Turn">Turn: <span id="turnVal"></span></label>
                <div>
                    <input class="turnSlider slider col-md-12" data-val-required="The Turn field is required." id="Turn" name="Turn" type="range" min="1" max="11" value="1">
                </div>
            </div>
            <div class="col-md-6 Surfing">
                <input id="Surfing" type="checkbox" />
                <label for="Surfing"><span>Surfing</span></label>
            </div>
            <div class="col-md-6 Fishing">
                <input id="Fishing" type="checkbox" />
                <label for="Fishing"><span>Fishing</span></label>
            </div>
            <div class="col-md-6 PreviouslyCaught">
                <input id="PreviouslyCaught" type="checkbox" />
                <label for="PreviouslyCaught"><span>Previously Caught</span></label>
            </div>
            <div class="col-md-6 CaveOrNight">
                <input id="CaveOrNight" type="checkbox" />
                <label for="CaveOrNight"><span>In Cave Or Night</span></label>
            </div>
            <div class="col-md-6 SameGender">
                <span>Pokemon Genders</span>
                <br>
                <input type="radio" id="SameGender" name="Gender" value="true" />
                <label for="SameGender"><span>Same Gender and Same Species</span></label>
                <br>
                <input type="radio" id="DifferentGender" name="Gender" value="false" />
                <label for="DifferentGender"><span>Different Genders or Different Species</span></label>
            </div>
        </div>
        <div class="flexDiv">
            <div class="userLevelBar col-md-6">
                <label for="UserLevel">User Level: <span id="userLevelVal"></span></label>
                <div>
                    <input class="userLevelSlider slider col-md-12" data-val-required="The Level field is required." id="UserLevel" name="UserLevel" type="range" min="1" max="100" value="100">
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-primary calculatorButton">Calculate Chance</button>
        <br>
        <br>
        <h5 class="calculatedChance col-md-12"></h5>
    </div>
</div>