@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.Models.CommentViewModel
@{
    Layout = "_layout";
    ViewBag.Title = "Leave a Comment";
}

@section styles
{
    <style>
        .radioButton {
            margin: 5px 0;
        }
    </style>
}

<div class="form-horizontal">

    <h2>If you want to receive messages regarding your comment, please log in!</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(x => x.CommentType, "What type of comment is this?")
            @foreach (var c in Model.TypeOfComment)
            {
                <div class="radioButton col-md-8">
                    @Html.RadioButtonFor(x => x.CommentType, c, new { @id = string.Concat(c.Replace(" ", "").Replace("/", "").Replace("(", "").Replace(")", ""), "Type") })
                    @Html.Label(string.Concat(c.Replace(" ", "").Replace("/", "").Replace("(", "").Replace(")", ""), "Type"), c)
                </div>
            }
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.CommentedPage, "What page are you commenting on?")
            @foreach (var p in Model.Page)
            {
                <div class="radioButton">
                    <div class="col-md-8">
                        @Html.RadioButtonFor(x => x.CommentedPage, p, new { @id = string.Concat(p.Replace(" ", "").Replace("/", "").Replace("(", "").Replace(")", ""), "Page") })
                        @Html.Label(string.Concat(p.Replace(" ", "").Replace("/", "").Replace("(", "").Replace(")", ""), "Page"), p)
                    </div>
                    @if (p == "Pokémon Page")
                    {
                        <div class="col-md-3">
                            @Html.EditorFor(x => x.PokemonName, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control" } })
                        </div>
                    }
                </div>
            }
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control" } })
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Submit Comment</button>
        </p>
    }

</div>