@model Pokedex.DataAccess.Models.ShinyHunt
@{
    Layout = "_Layout";
}

@section styles
{
    <link href="/css/tabContent.css" rel="stylesheet" type="text/css" />
    <link href="/css/typechart.css" rel="stylesheet" type="text/css" />
}

@section scripts 
{
    <script src="/js/editShinyHuntAttempts.js"></script>
}

@Html.HiddenFor(x => x.Id, new { id = "shinyHuntId" })

<div class="tab-list">
    <button class="tab active" onclick="openPage(event, '@Model.Pokemon.Name')">@Model.Pokemon.Name.Replace('_', ' ')</button>
</div>
<div class="tabcontent active">
    <div class="pokemonPicture shadowed">
        <img width="327" title="@Model.Pokemon.Name" src="@Url.Content("/images/pokemon/" + @Model.Pokemon.Id + ".png")" />
    </div>
    <div class="span-lg-1"></div>
    <div class="pokemonData pokemonTables span-md-5 span-lg-4">
        <h2>Pokemon Data</h2>
        <table class="pokedexNumber">
            <tbody>
                <tr>
                    <th>Shiny Hunter</th>
                    <td>@Model.User.Username</td>
                </tr>
                <tr>
                    <th>Technique Being Used</th>
                    <td>@Model.ShinyHuntingTechnique.Name</td>
                </tr>
                <tr>
                    <th>
                        @if (Model.Generation.Games.IndexOf('/') > -1)
                        {
                            @("Games Hunting In");
                        }
                        else
                        {
                            @("Game Hunting In");
                        }
                    </th>
                    <td>
                        @Model.Generation.Games
                    </td>
                </tr>
                <tr>
                    <th>Using Shiny Charm</th>
                    <td>@(Model.HasShinyCharm ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <th>Attempts</th>
                    <td>
                        <button class="attemptCounter subtractAttemptCount btn btn-primary">-</button>
                        <span class="attemptCount" style="margin: 0 .625rem;">@Model.ShinyAttemptCount</span>
                        <button class="attemptCounter addAttemptCount btn btn-primary">+</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="margin-top: 20px;">
            <a class="btn btn-primary" href="@Url.Action("ShinyHuntingCounter", "Home")" role="button">Pause Shiny Hunt</a>
            <a class="btn btn-success" href="@Url.Action("EndShinyHunt", "Home")" role="button">Finish Shiny Hunt</a>
        </div>
    </div>
</div>