@model Pokedex.Models.EggGroupEvaluatorViewModel;
@{
    Layout = "_Layout";
    ViewBag.Title = "Day Care Combinations";
    ViewBag.Description = "Find out what Pokémon can be placed in a day care to produce a Pokémon Egg!";
}

@section styles
{
    <link href="/css/eggGroup.css" rel="stylesheet" type="text/css" />
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
    <link href="/css/ajaxSpinner.css" rel="stylesheet" type="text/css" />
    <style>
        .gameList {
            margin-right: 10px;
        }
    </style>
}

@section scripts
{
    <script src="/js/dayCareEvaluator.js"></script>
}

<div class="evaluator">
    <div class="flexDiv">
        <div class="gameList">
            @Html.Label("Games")
            @Html.DropDownList("Games", new SelectList(@Model.AllGames, "Id", "Name"), "Select Game", new { @class = "form-control gameSelectList" })
        </div>
        <div class="breedablePokemonList">
            @Html.Label("Breedable Pokémon")
            @Html.DropDownList("Breedable Pokémon", Enumerable.Empty<SelectListItem>(), new { @class = "form-control eggGroupSelectList" })
        </div>
    </div>
</div>

<div class="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

<div class="pokemonWithEggGroup"></div>