@model Pokedex.Models.ExpLevelingViewModel;
@{
    ViewBag.Title = "Exp Leveling";
    ViewBag.Description = "Find out how many experience candies you need to reach a specific level! Will even provide the optimal experience candies needed!";
}

@section styles
{
    <link href="~/css/ajaxSpinner.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/expLeveling.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/select2.css" rel="stylesheet" asp-append-version="true" />
}

@section scripts
{
    <script src="~/js/pageLookup.js" asp-append-version="true" asp-append-version="true"></script>
    <script src="~/js/expLeveling.js" asp-append-version="true" asp-append-version="true"></script>
}

<div class="evaluator">
    <div class="flexDiv">
        <div class="pokemonList">
            @Html.Label("Pokémon")
            @Html.DropDownList("Pokemon", new SelectList(@Model.PokemonList, "ExperienceGrowthId", "Name"), "Select Pokémon", new { @class = "form-control pokemonSelectList" })
        </div>
        <div class="currentExp">
            @Html.Label("Current Exp Points")
            @Html.Editor("Current Exp Points", new { htmlAttributes = new { @type = "number", @min = "0", @max = "1640000", @step = "1", @class = "form-control expObtained" } })
        </div>
        <div class="wantedLevel">
            @Html.Label("Wanted Level")
            @Html.Editor("Wanted Level", new { htmlAttributes = new { @type = "number", @min = "1", @max = "100", @step = "1", @class = "form-control requestedLevel" } })
        </div>
    </div>
    <p class="neededExp"></p>
    <div class="flexDiv candyImages">
        <div class="xsCandy">
            <img loading="lazy" src="@(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GeneralImageUrl, "expCandyXS.png"))">
            <p class="candyAmount">0</p>
            <p class="candyName">XS Candies Needed</p>
            <p class="candyDetails">Grants 100 EXP</p>
        </div>
        <div class="sCandy">
            <img loading="lazy" src="@(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GeneralImageUrl, "expCandyS.png"))">
            <p class="candyAmount">0</p>
            <p class="candyName">S Candies Needed</p>
            <p class="candyDetails">Grants 800 EXP</p>
        </div>
        <div class="mCandy">
            <img loading="lazy" src="@(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GeneralImageUrl, "expCandyM.png"))">
            <p class="candyAmount">0</p>
            <p class="candyName">M Candies Needed</p>
            <p class="candyDetails">Grants 3,000 EXP</p>
        </div>
        <div class="lCandy">
            <img loading="lazy" src="@(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GeneralImageUrl, "expCandyL.png"))">
            <p class="candyAmount">0</p>
            <p class="candyName">L Candies Needed</p>
            <p class="candyDetails">Grants 10,000 EXP</p>
        </div>
        <div class="xlCandy">
            <img loading="lazy" src="@(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GeneralImageUrl, "expCandyXL.png"))">
            <p class="candyAmount">0</p>
            <p class="candyName">XL Candies Needed</p>
            <p class="candyDetails">Grants 30,000 EXP</p>
        </div>
    </div>
</div>

<div class="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>