@model Pokedex.Models.GameAvailabilityViewModel;
@{
    ViewBag.Title = "Available Pokémon List";
    ViewBag.Description = "Find out what different Pokémon can appear in each game! Especially useful starting with Sword and Shield!";
}

@section styles
{
    <link href="~/css/pageLookup.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/typeChart.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/ajaxSpinner.css" rel="stylesheet" asp-append-version="true" />
    <style>
        .updateButton {
            margin: 0 3px;
        }

        .shadowed {
            position: relative;
        }
    </style>
}

@section scripts
{
    <script src="~/js/pageLookup.js" asp-append-version="true"></script>
}

<div class="pageButtons">
    @foreach (var g in Model.EdittedGames.OrderBy(x => x.ReleaseDate).ThenBy(x => x.Id))
    {
        string gameColors = string.Concat(g.GameColor, " 50%, ");
        if (@Model.UnedittedGames.Where(x => x.ReleaseDate == g.ReleaseDate).Count() > 1 && g.Name != "Fire Red" && g.Name != "Leaf Green")
        {
            gameColors = string.Concat(gameColors, @Model.UnedittedGames.Where(x => x.ReleaseDate == g.ReleaseDate).ToList()[1].GameColor, " 50%)");
        }
        else
        {
            gameColors = string.Concat(gameColors, g.GameColor, " 50%)");
        }

        <button style="@(g.GameColor != string.Empty ? string.Concat("background: linear-gradient(135deg, ", gameColors) : string.Empty)" class="gameButton" id="Game@(g.Id)" onclick="lookupAvailableGame('@g.Id')">@g.Name</button>
    }
</div>

<div class="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

<div class="page generation pokemonList">
    <div class="totalPokemon" style="@((this.User.IsInRole("Owner") ? "margin-bottom: 20px;" : ""))">
        @if (this.User.IsInRole("Owner"))
        {
            <div class="updater"></div>
        }
    </div>
    <div class="grid-container"></div>
</div>