@model Pokedex.AppConfig;
@{
    Layout = "_Layout";
}

@section scripts
{
    <script>
        $('.siteFeatures img').on('click', function(){
            $('.modal').css('display', 'block');
            $('.modalImage').prop('src', $(this).attr('src'));
            $('.modalLink').attr('href', $(this).attr('data-modalUrl'));
            $('.modalCaption').text($(this).attr('alt'));
            $('.modalDescription').text($(this).attr('title'));
        });
        
        $('.close').on('click', function() {
            $('.modal').css('display', 'none');
            $('.modalImage').prop('src', '');
            $('.modalLink').attr('href', '');
            $('.modalCaption').text('');
            $('.modalDescription').text('');
        });
    </script>
}

<h4>Welcome to the Pokémon Database!</h4>
<br>
<p>This was created starting as a school project and then eventually being transformed into a website.  Please Enjoy!</p>
<p><b>Please Note:</b> Information used for the Pokémon are updated to be in line with the most current generation of Pokémon.</p>
<p>Want to do more then just view Pokémon stats?  Explore other options!</p>
<div class="siteFeatures">
    <div class="feature dayCareEvaluator">
        <a href="@this.Url.Action("DayCareEvaluator", "Home")"><p>Lookup Day Care Combinations!</p></a>
        <img class="modalPreview" data-modalUrl="@this.Url.Action("DayCareEvaluator", "Home")" alt="Day Care Evaluator" title="Find out what Pokémon can be placed in a day care to produce a Pokémon Egg!" src="@(string.Concat(@Model.WebUrl, @Model.HomePageImageUrl, "dayCareEvaluator.png"))">
    </div>
    <div class="feature gameAvailability">
        <a href="@this.Url.Action("GameAvailability", "Home")"><p>Lookup Game Availability!</p></a>
        <img class="modalPreview" data-modalUrl="@this.Url.Action("GameAvailability", "Home")" alt="Game Availability" title="Find out what different Pokémon can appear in each game!  Especially useful starting with Sword and Shield!" src="@(string.Concat(@Model.WebUrl, @Model.HomePageImageUrl, "gameAvailability.png"))">
    </div>
    <div class="feature teamRandomizerFeature">
        <a href="@this.Url.Action("TeamRandomizer", "Home")"><p>Randomize Teams!</p></a>
        <img class="modalPreview" data-modalUrl="@this.Url.Action("TeamRandomizer", "Home")" alt="Team Randomizer" title="Utilize the options in the dropdown menu to create a random Pokémon team!" src="@(string.Concat(@Model.WebUrl, @Model.HomePageImageUrl, "teamRandomizer.png"))">
    </div>
    <div class="feature typeEvaluator">
        <a href="@this.Url.Action("TypingEvaluator", "Home")"><p>Lookup Type Combinations!</p></a>
        <img class="modalPreview" data-modalUrl="@this.Url.Action("TypingEvaluator", "Home")" alt="Typing Evaluator" title="Find out what Pokémon have a specific typing and what that type chart looks like!" src="@(string.Concat(@Model.WebUrl, @Model.HomePageImageUrl, "typingEvaluator.png"))">
    </div>
</div>
@if (!this.User.Identity.IsAuthenticated)
{
    <br>
    <p>If you're logged in, you have access to these!  <a href="@this.Url.Action("Login", "Account")">Login</a></p>
}
<div class="siteFeatures">
    <div class="feature teamBuilder">
        <a href="@this.Url.Action("PokemonTeams", "User")"><p>Build Teams!</p></a>
        <img class="modalPreview" data-modalUrl="@this.Url.Action("PokemonTeams", "User")" alt="Team Builder" title="Build different teams with the given options, or import them from Pokémon Showdown!  Once saved, you can export them to Showdown as well!" src="@(string.Concat(@Model.WebUrl, @Model.HomePageImageUrl, "pokemonTeams.png"))">
    </div>
    <div class="feature shinyHunting">
        <a href="@this.Url.Action("ShinyHuntingCounter", "User")"><p>Hunt for Shiny Pokémon!</p></a>
        <img class="modalPreview" data-modalUrl="@this.Url.Action("ShinyHuntingCounter", "User")" alt="Shiny Hunting" title="Hunt for shiny Pokémon utilizing different hunting methods!" src="@(string.Concat(@Model.WebUrl, @Model.HomePageImageUrl, "shinyHunting.png"))">
    </div>
</div>
</div>
<div class="modal">
    <span class="close">&times;</span>
    <h3 class="modalCaption"></h3>
    <h5 class="modalDescription"></h5>
    <a target="_blank" class="modalLink"><img class="modalImage"></a>
</div>