@model Pokedex.AppConfig;
@{
    Layout = "_Layout";
}

@section styles
{
    <style>
        .welcome p {
            margin: 0 10px 16px;
        }
    </style>
}

@section scripts
{
    <script>
        $('.siteFeatures img').on('click', function(){
            $('.modal').css('display', 'block');
            $('.modalImage').prop('src', $(this).attr('src'));
            $('.modalLink').attr('href', $(this).attr('data-modalUrl'));
            $('.modalCaption').text($(this).attr('alt'));
            $('.modalDescription').text($(this).attr('title'));
        });
        
        $('.close').on('click', function() {
            $('.modal').css('display', 'none');
            $('.modalImage').prop('src', '');
            $('.modalLink').attr('href', '');
            $('.modalCaption').text('');
            $('.modalDescription').text('');
        });
    </script>
}

<div class="welcome">
    <h4><b>Welcome to the Pokémon Database!</b></h4>
    <p>Since 2019, my goal has been to provide Pokémon information in a concise way, without the need to scroll around the page to view everything.  Please enjoy the different features available on this site!</p>
    <h5><b>Site Features</b></h5>
    <p>Click on the image to learn more about that page!</p>
</div>
<div class="siteFeatures">
    <div class="feature pokemonList">
        <a href="@this.Url.Action("AllPokemon", "Home")"><p><b>Lookup Pokemon!</b></p></a>
        <img class="modalPreview" data-modalUrl="@this.Url.Action("AllPokemon", "Home")" alt="Pokemon List" title="Lookup different Pokémon stats, separated by different generations!" src="@(string.Concat(@Model.WebUrl, @Model.HomePageImageUrl, "pokemonList.png"))">
    </div>
    <div class="feature teamRandomizerFeature">
        <a href="@this.Url.Action("TeamRandomizer", "Home")"><p><b>Randomize Teams!</b></p></a>
        <img class="modalPreview" data-modalUrl="@this.Url.Action("TeamRandomizer", "Home")" alt="Team Randomizer" title="Utilize the options in the dropdown menus to create a randomized Pokémon team!" src="@(string.Concat(@Model.WebUrl, @Model.HomePageImageUrl, "teamRandomizer.png"))">
    </div>
    <div class="feature teamBuilder">
        <a href="@this.Url.Action("PokemonTeams", "User")"><p><b>Build Teams!</b></p></a>
        <img class="modalPreview" data-modalUrl="@this.Url.Action("PokemonTeams", "User")" alt="Team Builder" title="Build different teams with the given options, or import them from Pokémon Showdown!  Once saved, you can export them to Showdown as well! Requires you to be logged into your account to use." src="@(string.Concat(@Model.WebUrl, @Model.HomePageImageUrl, "pokemonTeams.png"))">
    </div>
    <div class="feature typeLookup">
        <a href="@this.Url.Action("TypingEvaluator", "Home")"><p><b>Evaluate Type Combinations!</b></p></a>
        <img class="modalPreview" data-modalUrl="@this.Url.Action("TypingEvaluator", "Home")" alt="Type Combinations" title="Find out what Pokémon have a specific typing and what that type chart looks like!" src="@(string.Concat(@Model.WebUrl, @Model.HomePageImageUrl, "typingLookup.png"))">
    </div>
    <div class="feature teamBuilder">
        <a href="@this.Url.Action("EVTrainer", "Home")"><p><b>Train Pokemon!</b></p></a>
        <img class="modalPreview" data-modalUrl="@this.Url.Action("EVTrainer", "Home")" alt="EV Trainer" title="Find out how to train your Pokémon using the EVs opponent Pokémon give upon defeat!" src="@(string.Concat(@Model.WebUrl, @Model.HomePageImageUrl, "evTrainer.png"))">
    </div>
    <div class="feature gameAvailability">
        <a href="@this.Url.Action("GameAvailability", "Home")"><p><b>Lookup Game Availability!</b></p></a>
        <img class="modalPreview" data-modalUrl="@this.Url.Action("GameAvailability", "Home")" alt="Game Availability" title="Find out what different Pokémon can appear in each game! Especially useful starting with Sword and Shield!" src="@(string.Concat(@Model.WebUrl, @Model.HomePageImageUrl, "gameAvailability.png"))">
    </div>
    <div class="feature formViewer">
        <a href="@this.Url.Action("FormEvaluator", "Home")"><p><b>View Alternate Forms!</b></p></a>
        <img class="modalPreview" data-modalUrl="@this.Url.Action("FormEvaluator", "Home")" alt="Form Viewer" title="Find out what Pokémon belong to a particular alternate form!" src="@(string.Concat(@Model.WebUrl, @Model.HomePageImageUrl, "formViewer.png"))">
    </div>
    <div class="feature abilityLookup">
        <a href="@this.Url.Action("AbilityEvaluator", "Home")"><p><b>Lookup Abilities!</b></p></a>
        <img class="modalPreview" data-modalUrl="@this.Url.Action("AbilityEvaluator", "Home")" alt="Ability Lookup" title="Find out what Pokémon have a specific ability, whether it's their primary, secondary, or hidden ability, and what that ability does!" src="@(string.Concat(@Model.WebUrl, @Model.HomePageImageUrl, "abilityLookup.png"))">
    </div>
    <div class="feature dayCareCombinations">
        <a href="@this.Url.Action("DayCareEvaluator", "Home")"><p><b>Lookup Day Care Combinations!</b></p></a>
        <img class="modalPreview" data-modalUrl="@this.Url.Action("DayCareEvaluator", "Home")" alt="Day Care Combinations" title="Find out what Pokémon can be placed in a day care to produce a Pokémon Egg!" src="@(string.Concat(@Model.WebUrl, @Model.HomePageImageUrl, "dayCareCombinations.png"))">
    </div>
</div>
<div class="modal">
    <span class="close">&times;</span>
    <h3 class="modalCaption"></h3>
    <h5 class="modalDescription"></h5>
    <a target="_blank" class="modalLink"><img class="modalImage"></a>
</div>