@model Pokedex.Models.PokemonDifferenceViewModel;
@{
    ViewBag.Title = "Pokémon Differences";
    ViewBag.Description = string.Concat("View the differences between Pokémon, by it two different Pokémon or the same Pokémon from different games!");
}

@section styles
{
    <link href="~/css/typeChart.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/pokemonDifferences.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/pageLookup.css" rel="stylesheet" asp-append-version="true" asp-append-version="true" />
    <link href="~/css/ajaxSpinner.css" rel="stylesheet" asp-append-version="true" asp-append-version="true" />
    <link href="~/css/select2.css" rel="stylesheet" asp-append-version="true" />
}

@section scripts
{
    <script src="~/js/pokemonDifference.js" asp-append-version="true"></script>
}

<div>
    <div class="evaluator">
        <div class="flexDiv">
            <div class="firstPokemon flexDiv">
                <div class="pokemonList">
                    @Html.Label("Select First Pokémon")
                    @Html.DropDownList("FirstPokemon", new SelectList(@Model.AllPokemon, "Id", "Name"), "", new { @class = "form-control firstPokemonSelectList" })
                </div>
                <div class="gameList hide">
                    @Html.Label("Select First Pokémon's Game")
                    @Html.DropDownList("FirstGame", Enumerable.Empty<SelectListItem>(), new { @class = "form-control firstGameSelectList" })
                </div>
            </div>
            <div class="secondPokemon flexDiv">
                <div class="pokemonList">
                    @Html.Label("Select Second Pokémon")
                    @Html.DropDownList("SecondPokemon", new SelectList(@Model.AllPokemon, "Id", "Name"), "", new { @class = "form-control secondPokemonSelectList" })
                </div>
                <div class="gameList hide">
                    @Html.Label("Select Second Pokémon's Game")
                    @Html.DropDownList("SecondGame", Enumerable.Empty<SelectListItem>(), new { @class = "form-control secondGameSelectList" })
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary compareButton hide" onclick="comparePokemon()">View Differences</button>
    <br>
    <div class="pokemonDifferences page"></div>
</div>

<div class="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>