@model IEnumerable<Pokedex.Models.PokemonViewModel>
@{
    Layout = "_Layout";
    ViewBag.Title = @Model.First().Pokemon.Name.Replace('_', ' ');
    string style = "";
}

@section styles
{
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
    <link href="/css/typeChart.css" rel="stylesheet" type="text/css" />
    <link href="/css/pokemonPage.css" rel="stylesheet" type="text/css" />
    <link class="tabIcon" rel="icon" type="image/png" href="@Url.Content(@Model.FirstOrDefault().AppConfig.WebUrl + "/images/pokemon/" + @Model.FirstOrDefault().Pokemon.Id + ".png")" />
}

@section scripts
{
    <script src="/js/pageLookup.js"></script>
    <script src="/js/calculateCaptureRate.js"></script>
}

<table class="surroundingPokemon pokemonPicture">
    <tr>
        <td class="previousPokemon">
            <table>
                <tr>
                    <td>
                        <a href="@Url.Action("Pokemon", "Home", new { name = Model.First().SurroundingPokemon[0].Name.Replace(' ', '_').ToLower() })">← @Model.First().SurroundingPokemon[0].Name.Replace('_', ' ')</a>
                    </td>
                    <td>
                        <a href="@Url.Action("Pokemon", "Home", new { name = Model.First().SurroundingPokemon[0].Name.Replace(' ', '_').ToLower() })">
                            <img class="lightshadowed" title="@Model.First().SurroundingPokemon[0].Name.Replace('_', ' ')" src="@Url.Content(@Model.First().AppConfig.WebUrl + "/images/pokemon/" + @Model.First().SurroundingPokemon[0].Id + ".png")" />
                        </a>
                    </td>
                </tr>
            </table>
        </td>
        <td class="nextPokemon">
            <table>
                <tr>
                    <td>
                        <a href="@Url.Action("Pokemon", "Home", new { name = Model.First().SurroundingPokemon[1].Name.Replace(' ', '_').ToLower() })">
                            <img class="lightshadowed" title="@Model.First().SurroundingPokemon[1].Name.Replace('_', ' ')" src="@Url.Content(@Model.First().AppConfig.WebUrl + "/images/pokemon/" + @Model.First().SurroundingPokemon[1].Id + ".png")" />
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Pokemon", "Home", new { name = Model.First().SurroundingPokemon[1].Name.Replace(' ', '_').ToLower() })">@Model.First().SurroundingPokemon[1].Name.Replace('_', ' ') →</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<hr>

@foreach(var item in Model)
{
    <div class="page pokemon@(@item.Form == null ? " active" : "")" id="@item.Pokemon.Name.Replace("%", "").Replace("'", "").Replace("(", "").Replace(")", "").Replace(" ", "")@(@item.Form != null ? @item.Form.Name.Replace(" ", "") : "")">
        <div class="pokemonInfo pokemonPicture pokemonTables shadowed">
            <img title="@item.Pokemon.Name.Replace('_', ' ')@(@item.Form != null ? " (" + @item.Form.Name + ")" : "")" src="@Url.Content(@item.AppConfig.WebUrl + "/images/pokemon/" + @item.Pokemon.Id + ".png")" />
            @if(Model.Count() > 1)
            {
                <div class="differentForms">
                    <h2>Different Forms</h2>
                    <div class="formButtons">
                        @foreach(var button in Model.Where(x => x.Pokemon.Id != item.Pokemon.Id))
                        {
                            string iconLink = Url.Content(button.AppConfig.WebUrl + "/images/pokemon/" + button.Pokemon.Id + ".png");
                            <button onclick="lookupPokemon('@button.Pokemon.Name.Replace("%", "").Replace("'", "").Replace("(", "").Replace(")", "").Replace(" ", "")@(@button.Form != null ? @button.Form.Name.Replace(" ", "") : "")', '@iconLink', '@button.Pokemon.Name.Replace('_', ' ')@(@button.Form != null ? " (" + @button.Form.Name + ")" : "")')">
                                <img class="lightshadowed" title="@button.Pokemon.Name.Replace('_', ' ')@(@button.Form != null ? " (" + @button.Form.Name + ")" : "")" src="@Url.Content(@button.AppConfig.WebUrl + "/images/pokemon/" + @button.Pokemon.Id + ".png")" />
                            </button>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="pokemonInfo pokemonData pokemonTables">
            <h2>Pokemon Data</h2>
            <table class="pokedexNumber">
                <tbody>
                    <tr>
                        <th>Pokemon Name</th>
                        <td>
                            @if(item.Form != null)
                            {
                                @(item.Pokemon.Name + " (" + item.Form.Name + ")")
                            }
                            else
                            {
                                @(item.Pokemon.Name)
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Pokedex Number</th>
                        @if(item.Pokemon.Id.Contains('-'))
                        {
                            <td>@('#')@item.Pokemon.Id.Substring(0, item.Pokemon.Id.IndexOf('-')).PadLeft(3, '0')</td>
                        }
                        else
                        {
                            <td>@('#')@item.Pokemon.Id.PadLeft(3, '0')</td>
                        }
                    </tr>
                    <tr>
                        <th>Classification</th>
                        <td>@item.Pokemon.Classification.Name</td>
                    </tr>
                    <tr>
                        <th>Height</th>
                        <td>
                            @{
                                var feet = 0;
                                var inches = (int)Math.Round((@item.Pokemon.Height / 0.0254m), 0);
                                while(inches >= 12)
                                {
                                    feet++;
                                    inches -= 12;
                                }
                            }
                            @feet@("'")@inches.ToString("D2")@('"') (@item.Pokemon.Height.ToString("0.####") m)
                        </td>
                    </tr>
                    <tr>
                        <th>Weight</th>
                        <td>
                            @(Math.Round(@item.Pokemon.Weight * (decimal)2.2046226, 1).ToString("0.####")) lbs
                            (@item.Pokemon.Weight.ToString("0.####") kg)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @if(item.SecondaryAbility == null && item.HiddenAbility == null)
                            {
                                @("Ability")
                            }
                            else
                            {
                                @("Abilities")
                            }
                        </th>
                        <td>
                            <span title="Description: @item.PrimaryAbility.Description">
                                @item.PrimaryAbility.Name
                            </span>
                            @if (@item.SecondaryAbility != null)
                            {
                                <br>
                                <span title="Description: @item.SecondaryAbility.Description">
                                    @item.SecondaryAbility.Name
                                </span>
                            }
                            @if (@item.HiddenAbility != null)
                            {
                                <br>
                                <span title="Description: @item.HiddenAbility.Description">
                                    @item.HiddenAbility.Name (Hidden)
                                </span>
                            }
                            @if (@item.SpecialEventAbility != null)
                            {
                                <br>
                                <span title="Description: @item.SpecialEventAbility.Description">
                                    @item.SpecialEventAbility.Name (Special Ability)
                                </span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Gender Ratio</th>
                        <td>
                            @if (item.Pokemon.GenderRatio.MaleRatio == 0 && item.Pokemon.GenderRatio.FemaleRatio == 0)
                            {
                                @("Genderless");
                            }
                            else
                            {
                                if (item.Pokemon.GenderRatio.FemaleRatio == 0)
                                {
                                    <span class="maleRatio">@item.Pokemon.GenderRatio.MaleRatio@("% Male")</span>;
                                }
                                else if (item.Pokemon.GenderRatio.MaleRatio == 0)
                                {
                                    <span class="femaleRatio">@item.Pokemon.GenderRatio.FemaleRatio@("% Female")</span>;
                                }
                                else
                                {
                                    <span class="maleRatio">@item.Pokemon.GenderRatio.MaleRatio@("% Male")</span>
                                    @("/")
                                    <span class="femaleRatio">@item.Pokemon.GenderRatio.FemaleRatio@("% Female")</span>;
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @if (item.Pokemon.Generation.Games.IndexOf('/') > -1)
                            {
                                @("Games of Origin");
                            }
                            else
                            {
                                @("Game of Origin");
                            }
                        </th>
                        <td>
                            @item.Pokemon.Generation.Games
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="typing pokemonTables">
                <h2>Typing</h2>
                <div class="pokemon-type type-icon type-@item.PrimaryType.Name.ToLower()">@item.PrimaryType.Name</div>
                @if(@item.SecondaryType != null)
                {
                    <div class="pokemon-type type-icon type-@item.SecondaryType.Name.ToLower()">@item.SecondaryType.Name</div>
                }
            </div>
            <div class="pokemonInfo effectivenessChart pokemonTables tableWithHeaders noRowBorders">
                @if (item.Effectiveness.StrongAgainst.Count > 0)
                {
                    <div class="StrongAgainst">
                        <h2>Resistances</h2>
                        <table class="StrongAgainstTable">
                            <tbody>
                                @foreach(string s in item.Effectiveness.StrongAgainst)
                                {
                                    <tr>
                                        @if (@s.IndexOf(" Quad") > -1)
                                        {
                                            <td>
                                                <div class="pokemon-type type-icon type-@s.ToLower().Substring(0, @s.IndexOf(" Quad"))">@s.Substring(0, @s.IndexOf(" Quad"))</div>
                                                <div class="pokemon-type quad-icon quad-resist">Quad</div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <div class="pokemon-type type-icon type-@s.ToLower()">@s</div>    
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    style = "";
                }
                else
                {
                    style = "display: flex;";
                }
                <div style="@style" class="nonResistances">
                    @if (item.Effectiveness.WeakAgainst.Count > 0)
                    {
                        <div class="WeakAgainst">
                            <h2>Weaknesses</h2>
                            <table class="WeakAgainstTable">
                                <tbody>
                                    @foreach(string w in item.Effectiveness.WeakAgainst)
                                    {
                                        <tr>
                                            @if (@w.IndexOf(" Quad") > -1)
                                            {
                                                <td>
                                                    <div class="pokemon-type type-icon type-@w.ToLower().Substring(0, @w.IndexOf(" Quad"))">@w.Substring(0, @w.IndexOf(" Quad"))</div>
                                                    <div class="pokemon-type quad-icon quad-weak">Quad</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <div class="pokemon-type type-icon type-@w.ToLower()">@w</div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    @if (item.Effectiveness.ImmuneTo.Count > 0)
                    {
                        <div class="ImmuneTo">
                            <h2>Immunities</h2>
                            <table class="ImmuneToTable">
                                <tbody>
                                    @foreach(string i in item.Effectiveness.ImmuneTo)
                                    {
                                        <tr>
                                            <td>
                                                <div class="pokemon-type type-icon type-@i.ToLower()">@i</div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="pokemonInfo pokemonTraining pokemonTables">
            <h2>Training</h2>
            <table>
                <tbody>
                    <tr>
                        <th>EV Yield</th>
                        <td>
                            @if (item.EVYields.Health != 0)
                            {
                                @item.EVYields.Health@(" Health");
                                <br>
                            }
                            @if (item.EVYields.Attack != 0)
                            {
                                @item.EVYields.Attack@(" Attack");
                                <br>
                            }
                            @if (item.EVYields.Defense != 0)
                            {
                                @item.EVYields.Defense@(" Defense");
                                <br>
                            }
                            @if (item.EVYields.SpecialAttack != 0)
                            {
                                @item.EVYields.SpecialAttack@(" Sp. Attack");
                                <br>
                            }
                            @if (item.EVYields.SpecialDefense != 0)
                            {
                                @item.EVYields.SpecialDefense@(" Sp. Defense");
                                <br>
                            }
                            @if (item.EVYields.Speed != 0)
                            {
                                @item.EVYields.Speed@(" Speed");
                                <br>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Catch Rate</th>
                        <td class="catchRate" id=@item.Pokemon.CaptureRate.CatchRate></td>
                    </tr>
                    <tr>
                        <th>Experience Growth</th>
                        <td>
                            @item.Pokemon.ExperienceGrowth.Name
                            <br>
                            (@item.Pokemon.ExperienceGrowth.ExpPointTotal XP)
                        </td>
                    </tr>
                    <tr>
                        <th>Experience Yield</th>
                        <td>@item.Pokemon.ExpYield</td>
                    </tr>
                    <tr>
                        <th>Base Happiness</th>
                        <td>@item.Pokemon.BaseHappiness.Happiness</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pokemonInfo pokemonStats pokemonTables">
            <h2>Base Stats</h2>
            <table class="baseStatTable">
                <tbody>
                    <tr>
                        <th class="Health" scope="col">Health</th>
                        <td class="statData"><div class="health statBar" style="width: @(@item.BaseStats.Health * 100 / 255m)%;"></div></td>
                        <td class="Health">@item.BaseStats.Health</td>
                    </tr>
                    <tr>
                        <th class="Attack" scope="col">Attack</th>
                        <td class="statData"><div class="attack statBar" style="width: @(@item.BaseStats.Attack * 100 / 255m)%;"></div></td>
                        <td class="Attack">@item.BaseStats.Attack</td>
                    </tr>
                    <tr>
                        <th class="Defense" scope="col">Defense</th>
                        <td class="statData"><div class="defense statBar" style="width: @(@item.BaseStats.Defense * 100 / 255m)%;"></div></td>
                        <td class="Defense">@item.BaseStats.Defense</td>
                    </tr>
                    <tr>
                        <th class="SpecialAttack" scope="col">Sp. Attack</th>
                        <td class="statData"><div class="specialAttack statBar" style="width: @(@item.BaseStats.SpecialAttack * 100 / 255m)%;"></div></td>
                        <td class="SpecialAttack">@item.BaseStats.SpecialAttack</td>
                    </tr>
                    <tr>
                        <th class="SpecialDefense" scope="col">Sp. Defense</th>
                        <td class="statData"><div class="specialDefense statBar" style="width: @(@item.BaseStats.SpecialDefense * 100 / 255m)%;"></div></td>
                        <td class="SpecialDefense">@item.BaseStats.SpecialDefense</td>
                    </tr>
                    <tr>
                        <th class="Speed" scope="col">Speed</th>
                        <td class="statData"><div class="speed statBar" style="width: @(@item.BaseStats.Speed * 100 / 255m)%;"></div></td>
                        <td class="Speed">@item.BaseStats.Speed</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="baseStatTotal" scope="col">Total</th>
                        <td colspan="2" class="baseStatTotal"><b>@item.BaseStats.StatTotal</b></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="pokemonInfo pokemonBreedingAndEvos pokemonTables">
            <div class="pokemonBreeding">
                <h2>Breeding</h2>
                <table>
                    <tbody>
                        <tr>
                            @if (item.SecondaryEggGroup != null)
                            {
                                <th>Egg Groups</th>
                            }
                            else
                            {
                                <th>Egg Group</th>
                            }
                            <td>
                                @item.PrimaryEggGroup.Name
                                @if (item.SecondaryEggGroup != null)
                                {
                                    <br>
                                    @item.SecondaryEggGroup.Name
                                }
                            </td>
                        </tr>
                        <tr>
                           <th>Egg Cycles</th>
                           <td>
                               @item.Pokemon.EggCycle.CycleCount Cycles
                               <br>
                               (@(item.Pokemon.EggCycle.CycleCount * 257)-@(item.Pokemon.EggCycle.CycleCount * 257 + 256) Steps to Hatch)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @if (item.PreEvolution != null || item.Evolutions.Count > 0)
            {
                <br>
                <div class="evolutions">
                    @if (item.PreEvolution != null)
                    {
                        <table class="preEvolutionTable tableWithHeaders">
                            <thead>
                                <tr>
                                    <th><h2>Pre-Evolution</h2></th>
                                    <th><h2>Evolved By</h2></th>
                                </tr>
                            </thead>
                            <tbody class="evolutionPokemon">
                                <tr>
                                    <th>
                                        <a href="@Url.Action("Pokemon", "Home", new { name = item.PreEvolution.PreevolutionPokemon.Name.Replace(' ', '_').ToLower() })">
                                            <img class="lightshadowed" title="@item.PreEvolution.PreevolutionPokemon.Name.Replace('_', ' ')" src="@Url.Content(@item.AppConfig.WebUrl + "/images/pokemon/" + @item.PreEvolution.PreevolutionPokemon.Id + ".png")" />
                                        </a>
                                        @if(@item.PreEvolution.PreevolutionPokemon.Name.Contains(" ("))
                                        {
                                            <a class="evolutionLink" href="@Url.Action("Pokemon", "Home", new { name = item.PreEvolution.PreevolutionPokemon.Name.Substring(0, item.PreEvolution.PreevolutionPokemon.Name.IndexOf(" (")).Replace(' ', '_').ToLower() })">@item.PreEvolution.PreevolutionPokemon.Name.Replace('_', ' ')</a>
                                        }
                                        else
                                        {
                                            <a class="evolutionLink" href="@Url.Action("Pokemon", "Home", new { name = item.PreEvolution.PreevolutionPokemon.Name.Replace(' ', '_').ToLower() })">@item.PreEvolution.PreevolutionPokemon.Name.Replace('_', ' ')</a>
                                        }
                                    </th>
                                    <td>
                                        @item.PreEvolution.EvolutionMethod.Name
                                        @if (@item.PreEvolution.EvolutionDetails != null)
                                        {
                                            <br>
                                            @(" (" + @item.PreEvolution.EvolutionDetails + ")");
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    @if (item.Evolutions.Count > 0)
                    {
                        <table class="evolutionTable tableWithHeaders">
                            <thead>
                                <tr>
                                    <th><h2>Evolution</h2></th>
                                    <th><h2>Evolves By</h2></th>
                                </tr>
                            </thead>
                            <tbody class="evolutionPokemon">
                                @foreach(var evolution in item.Evolutions)
                                {
                                    <tr>
                                        <th>
                                            <a href="@Url.Action("Pokemon", "Home", new { name = evolution.EvolutionPokemon.Name.Replace(' ', '_').ToLower() })">
                                                <img class="lightshadowed" title="@evolution.EvolutionPokemon.Name.Replace('_', ' ')" src="@Url.Content(@item.AppConfig.WebUrl + "/images/pokemon/" + @evolution.EvolutionPokemon.Id + ".png")" />
                                            </a>
                                            @if(@evolution.EvolutionPokemon.Name.Contains(" ("))
                                            {
                                                <a class="evolutionLink" href="@Url.Action("Pokemon", "Home", new { name = evolution.EvolutionPokemon.Name.Substring(0, evolution.EvolutionPokemon.Name.IndexOf(" (")).Replace(' ', '_').ToLower() })">@evolution.EvolutionPokemon.Name.Replace('_', ' ')</a>
                                            }
                                            else
                                            {
                                                <a class="evolutionLink" href="@Url.Action("Pokemon", "Home", new { name = evolution.EvolutionPokemon.Name.Replace(' ', '_').ToLower() })">@evolution.EvolutionPokemon.Name.Replace('_', ' ')</a>
                                            }
                                        </th>
                                        <td>
                                            @evolution.EvolutionMethod.Name
                                            @if (@evolution.EvolutionDetails != null)
                                            {
                                                <br>
                                                @(" (" + @evolution.EvolutionDetails + ")");
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            }
        </div>
    </div>
}