@model Pokedex.Models.AllPokemonTypeViewModel;
@{
    Layout = "_Layout";
    ViewBag.Title = "Search Results";
}

@section styles
{
    <link href="/css/typeChart.css" rel="stylesheet" type="text/css" />
    <style>
        main {
            max-width: 1220px !important;
        }
    </style>
}

<div>
    <div class="grid-container">
        @foreach(var item in Model.AllPokemon)
        {
            <div class="@item.Pokemon.Name">
                <a href="@Url.Action("Pokemon", "Home", new { Name = @item.Pokemon.Name.Replace(": ", "_").Replace(' ', '_').ToLower()})">
                    <img class="pokemonListPicture" title="@item.Pokemon.Name" src="@Url.Content(@Model.AppConfig.WebUrl + @Model.AppConfig.PokemonImageUrl + @item.Pokemon.Id + ".png")"/>
                </a>
                <div>
                    <a class="pokemonName" href="@Url.Action("Pokemon", "Home", new { Name = @item.Pokemon.Name.Replace(": ", "_").Replace(' ', '_').ToLower()})">@('#')@item.Pokemon.PokedexNumber.ToString().PadLeft(3, '0') @item.Pokemon.Name</a>
                    <div class="typing">
                        <div class="pokemon-type type-icon type-@item.PrimaryType.Name.ToLower()">@item.PrimaryType.Name</div>
                        @if(@item.SecondaryType != null)
                        {
                            <div class="pokemon-type type-icon type-@item.SecondaryType.Name.ToLower()">@item.SecondaryType.Name</div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>