@model Pokedex.Models.AllPokemonTypeViewModel;
@{
    ViewBag.Title = "Search Results";
}

@section styles
{
    <style>
        main {
            max-width: 1220px !important;
        }
    </style>
}

<div>
    <div class="grid-container">
        @foreach (var item in Model.AllPokemon)
        {
            <div class="shadowed @item.Name@(item.IsComplete ? "" : " incomplete")">
                <a href="@this.Url.Action("PokemonWithId", "Home", new { pokemonName = @item.Name.Replace(": ", "_").Replace(' ', '_').ToLower(), pokemonId = @item.Id, generationId = 0 })">
                    <img class="pokemonListPicture" title="@item.Name" loading="lazy" src="@Url.Content(string.Concat(@Model.AppConfig.WebUrl, @Model.AppConfig.GridImageUrl, @item.Id, ".png"))"/>
                </a>
                <div>
                    <a class="pokemonName" href="@this.Url.Action("PokemonWithId", "Home", new { pokemonName = @item.Name.Replace(": ", "_").Replace(' ', '_').ToLower(), pokemonId = @item.Id, generationId = 0 })">
                        @('#')@item.PokedexNumber.ToString().PadLeft(4, '0') @(item.IsAltForm ? item.NameWithForm : item.Name)
                    </a>
                </div>
            </div>
        }
    </div>
</div>