@model Pokedex.Models.TeamRandomizerListViewModel;
@{
    Layout = "_Layout";
    ViewBag.Title = "Team Randomizer";
}

@section styles
{
    <style>
        img {
            width: 300px;
            height: 300px;
            object-fit: contain;
            padding: 5px;
        }

        .pokemonAbility {
            margin: 10px 0;
        }
    </style>
}

@section scripts
{
    <script src="/js/teamRandomizer.js"></script>
}

<div class="btn-group teamRandomizer">
    <span>
        <button class="btn btn-primary generatorDropdown">Randomizer Options</button>
    </span>
    <ul class="generatorDropdownMenu dropdown-menu">
        <section class="generatorSection">
            <span class="generationOptionTitle" id="generations">Generations</span>
            @foreach (var gen in Model.AllGames.Select(x => x.GenerationId).Distinct().ToList())
            {
                <li class="dropdown-item generatorOption generationCheckbox gen@(gen)Checkbox">
                    <input id="gen@(gen)" type="checkbox" value="@(gen)" checked="checked" />
                    <label for="gen@(gen)" class="generatorOptionTitle">Generation @gen</label>
                </li>
            }
            <span class="generationOptionTitle" id="alternateForms">Alternate Forms</span>
            <li class="dropdown-item generatorOption alternateFormCheckbox megaCheckbox">
                <input id="Mega" type="checkbox" value="Mega" checked="checked" />
                <label for="Mega" class="generatorOptionTitle">Mega Evolutions</label>
            </li>
            <li class="dropdown-item generatorOption alternateFormCheckbox alolanFormCheckbox">
                <input id="Alolan" type="checkbox" value="Alolan" checked="checked" />
                <label for="Alolan" class="generatorOptionTitle">Alolan Forms</label>
            </li>
            <li class="dropdown-item generatorOption alternateFormCheckbox galarianFormCheckbox">
                <input id="Galarian" type="checkbox" value="Galarian" checked="checked" />
                <label for="Galarian" class="generatorOptionTitle">Galarian Forms</label>
            </li>
            <li class="dropdown-item generatorOption alternateFormCheckbox gigantamaxFormCheckbox">
                <input id="Gigantamax" type="checkbox" value="Gigantamax" checked="checked" />
                <label for="Gigantamax" class="generatorOptionTitle">Gigantamax Forms</label>
            </li>
            <li class="dropdown-item generatorOption alternateFormCheckbox otherFormCheckbox">
                <input id="Other" type="checkbox" value="Other" checked="checked" />
                <label for="Other" class="generatorOptionTitle">Other Forms</label>
            </li>
            <span class="generationOptionTitle" id="evolutions">Evolutions</span>
            <li class="dropdown-item generatorOption evolutionRadio">
                <input id="allEvolutions" type="radio" name="evolutionSelection" value="allEvolutions" checked="checked" />
                <label for="allEvolutions" class="generatorRadio">All Evolutions</label>
            </li>
            <li class="dropdown-item generatorOption evolutionRadio">
                <input id="stage1Pokemon" type="radio" name="evolutionSelection" value="stage1Pokemon" />
                <label for="stage1Pokemon" class="generatorRadio">Pre Evolution</label>
            </li>
            <li class="dropdown-item generatorOption evolutionRadio">
                <input id="stage2Pokemon" type="radio" name="evolutionSelection" value="middleEvolution" />
                <label for="stage2Pokemon" class="generatorRadio">Middle Evolution</label>
            </li>
            <li class="dropdown-item generatorOption evolutionRadio">
                <input id="onlyFullyEvolved" type="radio" name="evolutionSelection" value="onlyFullyEvolved" />
                <label for="onlyFullyEvolved" class="generatorRadio">Final Evolution</label>
            </li>
        </section>
        <section class="generatorSection">
            <span class="generationOptionTitle" id="games">Games</span>
            <li class="dropdown-item generatorOption gameRadioOption">
                <input id="game0" name="gameSelection" type="radio" value="0" checked="checked" />
                <label for="game0" class="generatorOptionTitle">Any Game</label>
            </li>
            @foreach (var game in Model.AllGames)
            {
                <li class="dropdown-item generatorOption gameRadioOption">
                    <input id="game@(game.Id)" name="gameSelection" type="radio" value="@(game.Id)" />
                    <label for="game@(game.Id)" class="generatorOptionTitle">@game.Name</label>
                </li>
            }
        </section>
        <section class="generatorSection">
            <span class="generationOptionTitle" id="types">Types</span>
            <li class="dropdown-item generatorOption typeRadioOption">
                <input id="type0" name="typeSelection" type="radio" value="0" checked="checked" />
                <label for="type0" class="generatorOptionTitle">Any Type</label>
            </li>
            @foreach (var type in Model.AllTypes)
            {
                <li class="dropdown-item generatorOption typeRadioOption">
                    <input id="type@(type.Id)" name="typeSelection" type="radio" value="@(type.Id)" />
                    <label for="type@(type.Id)" class="generatorOptionTitle">@type.Name</label>
                </li>
            }
        </section>
        <section class="generatorSection">
            <span class="generationOptionTitle" id=legendary>Legendaries</span>
            @foreach(var l in Model.AllLegendaryTypes)
            {
                <li class="dropdown-item generatorOption legendaryCheckbox@(l.Type == "Ultra Beast" ? " ultraBeastCheckbox" : String.Empty)">
                    <input id=@l.Type.Replace(" ", @String.Empty) type="checkbox" value=@l.Type.Replace(" ", @String.Empty) checked="checked" />
                    <label for=@l.Type.Replace(" ", @String.Empty) class="generatorOptionTitle">@(l.Type.Last() == 'y' ? @l.Type.Replace("y", "ies") : @l.Type += 's')</label>
                </li>
            }
            <span class="generationOptionTitle" id="otherOptions">Other Options</span>
            <li class="dropdown-item generatorOption otherOption randomAbilityCheckbox">
                <input id="randomAbilityBool" type="checkbox" value="randomAbilityBool" checked="checked" />
                <label for="randomAbilityBool" class="generatorOptionTitle">Show Random Ability</label>
            </li>
            <li class="dropdown-item generatorOption otherOption legendaryBoolCheckbox">
                <input id="legendaryBool" type="checkbox" value="legendaryBool" />
                <label for="legendaryBool" class="generatorOptionTitle">Only Show Legendaries</label>
            </li>
            <li class="dropdown-item generatorOption otherOption multipleMegaBoolCheckbox">
                <input id="multipleMegaBool" type="checkbox" value="multipleMegaBool" />
                <label for="multipleMegaBool" class="generatorOptionTitle">Show Multiple Megas</label>
            </li>
            <li class="dropdown-item generatorOption otherOption multipleGMaxBoolCheckbox">
                <input id="multipleGMaxBool" type="checkbox" value="multipleGMaxBool" />
                <label for="multipleGMaxBool" class="generatorOptionTitle">Show Multiple Gigantamax</label>
            </li>
            <li class="dropdown-item generatorOption otherOption altFormBoolCheckbox">
                <input id="altFormBool" type="checkbox" value="altFormBool" />
                <label for="altFormBool" class="generatorOptionTitle">Only Show Alternate Forms</label>
            </li>
            <li class="dropdown-item generatorOption otherOption onePokemonFormBoolCheckbox">
                <input id="onePokemonFormBool" type="checkbox" value="onePokemonFormBool" checked="checked" />
                <label for="onePokemonFormBool" class="generatorOptionTitle">Only One Form Per Pokémon</label>
            </li>
        </section>
    </ul>
</div>

<button class="btn btn-primary generatorButton">Randomize Team</button>

<div class="teamRandomizer">
    <table  class="teamRandomizerTable"></table>
</div>