@model IEnumerable<Pokedex.DataAccess.Models.Pokemon>
@{
    Layout = "_Layout";
}

@section styles
{
    <link href="/css/tabContent.css" rel="stylesheet" type="text/css" />
    <link href="/css/typechart.css" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="/js/tabContent.js"></script>
}

<div class="teamGenerator">
    <div class="Table3x2">
        <table  class="teamGeneratorTable">
            <tr>
                @for(var i = 0; i < 3; i++)
                {
                    <td class="generatorPicture shadowed"><a href="@Url.Action("Pokemon", "Home", new { Name = @Model.ElementAt(i).Name.Replace(": ", "_").Replace(' ', '_').ToLower()})" target="_blank"><img title="@Model.ElementAt(i).Name (Click to learn more)" src="@Url.Content("/images/pokemon/" + @Model.ElementAt(i).Id + ".png")" /></a></td>
                }
            </tr>
            <tr>
                @for(var i = 3; i < 6; i++)
                {
                    <td class="generatorPicture shadowed"><a href="@Url.Action("Pokemon", "Home", new { Name = @Model.ElementAt(i).Name.Replace(": ", "_").Replace(' ', '_').ToLower()})" target="_blank"><img title="@Model.ElementAt(i).Name (Click to learn more)" src="@Url.Content("/images/pokemon/" + @Model.ElementAt(i).Id + ".png")" /></a></td>
                }
            </tr>
        </table>
    </div>
    <div class="Table2x3">
        <table  class="teamGeneratorTable">
            <tr>
                @for(var i = 0; i < 2; i++)
                {
                    <td class="generatorPicture shadowed"><a href="@Url.Action("Pokemon", "Home", new { Name = @Model.ElementAt(i).Name.Replace(": ", "_").Replace(' ', '_').ToLower()})" target="_blank"><img title="@Model.ElementAt(i).Name (Click to learn more)" src="@Url.Content("/images/pokemon/" + @Model.ElementAt(i).Id + ".png")" /></a></td>
                }
            </tr>
            <tr>
                @for(var i = 2; i < 4; i++)
                {
                    <td class="generatorPicture shadowed"><a href="@Url.Action("Pokemon", "Home", new { Name = @Model.ElementAt(i).Name.Replace(": ", "_").Replace(' ', '_').ToLower()})" target="_blank"><img title="@Model.ElementAt(i).Name (Click to learn more)" src="@Url.Content("/images/pokemon/" + @Model.ElementAt(i).Id + ".png")" /></a></td>
                }
            </tr>
            <tr>
                @for(var i = 4; i < 6; i++)
                {
                    <td class="generatorPicture shadowed"><a href="@Url.Action("Pokemon", "Home", new { Name = @Model.ElementAt(i).Name.Replace(": ", "_").Replace(' ', '_').ToLower()})" target="_blank"><img title="@Model.ElementAt(i).Name (Click to learn more)" src="@Url.Content("/images/pokemon/" + @Model.ElementAt(i).Id + ".png")" /></a></td>
                }
            </tr>
        </table>
    </div>
    <div class="Table1x6">
        <table  class="teamGeneratorTable">
                @foreach(var item in Model)
                {
                    <tr>
                        <td class="generatorPicture shadowed"><a href="@Url.Action("Pokemon", "Home", new { Name = @item.Name.Replace(": ", "_").Replace(' ', '_').ToLower()})" target="_blank"><img title="@item.Name (Click to learn more)" src="@Url.Content("/images/pokemon/" + @item.Id + ".png")" /></a></td>
                    </tr>
                }
        </table>
    </div>
</div>