@model Pokedex.Models.TypeChartViewModel;
@{
    Layout = "_Layout";
    ViewBag.Title = "Type Chart";
}

@section styles
{
    <link href="/css/typeChart.css" rel="stylesheet" type="text/css" />
    <style>
        main {
            max-width: 1220px !important;
        }
    </style>
}

<div class="grid-row">
    <div class="grid-col resp-scroll">
        <div class="resp-scroll">
            <table class="type-table">
                <thead>
                    <tr>
                        <th class="cell-atkdef">
                            DEFENSE →
                            <br>
                            ATTACK ↴
                        </th>
                        @foreach (var item in Model.Types)
                        {
                            <th>
                                <span class="type-icon type-@item.Name.ToLower() type-cell type-abbr" title="@item.Name">@item.Name.Substring(0, 3)</span>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var atk in Model.Types)
                    {
                        <tr>
                            <th>
                                <span class="type-icon type-@atk.Name.ToLower() type-cell">@atk.Name</span>
                            </th>
                            @foreach (var def in Model.Types)
                            {
                                @if (@Model.TypeChart.Exists(x => x.Attack.Name == atk.Name && x.Defend.Name == def.Name && x.Effective.ToString("0.####") == "0"))
                                {
                                    <td class="type-fx-cell type-fx-0" title="@atk.Name → @def.Name = No Efecct">0</td>
                                }
                                else if (@Model.TypeChart.Exists(x => x.Attack.Name == atk.Name && x.Defend.Name == def.Name && x.Effective.ToString("0.####") == "0.5"))
                                {
                                    <td class="type-fx-cell type-fx-50" title="@atk.Name → @def.Name = Not Very Effective">½</td>
                                }
                                else if (@Model.TypeChart.Exists(x => x.Attack.Name == atk.Name && x.Defend.Name == def.Name && x.Effective.ToString("0.####") == "2"))
                                {
                                    <td class="type-fx-cell type-fx-200" title="@atk.Name → @def.Name = Super Effective">2</td>
                                }
                                else
                                {
                                    <td class="type-fx-cell type-fx-100" title="@atk.Name → @def.Name = Normal Effectiveness"></td>
                                }
                            }
                        </tr>
                    }
                </tbody> 
            </table>
        </div>
    </div>
</div>