@model Pokedex.Models.TypeEvaluatorViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Typing Evaluator";
    
    var primaryItems = Model.AllTypes.Prepend(new Pokedex.DataAccess.Models.Type { Id = 0, Name = "" });
    var secondaryItems = Model.AllTypes.Prepend(new Pokedex.DataAccess.Models.Type { Id = 100, Name = "Any Type" });
    var generations = Model.AllGenerations;
    foreach(var g in generations)
    {
        g.Region = string.Concat("Generation ", g.Id);
    }
    secondaryItems = secondaryItems.Prepend(new Pokedex.DataAccess.Models.Type { Id = 0, Name = "" });
}

@section styles
{
    <link href="/css/typeChart.css" rel="stylesheet" type="text/css" />
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
    <style>
        .quad-icon {
            margin-left: 5px;
        }

        .flexDiv {
            padding: 0 0 1rem;
        }

        .pokemonTables {
            padding: 0;
        }

        .pokemonList > div {
            min-width: 216.75px;
        }

        .primaryList, .secondaryList {
          margin-right: 10px
        }

        .primaryList>label, .secondaryList>label, .generationList>label {
          margin-bottom: 7.5px;
        }

        .primaryList, .primaryList>select, .secondaryList, .secondaryList>select, .generationList, .generationList>select {
          width: 12rem;
        }
    </style>
}

@section scripts
{
    <script src="/js/typingEvaluator.js"></script>
}

<div>
    <div class="evaluator">
        <div class="flexDiv">
            <div class="primaryList">
                @Html.Label("Primary Type")
                @Html.DropDownList("Primary Type", new SelectList(@primaryItems, "Id", "Name"), new { @class = "form-control typingSelectList" })
            </div>
            <div class="secondaryList">
                @Html.Label("Secondary Type")
                @Html.DropDownList("Secondary Type", new SelectList(@secondaryItems, "Id", "Name"), new { @class = "form-control typingSelectList" })
            </div>
            <div class="generationList">
                @Html.Label("Up to What Generation")
                @Html.DropDownList("Generation List", new SelectList(@generations, "Id", "Region"), new { @class = "form-control typingSelectList" })
            </div>
        </div>

        <div style="display: none;" class="effectivenessChart pokemonTables tableWithHeaders noRowBorders"></div>
    </div>
    <div style="display: none;" class="pokemonWithTyping">
        <h2>Pokémon With Typing</h2>
        <div class="grid-container pokemonList"></div>
    </div>
</div>