@model Pokedex.Models.TypeEvaluatorViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Typing Evaluator";
    ViewBag.Description = string.Concat("Find out what Pokémon have a specific typing and what that type chart looks like!");
    var primaryItems = Model.AllTypes.Prepend(new Pokedex.DataAccess.Models.Type { Id = 0, Name = "No Type Selected" });
    var secondaryItems = Model.AllTypes.Prepend(new Pokedex.DataAccess.Models.Type { Id = 100, Name = "Any Type" });
    secondaryItems = secondaryItems.Prepend(new Pokedex.DataAccess.Models.Type { Id = 0, Name = "No Type Selected" });
}

@section styles
{
    <link href="/css/typeChart.css" rel="stylesheet" type="text/css" />
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
    <style>
        .quad-icon {
            margin-left: 5px;
        }

        .flexDiv {
            padding: 0 0 1rem;
            flex-wrap: wrap;
        }

        .pokemonTables {
            padding: 0;
        }

        .pokemonList > div {
            min-width: 216.75px;
        }

        .primaryList, .generationList {
          margin-right: 10px;
          margin-bottom: 10px;
        }

        .flexDiv label {
          margin-bottom: 7.5px;
        }

        .primaryList, .primaryList>select, .secondaryList, .secondaryList>select, .generationList, .generationList>select {
          width: 12rem;
        }

        .effectivenessChart {
            margin: -25px 0 20px;
        }
    </style>
}

@section scripts
{
    <script src="/js/typingEvaluator.js"></script>
}

<div>
    <div class="evaluator">
        <div class="flexDiv">
            <div class="generationList">
                @Html.Label("Generation")
                <select class="form-control generationSelectList" id="Generation" name="Generation">
                    <option value="0">Any Generation</option>
                    @foreach (var g in Model.AllGenerations)
                    {
                        <option value="@g.Id">@g.GenerationName</option>
                    }
                </select>
            </div>
            <div class="typeLists flexDiv">
                <div class="primaryList">
                    @Html.Label("Primary Type")
                    @Html.DropDownList("Primary Type", new SelectList(@primaryItems, "Id", "Name"), new { @class = "form-control typingSelectList" })
                </div>
                <div class="secondaryList">
                    @Html.Label("Secondary Type")
                    @Html.DropDownList("Secondary Type", new SelectList(@secondaryItems, "Id", "Name"), new { @class = "form-control typingSelectList" })
                </div>
            </div>
        </div>

        <div style="display: none;" class="effectivenessChart pokemonTables tableWithHeaders noRowBorders"></div>
    </div>
    <div style="display: none;" class="pokemonWithTyping">
        <h2>Pokémon With Typing</h2>
        <div class="grid-container pokemonList"></div>
    </div>
</div>