@model Pokedex.Models.TypeEvaluatorViewModel
@{
    ViewBag.Title = "Typing Lookup";
    ViewBag.Description = string.Concat("Find out what Pokémon have a specific typing and what that type chart looks like!");
    var primaryItems = Model.AllTypes.Prepend(new Pokedex.DataAccess.Models.Type { Id = 0, Name = "No Type Selected" });
    var secondaryItems = Model.AllTypes.Prepend(new Pokedex.DataAccess.Models.Type { Id = 100, Name = "Any Type" });
    secondaryItems = secondaryItems.Prepend(new Pokedex.DataAccess.Models.Type { Id = 0, Name = "No Type Selected" });
}

@section styles
{
    <link href="~/css/typeChart.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/pageLookup.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/ajaxSpinner.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/select2.css" rel="stylesheet" asp-append-version="true" />
    <style>
        .select2-container {
            max-width: none !important;
        }

        .quad-icon {
            margin-left: 5px;
        }

        .flexDiv {
            padding: 0 0 1rem;
            flex-wrap: wrap;
        }

        .pokemonTables {
            padding: 0;
        }

        .pokemonList > div {
            min-width: 216.75px;
        }

        .primaryList, .gameList {
          margin-right: 10px;
          margin-bottom: 10px;
        }

        .flexDiv label {
          margin-bottom: 7.5px;
        }

        .effectivenessChart {
            margin: -25px 0 20px;
        }
        
        .effectivenessChart th, .effectivenessChart td {
            border-style: solid;
            border-color: #dbdbdb;
            padding: 4px 10px;
        }

        .typing-table {
            width: 172px !important;
        }

        .typing-table td {
            line-height: 15.6px;
            margin-left: 2px;
            display: block;
        }

        .gameList {
            width: 12rem;
        }
    </style>
}

@section scripts
{
    <script src="~/js/typingEvaluator.js" asp-append-version="true"></script>
}

<div class="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

<div class="evaluator">
    <div class="flexDiv">
        <div class="gameList">
            @Html.Label("Game")
            <select class="form-control gameSelectList" id="Game" name="Game">
                <option value="0">Any Game</option>
                @foreach (var g in Model.AllGames)
                {
                    <option value="@g.Id">@g.Name</option>
                }
            </select>
        </div>
        <div class="typeLists flexDiv">
            <div class="primaryList">
                @Html.Label("Primary Type")
                @Html.DropDownList("Primary Type", new SelectList(@primaryItems, "Id", "Name"), new { @class = "form-control typingSelectList primaryTypeSelectList" })
            </div>
            <div class="secondaryList">
                @Html.Label("Secondary Type")
                @Html.DropDownList("Secondary Type", new SelectList(@secondaryItems, "Id", "Name"), new { @class = "form-control typingSelectList secondaryTypeSelectList" })
            </div>
        </div>
    </div>
    <div style="display: none;" class="effectivenessChart page pokemonTables tableWithHeaders noRowBorders"></div>
</div>
<div style="display: none;" class="pokemonWithTyping">
    <h2>Pokémon With Typing</h2>
    <div class="grid-container pokemonList"></div>
</div>