@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.DataAccess.Models.ShinyHunt
@{
    Layout = "_Layout";
}

<h2>Archive Shiny Hunt Confirm</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.HiddenFor(x => x.Id)

        <div class="form-group">
            @Html.LabelFor(x => x.User.Username):
            @Html.DisplayFor(x => x.User.Username, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Pokemon.Name):
            @Html.DisplayFor(x => x.Pokemon.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Generation.Games):
            @Html.DisplayFor(x => x.Generation.Games, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.ShinyHuntingTechnique.Name):
            @Html.DisplayFor(x => x.ShinyHuntingTechnique.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <p>
            <button type="submit" class="btn btn-danger" role="button">Archive</button>
        </p>
    }

</div>