@model Pokedex.Models.ClassificationViewModel;
@{
    Layout = "_Layout";
}

<div class="classificationTable">
    @if(User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@Url.Action("Classification", "Add")" role="button">Add Classification</a>
        </p>
    }
    <table class="table">
        <tr>
            <th scope="col">Classification</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach(var item in Model.AllClassifications)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <a href="@(Url.Action("Classification", "Edit", new { id = item.Id }))">Edit</a>
                    @if(User.IsInRole("Owner") && !(Model.AllPokemon.Exists(x => x.Classification.Id == item.Id)))
                    {
                        @('|')
                        <a href="@(Url.Action("Classification", "Delete", new { id = item.Id }))">Delete</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>