@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Pokedex.DataAccess.Models.Generation
@{
    Layout = "_layout";
}

<h2>Update Generaiton</h2>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {        
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(x => x.Id)
            @Html.EditorFor(x => x.Id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.Id)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Region)
            @Html.EditorFor(x => x.Region, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.Region)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Games)
            @Html.EditorFor(x => x.Games, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.Games)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Abbreviation)
            @Html.EditorFor(x => x.Abbreviation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.Abbreviation)
        </div>

        <p>
            <button type="submit" class="btn btn-primary" role="button">Save</button>
        </p>
    }

</div>