@model Pokedex.Models.GenerationViewModel;
@{
    Layout = "_Layout";
}

<div class="generationTable">
    @if(User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@Url.Action("Generation", "Add")" role="button">Add Generation</a>
        </p>
    }
    <table class="table">
        <tr>
            <th scope="col">Generation ID</th>
            <th scope="col">Game(s) of Origin</th>
            <th scope="col">Release Date</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach(var item in Model.AllGenerations)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Region</td>
                <td>
                    <a href="@(Url.Action("Generation", "Edit", new { id = item.Id }))">Edit</a>
                    @if(!Model.AllGames.Exists(x => x.Generation.Id == item.Id))
                    {
                        @("|")
                        <a href="@(Url.Action("Generation", "Delete", new { id = item.Id }))">Delete</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>