@model Pokedex.Models.GenerationViewModel;
@{
    Layout = "_Layout";
}

<div class="generationTable">
    @if(User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@Url.Action("Generation", "Add")" role="button">Add Generation</a>
        </p>
    }
    <table class="table">
        <tr>
            <th scope="col">Generation ID</th>
            <th scope="col">Region</th>
            <th scope="col">Game(s) of Origin</th>
            <th scope="col">Release Date</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach(var item in Model.AllGenerations)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Region</td>
                <td>
                    @item.Games (@item.Abbreviation)
                    @if (item.IsArchived == true)
                    {
                        @("(Archived)")
                    }
                </td>
                <td>@item.ReleaseDate.ToString("MMMM d, yyyy")</td>
                <td>
                    <a href="@(Url.Action("Generation", "Edit", new { id = item.Id }))">Edit</a>
                    @if(!Model.AllPokemon.Exists(x => x.Generation.Id == item.Id))
                    {
                        @("|")
                        @if(!item.IsArchived)
                        {
                            <a href="@(Url.Action("Generation", "Archive", new { id = item.Id }))">Archive</a>
                        }
                        else
                        {
                            <a href="@(Url.Action("Generation", "Unarchive", new { id = item.Id }))">Unarchive</a>
                        }
                        @if(User.IsInRole("Owner"))
                        {
                            @('|')
                            <a href="@(Url.Action("Generation", "Delete", new { id = item.Id }))">Delete</a>
                        }
                    }
                </td>
            </tr>
        }
    </table>
</div>