@model Pokedex.Models.LegendaryTypeViewModel;
@{
    Layout = "_Layout";
}

<div class="abilityTable">
    @if(User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@Url.Action("LegendaryType", "Add")" role="button">Add Legendary Form</a>
        </p>
    }
    <table class="table">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach(var item in Model.AllLegendaryTypes)
        {
            <tr>
                <td>
                    @item.Type
                </td>
                <td>
                    <a href="@(Url.Action("LegendaryType", "Edit", new { id = item.Id }))">Edit</a>
                    @if(!(Model.AllPokemon.Exists(x => x.LegendaryTypeId == item.Id)))
                    {
                        @('|')
                        <a href="@(Url.Action("LegendaryType", "Delete", new { id = item.Id }))">Delete</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>