@model Pokedex.Models.LocationAdminViewModel;
@{
    Layout = "_Layout";
}

<div class="locationTable">
    @if (this.User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@this.Url.Action("Location", "Add")" role="button">Add Location</a>
        </p>
    }
    <table class="table">
        <tr>
            <th scope="col">Location</th>
            <th scope="col">Region</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach (var item in Model.AllLocations)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Region.Name</td>
                <td>
                    <a href="@(this.Url.Action("Location", "Edit", new { id = item.Id }))">Edit</a>
                    @('|')
                    <a href="@(this.Url.Action("PokemonLocationDetails", "Admin", new { locationId = item.Id }))">Edit Pokemon Availability</a>
                    @if (this.User.IsInRole("Owner"))
                    {
                        @if (!(Model.AllPokemonLocationDetails.Exists(x => x.LocationId == item.Id)))
                        {
                            @('|')
                            <a href="@(this.Url.Action("Location", "Delete", new { id = item.Id }))">Delete</a>
                        }
                    }
                </td>
            </tr>
        }
    </table>
</div>