@model Pokedex.Models.AdminMoveViewModel;
@{
    Layout = "_Layout";
}

@section styles
{
    <link href="/css/pageLookup.css" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="/js/pageLookup.js" type="text/javascript"></script>
}

@if(User.IsInRole("Owner"))
{
    <p>
        <a class="btn btn-primary" href="@Url.Action("Move", "Add")" role="button">Add Move</a>
    </p>
}

<div class="pageButtons">
    @foreach(var item in Model.AllTypes)
    {
        <button id="Type@(item.Id)" onclick="lookupMoveTypes('@item.Id')">@item.Name</button>
    }
</div>
<div class="moveTable">
    @foreach(var type in Model.AllTypes)
    {
        <div class="page type@(type.Id)">
            <table class="moveTable">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Move Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Base Power</th>
                    <th scope="col">PP</th>
                    <th scope="col">Accuracy</th>
                    <th scope="col">Actions</th>
                </tr>
                @foreach(var item in Model.AllMoves.Where(x => x.MoveTypeId == type.Id).ToList())
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@Model.AllTypes.Find(x => x.Id == item.MoveTypeId).Name</td>
                        <td>@Model.AllMoveCategories.Find(x => x.Id == item.MoveCategoryId).Category</td>
                        <td>@item.Description</td>
                        <td>
                            @if(item.BasePower != null)
                            {
                                @item.BasePower
                            }
                            else
                            {
                                @("--");
                            }
                        </td>
                        <td>@item.PP</td>
                        <td>
                            @if(item.Accuracy != null)
                            {
                                @item.Accuracy
                            }
                            else
                            {
                                @("--");
                            }
                        </td>
                        <td>
                            <a href="@(Url.Action("Move", "Edit", new { id = item.Id }))">Edit</a>
                            |
                            <a href="@(Url.Action("Move", "Delete", new { id = item.Id }))">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>