@model IEnumerable<Pokedex.DataAccess.Models.PokemonLocationDetail>;
@{
    Layout = "_Layout";
}

<div class="locationTable">
    @if (this.User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@this.Url.Action("PokemonLocationDetail", "Add")" role="button">Add Pokemon Availablility</a>
        </p>
    }
    <table class="table">
        <tr>
            <th scope="col">Pokemon</th>
            <th scope="col">Levels Available</th>
            <th scope="col">Capture Method</th>
            <th scope="col">Chance of Encounter</th>
            <th scope="col">Time of Day</th>
            <th scope="col">Season</th>
            <th scope="col">Weather</th>
            <th scope="col">SOS Summonable Only</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Pokemon.Name</td>
                <td>
                    @if(item.MinimumLevel == item.MaximumLevel)
                    {
                        @string.Concat("Level ", item.MaximumLevel);
                    }
                    else
                    {
                        @string.Concat("Level ", item.MinimumLevel, '-', item.MaximumLevel);
                    }
                </td>
                <td>@item.CaptureMethod.Name</td>
                <td>@string.Concat(item.ChanceOfEncounter, '%')</td>
                <td>
                    @if (item.Time != null)
                    {
                        @item.Time.Name;
                    }
                </td>
                <td>
                    @if (item.Season != null)
                    {
                        @item.Season.Name;
                    }
                </td>
                <td
                >@if (item.Weather != null)
                    {
                        @item.Weather.Name;
                    }
                </td>
                <td>
                    @if (item.CaptureMethod != null)
                    {
                        @item.CaptureMethod.Name;
                    }
                </td>
                <td>
                    <a href="@(this.Url.Action("Location", "Edit", new { id = item.Id }))">Edit</a>
                    @if (this.User.IsInRole("Owner"))
                    {
                        @('|')
                        <a href="@(this.Url.Action("Location", "Delete", new { id = item.Id }))">Delete</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>