@model Pokedex.Models.DropdownViewModel;
@{
    Layout = "_Layout";
}

@section styles
{
    <link href="/css/tabContent.css" rel="stylesheet" type="text/css" />
    <link href="/css/typechart.css" rel="stylesheet" type="text/css" />
    <style>
        main {
            max-width: 1220px !important;
        }
    </style>
}

@section scripts
{
    <script src="/js/tabContent.js" type="text/javascript"></script>
}

<p class="adminButtons">
    @if(User.IsInRole("Owner"))
    {
        <a class="btn btn-primary" href="@Url.Action("Pokemon", "Add")" role="button">Add Pokemon</a>
    }
    @if(!@Model.AllPokemon.SlowConnection)
    {
        <a class="btn btn-primary" href="@Url.Action("Pokemon", "Admin", new { slowConnection = true })">View As Table (Use For Slower Connections)</a>
    }
    else
    {
        <a class="btn btn-primary" href="@Url.Action("Pokemon", "Admin")">Retrun To Grid</a>
    }
</p>
<div class="tab-list">
    @foreach(var id in Model.AllPokemon.AllPokemon.Select(x => x.Generation.Id).Distinct())
    {
        @if (id.IndexOf('-') == -1)
        {
            <button class="tab" onclick="openPage(event, 'Generation@(id)')">Generation @id</button>
        }
    }
</div>
@foreach(var gen in Model.AllPokemon.AllPokemon.Select(x => x.Generation.Id).Distinct())
{
    @if(@gen.IndexOf('-') == -1)
    {
        @if(!@Model.AllPokemon.SlowConnection)
        {
            <div class="tabcontent generation" id="Generation@(gen)">
                <div class="grid-container">
                    @foreach(var item in Model.AllPokemon.AllPokemon.Where(x => (x.Generation.Id == @gen) || (x.Generation.Id.IndexOf('-') > -1 && x.Generation.Id.Substring(0, x.Generation.Id.IndexOf('-')) == @gen)))
                    {
                        Model.Pokemon = item;
                        <div class="@item.Name">
                            <a href="@Url.Action("Pokemon", "Home", new { Name = @item.Name.Replace(": ", "_").Replace(' ', '_').ToLower()})">
                                <img class="pokemonListPicture" title="@item.Name.Replace('_', ' ')" src="@Url.Content("/images/pokemon/" + @item.Id + ".png")"/>
                            </a>
                            <div>
                                <a href="@Url.Action("Pokemon", "Home", new { Name = @item.Name.Replace(": ", "_").Replace(' ', '_').ToLower()})" class="pokemonName">@('#')@item.Id @item.Name.Replace('_', ' ')</a>
                                <br>
                                @await Html.PartialAsync("_AdminPokemonDropdownPartial", Model)
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="tabcontent generation" id="Generation@(gen)">
                <table class="table">
                    <tr>
                        <th scope="col">Pokedex Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                    @foreach(var item in Model.AllPokemon.AllPokemon.Where(x => (x.Generation.Id == @gen) || (x.Generation.Id.IndexOf('-') > -1 && x.Generation.Id.Substring(0, x.Generation.Id.IndexOf('-')) == @gen)))
                    {
                        Model.Pokemon = item;
                        <tr>
                            <td>@item.Id</td>
                            <td><a href="@Url.Action("Pokemon", "Home", new { Name = @item.Name.Replace(": ", "_").Replace(' ', '_').ToLower()})">@item.Name.Replace('_', ' ')</a></td>
                            <td>
                                @await Html.PartialAsync("_AdminPokemonDropdownPartial", Model)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    }
}