@model List<Pokedex.DataAccess.Models.ShinyHunt>;
@{
    Layout = "_Layout";
}

@section styles
{
    <link href="/css/tabContent.css" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="/js/tabContent.js"></script>
}

<div class="tab-list">
    @foreach(var user in Model.GroupBy(x => x.UserId))
    {
        <button class="tab" onclick="openPage(event, '@user.First().User.Username')">@user.First().User.Username</button>
    }
</div>
@foreach(var user in Model.GroupBy(x => x.UserId))
{
    <div class="tabcontent" id="@user.First().User.Username">
        <div class="tab-list displayBlock">
            <button class="tab" onclick="openPage(event, 'huntsInProgress@(user.First().User.Id)', '@user.First().User.Username')">Hunts In Progress</button>
            <button class="tab" onclick="openPage(event, 'huntsCompleted@(user.First().User.Id)', '@user.First().User.Username')">Hunts Completed</button>
            <button class="tab" onclick="openPage(event, 'huntsFailed@(user.First().User.Id)', '@user.First().User.Username')">Hunts Failed</button>
        </div>
        <div class="tabcontent" id="huntsInProgress@(user.First().User.Id)">
            @if (user.Where(x => !x.HuntComplete).ToList().Count > 0)
            {
                <table class="table pokemonHunt huntInProgressTable">
                    <tbody>
                        <tr>
                            <th scope="col">Pokemon</th>
                            <th scope="col">
                                Game@{
                                    foreach(var hunt in user)
                                    {
                                        if (hunt.Generation.Games.Contains('/'))
                                        {
                                            @("(s)");
                                            break;
                                        }
                                    }
                                }
                            </th>
                            <th scope="col">Technique</th>
                            @{
                                foreach(var hunt in user)
                                {
                                    if (hunt.Generation.ReleaseDate >= new DateTime(2012, 10, 7))
                                    {
                                        <th scope="col">Used Shiny Charm</th>
                                        break;
                                    }
                                }
                            }
                            <th scope="col">Number of Attempts</th>
                            <th scope="col">Actions</th>
                        </tr>
                        @foreach(var hunts in user.Where(x => !x.HuntComplete))
                        {
                            <tr>
                                <td>@hunts.Pokemon.Name</td>
                                <td>@hunts.Generation.Games</td>
                                <td>@hunts.ShinyHuntingTechnique.Name</td>
                                @{
                                    foreach(var hunt in user)
                                    {
                                        if (hunt.Generation.ReleaseDate >= new DateTime(2012, 10, 7))
                                        {
                                            <td>@(@hunts.HasShinyCharm ? "Yes" : "No")</td>
                                            break;
                                        }
                                    }
                                }
                                <td>@hunts.ShinyAttemptCount</td>
                                <td>
                                    <a href="@(Url.Action("ShinyHunt", "Edit", new { id = hunts.Id }))">Edit</a>
                                    @('|')
                                    @if(!hunts.IsArchived)
                                    {
                                        <a href="@(Url.Action("ShinyHunt", "Archive", new { id = hunts.Id }))">Archive</a>
                                    }
                                    else
                                    {
                                        <a href="@(Url.Action("ShinyHunt", "Unarchive", new { id = hunts.Id }))">Unarchive</a>
                                    }
                                    @if(User.IsInRole("Owner"))
                                    {
                                        @('|')
                                        <a href="@(Url.Action("ShinyHunt", "Delete", new { id = hunts.Id }))">Delete</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="noPokemonHunting">No pokemon are being hunted right now.</div>
            }
        </div>
        <div class="tabcontent" id="huntsCompleted@(user.First().User.Id)">
            @if(user.Where(x => x.HuntComplete & x.IsPokemonCaught).ToList().Count > 0)
            {
                <table class="table pokemonHunt huntCompleteTable">
                    <tbody>
                        <tr>
                            <th scope="col">Pokemon</th>
                            <th scope="col">
                                Game@{
                                    foreach(var hunt in user)
                                    {
                                        if (hunt.Generation.Games.Contains('/'))
                                        {
                                            @("(s)");
                                            break;
                                        }
                                    }
                                }
                            </th>
                            <th scope="col">Technique</th>
                            @{
                                foreach(var hunt in user)
                                {
                                    if (hunt.Generation.ReleaseDate >= new DateTime(2012, 10, 7))
                                    {
                                        <th scope="col">Used Shiny Charm</th>
                                        break;
                                    }
                                }
                            }
                            <th scope="col">Number of Attempts</th>
                            <th scope="col">Actions</th>
                        </tr>
                        @foreach(var hunts in user.Where(x => x.IsPokemonCaught && x.HuntComplete))
                        {
                            <tr>
                                <td>@hunts.Pokemon.Name</td>
                                <td>@hunts.Generation.Games</td>
                                <td>@hunts.ShinyHuntingTechnique.Name</td>
                                @{
                                    foreach(var hunt in user)
                                    {
                                        if (hunt.Generation.ReleaseDate >= new DateTime(2012, 10, 7))
                                        {
                                            <td>@(@hunts.HasShinyCharm ? "Yes" : "No")</td>
                                            break;
                                        }
                                    }
                                }
                                <td>@hunts.ShinyAttemptCount</td>
                                <td>
                                    <a href="@(Url.Action("ShinyHunt", "Edit", new { id = hunts.Id }))">Edit</a>
                                    @('|')
                                    @if(!hunts.IsArchived)
                                    {
                                        <a href="@(Url.Action("ShinyHunt", "Archive", new { id = hunts.Id }))">Archive</a>
                                    }
                                    else
                                    {
                                        <a href="@(Url.Action("ShinyHunt", "Unarchive", new { id = hunts.Id }))">Unarchive</a>
                                        @if(User.IsInRole("Owner"))
                                        {
                                            @('|')
                                            <a href="@(Url.Action("ShinyHunt", "Delete", new { id = hunts.Id }))">Delete</a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="noPokemonHunting">No hunts have been completed.</div>
            }
        </div>
        <div class="tabcontent" id="huntsFailed@(user.First().User.Id)">
            @if(user.Where(x => x.HuntComplete && !x.IsPokemonCaught).ToList().Count > 0)
            {
                <table class="table pokemonHunt huntFailedTable">
                    <tbody>
                        <tr>
                            <th scope="col">Pokemon</th>
                            <th scope="col">
                                Game@{
                                    foreach(var hunt in user)
                                    {
                                        if (hunt.Generation.Games.Contains('/'))
                                        {
                                            @("(s)");
                                            break;
                                        }
                                    }
                                }
                            </th>
                            <th scope="col">Technique</th>
                            @{
                                foreach(var hunt in user)
                                {
                                    if (hunt.Generation.ReleaseDate >= new DateTime(2012, 10, 7))
                                    {
                                        <th scope="col">Used Shiny Charm</th>
                                        break;
                                    }
                                }
                            }
                            <th scope="col">Number of Attempts</th>
                            <th scope="col">Actions</th>
                        </tr>
                        @foreach(var hunts in user.Where(x => !x.IsPokemonCaught && x.HuntComplete))
                        {
                            <tr>
                                <td>@hunts.Pokemon.Name</td>
                                <td>@hunts.Generation.Games</td>
                                <td>@hunts.ShinyHuntingTechnique.Name</td>
                                @{
                                    foreach(var hunt in user)
                                    {
                                        if (hunt.Generation.ReleaseDate >= new DateTime(2012, 10, 7))
                                        {
                                            <td>@(@hunts.HasShinyCharm ? "Yes" : "No")</td>
                                            break;
                                        }
                                    }
                                }
                                <td>@hunts.ShinyAttemptCount</td>
                                <td>
                                    <a href="@(Url.Action("ShinyHunt", "Edit", new { id = hunts.Id }))">Edit</a>
                                    @('|')
                                    @if(!hunts.IsArchived)
                                    {
                                        <a href="@(Url.Action("ShinyHunt", "Archive", new { id = hunts.Id }))">Archive</a>
                                    }
                                    else
                                    {
                                        <a href="@(Url.Action("ShinyHunt", "Unarchive", new { id = hunts.Id }))">Unarchive</a>
                                        @if(User.IsInRole("Owner"))
                                        {
                                            @('|')
                                            <a href="@(Url.Action("ShinyHunt", "Delete", new { id = hunts.Id }))">Delete</a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="noPokemonHunting">No hunts have been failed.</div>
            }
        </div>
    </div>
}