@model Pokedex.Models.ShinyHuntViewModel;
@{
    Layout = "_Layout";
}

<div class="typeTable">
    @if(User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@Url.Action("AddShinyHuntingTechnique", "Owner")" role="button">Add Shiny Hunting Technique</a>
        </p>
    }
    <table class="table">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Technique</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach(var item in Model.AllShinyHuntingTechniques)
        {
            <tr>
                <td>
                    @item.Name
                    @if(item.IsArchived == true)
                    {
                        @("(Archived)")
                    }
                </td>
                <td>@item.Technique</td>
                <td>
                    <a href="@(Url.Action("EditShinyHuntingTechnique", "Admin", new { id = item.Id }))">Edit</a>
                    @if(!(Model.AllShinyHunters.Exists(x => x.ShinyHuntingTechnique.Id == item.Id)))
                    {
                        @('|')
                        @if(!item.IsArchived)
                        {
                            <a href="@(Url.Action("ArchiveShinyHuntingTechnique", "Admin", new { id = item.Id }))">Archive</a>
                        }
                        else
                        {
                            <a href="@(Url.Action("UnarchiveShinyHuntingTechnique", "Admin", new { id = item.Id }))">Unarchive</a>
                            @if(User.IsInRole("Owner"))
                            {
                                @('|')
                                <a href="@(Url.Action("DeleteShinyHuntingTechnique", "Owner", new { id = item.Id }))">Delete</a>
                            }
                        }
                    }
                </td>
            </tr>
        }
    </table>
</div>