@model Pokedex.Models.TypeViewModel;
@{
    Layout = "_Layout";
}

<div class="typeTable">
    @if(User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@Url.Action("Type", "Add")" role="button">Add Type</a>
        </p>
    }
    <table class="table">
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach(var item in Model.AllTypes)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <a href="@(Url.Action("Type", "Edit", new { id = item.Id }))">Edit Name</a>
                    |
                    <a href="@(Url.Action("TypeEffectiveness", "Edit", new { id = item.Id }))">Edit Effectiveness</a>
                    @if(!(Model.AllPokemon.Exists(x => x.PrimaryType.Id == item.Id) || Model.AllPokemon.Exists(x => x.SecondaryType != null && x.SecondaryType.Id == item.Id)))
                    {
                        @('|')
                        <a href="@(Url.Action("Type", "Delete", new { id = item.Id }))">Delete</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>