@model Pokedex.Models.TypeViewModel;
@{
    Layout = "_Layout";
}

<div class="typeTable">
    @if (this.User.IsInRole("Owner"))
    {
        <p>
            <a class="btn btn-primary" href="@this.Url.Action("Type", "Add")" role="button">Add Type</a>
        </p>
    }
    <table class="table">
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach (var item in Model.AllTypes)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <a href="@(this.Url.Action("Type", "Edit", new { id = item.Id }))">Edit</a>
                    @if (item.GenerationId <= 1)
                    {
                        @("|")
                        <a href="@(this.Url.Action("TypeEffectiveness", "Edit", new { id = item.Id, genId = 1 }))">Edit Gen 1 Effectiveness</a>
                    }

                    @if (item.GenerationId <= 2)
                    {
                        @("|")
                        <a href="@(this.Url.Action("TypeEffectiveness", "Edit", new { id = item.Id, genId = 2 }))">Edit Gen 2 Effectiveness</a>
                    }
                    
                    |
                    <a href="@(this.Url.Action("TypeEffectiveness", "Edit", new { id = item.Id, genId = 6 }))">Edit Gen 6 Effectiveness</a>
                    
                    @if (!(Model.AllPokemon.Exists(x => x.PrimaryType.Id == item.Id) || Model.AllPokemon.Exists(x => x.SecondaryType != null && x.SecondaryType.Id == item.Id)))
                    {
                        @('|')
                        <a href="@(this.Url.Action("Type", "Delete", new { id = item.Id }))">Delete</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>